
section.RankEditor(data-role="section", style='font-size: 16px; border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;', data-color='rgb(166, 91, 203)', data-custom='rgb(166, 91, 203)')
    section(style='margin-right: auto; margin-left: auto;')
      section(style='width: 100%; display: inline-block;', data-width='100%')
        section(style='border: 1px solid #33ebe4; padding: 4px; float: left;')
          section.white(style='display: inline-block; width: 40px; padding: 10px; color: rgb(255, 255, 255); background-color:#33ebe4;')
            p.brush(style='font-size: 18px; text-align: center;') &#x5348;&#x540E;&#x65F6;&#x5149;
        section(style='width: 80%; float: left; padding-left: 10px;', data-width='80%')
          p
            img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453790890985051967.png', width='100%', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453790867143070522.png', alt='25ddfbb8a614488b56b13e5b0ab9e1d3c481454b1dbc24-PHp5jw_fw658.png', style='width: 100%;', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453790890985051967.png')
