
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin-bottom: 2px; margin-left: 4px; border-color: rgb(245, 245, 244); width: 65%;')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20151230/1451458614207096527.jpg', style='border-color: rgb(245, 245, 244); color: inherit; width: 100%;', title='1451458593883069034.jpg', alt='rBACFFHwpEvAcab5AAFclXYE7QY062_600x.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20151230/1451458614207096527.jpg')
    section(style='margin: -80px 10px 2px 4px; border-color: rgb(245, 245, 244); text-align: right;')
      section.white(style='display: inline-block; width: 70%; border-color: rgb(214, 214, 173); color:rgb(255,140,0);background-color: rgba(245, 245, 244, 0.901961);')
        section(style='c;padding: 15px; border-color: rgb(245, 245, 244);')
          p(style='border-color: rgb(245, 245, 244); text-align: left; white-space: normal;')
            span
              span.brush(style='font-size: 20px;') Newrank
          p(style='border-color: rgb(245, 245, 244); text-align: left; white-space: normal;')
            span.brush(style='font-size: 14px;') From
          p(style='color: inherit; text-align: left; white-space: normal;')
            br
          p(style='color: inherit; text-align: left; white-space: normal;')
            br
