
section.RankEditor(data-role="section", style='position: static; border: 0px none; padding: 0px;', data-color='rgb(89, 195, 249)', data-custom='rgb(89, 195, 249)')
  section(style='border: 0px rgb(89, 195, 249);')
    section(style='margin-top: 5px; margin-right: 70px; color: inherit;')
      p(style='color: inherit; white-space: normal;')
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453889306947014470.jpg', style='color: inherit; width: 100%;', data-width='100%', alt='674ece36c82a3a5bd1a56de7b4a89084239face76111-ShFAj9_fw658.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453889306947014470.jpg')
      section(style='padding: 5px 10px;')
        p(style='text-align: right; color: inherit; font-size: 20px; white-space: normal;')
          span.active.brush(style='color: rgb(84, 141, 212); font-size: 18px;') &#x6211;&#x4EEC;&#x7684;&#x7EAA;&#x5FF5;&#x65E5;
      section(style='width: 150px; float: right; padding: 25px 30px; margin-top: -120px; margin-left: 0em; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; opacity: 0.35; color: rgb(255, 255, 255); border-color: rgb(89, 195, 249); background-color: rgb(89, 195, 249); margin-right: -70px; height: 150px !important;')
        section(style='padding-top: 0.5em; padding-bottom: 0.5em; color: inherit; text-align: inherit; font-size: 1em; font-weight: inherit; text-decoration: inherit; border-color: rgb(89, 195, 249);')
  section(style='width: 0px; height: 0px; clear: both;')
