
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  p(style='white-space: normal;')
    br
  section.RankEditor(data-role="section", style='font-size: 16px; border: 0px none; padding: 0px;')
    section(style='position: static; border: 0px none;')
      section(style='width: 100%; clear: both; overflow: hidden; text-align: center;', data-width='100%')
        section(style='width: 80%; float: right; padding-left: 0.1em;', data-width='80%')
          img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453889630492080687.jpg', style='width: 100%; height: auto !important;', width='100%', height='auto', border='0', alt='188ac4e150ee8c91b145149b17dcf959c0d359d3c769-uoUUQz_fw658.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453889630492080687.jpg')
        section(style='display: inline-block; width: 20%; padding-right: 0.1em; padding-left: 10px;', data-width='20%')
          section(style='border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; width: 3em; height: 3em; border: 2px solid rgb(255,140,0);')
            section.active(style='padding-top: 4px; padding-bottom: 4px; color: rgb(255,140,0); font-weight: inherit; text-decoration: inherit;')
              p(style='white-space: normal;')
                span(style='font-size: 1.5em;') 27
          section(style='width: 3em; height: 3em;')
            section(style='margin-right: 0.3em; padding-top: 6px; padding-bottom: 6px; color: rgb(33, 33, 34); font-weight: inherit; text-decoration: inherit;')
              p(style='white-space: normal;')
                span.active(style='font-size: 16px; color: rgb(255,140,0);') 01
                span.brush(style='font-size: 16px;')
                  br
                  br
                  span(style='font-size: 16px; color: rgb(121,121,121);') n
                  br
                  | e
                  br
                  | w
                  br
                  span.active(style='font-size: 16px; color:  rgb(121,121,121);') r
                  br
                  | a
                  br
                  | n
                  br
                  span.active(style='font-size: 16px; color: rgb(118, 146, 60);') k
