
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;', data-id='85548', data-color='#fff10c', data-custom='rgb(194, 201, 42)')
    section(style='margin-top: 5px; margin-bottom: 10px; line-height: 24px; color: rgb(255, 255, 255); border-color: rgb(194, 201, 42); background-color: #fff10c;')
      section(style='clear: both; color: inherit;')
        section(style='color: inherit; float: right; width: 10px; margin-bottom: -3px; border-color: rgb(194, 201, 42); margin-right: 10px; background-color: rgb(254, 254, 254); height: 10px !important;')
        section(style='color: inherit; float: left; width: 10px; margin-bottom: -3px; border-color: rgb(194, 201, 42); margin-left: 10px; background-color: rgb(254, 254, 254); height: 10px !important;')
      section(style='padding-top: 10px; color: inherit; border-color: rgb(194, 201, 42);')
        section(style='color: inherit; float: right; width: 10px; margin-bottom: -10px; border-color: rgb(194, 201, 42); background-color: rgb(254, 254, 254); height: 10px !important;')
        section(style='color: inherit; float: left; width: 10px; margin-bottom: -10px; border-color: rgb(194, 201, 42); background-color: rgb(254, 254, 254); height: 10px !important;')
        p(style='color: inherit; padding-right: 10px; padding-left: 10px; border-color: rgb(194, 201, 42); line-height: 0.5em;')
          img(alt='50e1209d252fd.jpg', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160303/1456997921575086196.jpg', style='border-color: rgb(194, 201, 42); color: inherit; width: 100%;', title='1453102389863085039.jpg', vspace='0', width='100%', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160303/1456997921575086196.jpg')
      section(style='border: 0px none rgb(194, 201, 42); clear: both; color: inherit;')
        section(style='color: inherit; float: left; width: 10px; margin-top: -10px; border-color: rgb(194, 201, 42); background-color: rgb(254, 254, 254); height: 10px !important;')
        section(style='color: inherit; float: right; width: 10px; margin-top: -10px; border-color: rgb(194, 201, 42); background-color: rgb(254, 254, 254); height: 10px !important;')
        section(style='color: inherit; float: right; width: 10px; border-color: rgb(194, 201, 42); margin-right: 10px; background-color: rgb(254, 254, 254); height: 10px !important;')
        section(style='color: inherit; width: 10px; border-color: rgb(194, 201, 42); margin-left: 10px; background-color: rgb(254, 254, 254); height: 10px !important;')
          br
    section(style='width: 0px; height: 0px; clear: both;')
