
section.RankEditor(data-role="section", style='margin-top: 10px; margin-bottom: 10px; font-size: 15.5556px; line-height: 27.7778px; white-space: normal; position: static; border: 0px none; padding: 0px;')
  section(data-width='100%', style='margin-top: 1.5em; width: 555.5555419921875px;')
    section(data-width='80%', style='margin: auto; width: 444.4444580078125px; position: static; text-align: right;')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20151229/1451383729245032751.png', data-ratio='1', data-w='56', style='margin-top: -0.5em; margin-left: -0.5em; width: 3.5em; vertical-align: middle; position: static; -webkit-transform: rotateZ(-0.1deg); height: auto !important;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20151229/1451383729245032751.png')
      section(style='margin-top: -1.8em; padding-bottom: 10px; text-align: center;')
        section(style='padding-right: 1em; position: static;')
          img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20151229/1451383729485061057.jpg', width='100%', height='', border='0', data-width='100%', url='http://img.xdnphb.com/ueditor/edit/upload/image/20160408/1460099019352029166.jpg', file_id='401265779', format='jpeg', copyright_status='0', source='upload', data-type='jpeg', data-s='300,640', data-ratio='0.6666666666666666', data-w='429', style='border: 10px solid white; box-shadow: rgb(102, 102, 102) 2px 2px 5px; vertical-align: middle; width: 428.4548645019531px; height: auto !important;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20151229/1451383729485061057.jpg')
    section(style='padding: 10px;')
      p(style='margin-top: 0px; margin-bottom: 0px; clear: both; text-align: center;')
        span(style='font-size: 16px;')
      p(style='clear: both; line-height: normal; text-align: center;')
        span.active.brush(style="color: rgb(121,121,121); font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif; font-size: 14px; line-height: 24px; text-align: justify;") &#x5E74;&#x5E74;&#x5C81;&#x5C81;&#x82B1;&#x76F8;&#x4F3C;
      p(style='clear: both; line-height: normal; text-align: center;')
        span.active.brush(style="color: rgb(121,121,121); font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif; font-size: 14px; line-height: 24px; text-align: justify;") &#x5C81;&#x5C81;&#x5E74;&#x5E74;&#x4EBA;&#x4E0D;&#x540C;
