
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;', data-color='rgb(252, 180, 43)', data-custom='rgb(252, 180, 43)')
    section(style='margin-right: auto; margin-left: auto;')
      section.white(style='border: 3px solid #76e57b; border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; color: rgb(255, 255, 255); background-color:#76e57b;')
        section(style='border: 0px; width: 100%; clear: both; overflow: hidden; color: inherit;', data-width='100%')
          section(style='width: 85%; float: right; padding-left: 0.1em; line-height: 0.5em; color: inherit;', data-width='85%')
            img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455875094725053685.jpg', style='border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-right-radius: 12px; border-bottom-left-radius: 12px; color: inherit; width: 100%; height: auto !important;', width='100%', height='auto', border='0', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453779939744049147.jpg', alt='edeec5a7576bdcb1c92e9ef762a7e79340243304c7d11-kV4spc_fw658.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455875094725053685.jpg')
          section(style='float: left; width: 15%; text-align: center; color: inherit;', data-width='15%')
            section(style='padding: 3px 5px; font-weight: inherit; text-decoration: inherit; width: 40px; display: inline-block;')
              section(style='margin-top: 5px; display: inline-block; color: inherit;')
                p(style='margin-right: 6px; clear: none; color: inherit; font-weight: inherit; text-decoration: inherit; border-color: rgb(252, 180, 43);')
                  span(style='font-size:18px; line-height:2.5em')
                    strong.count 1
                  span(style='line-height: 1.5em;')
                    strong.brush &#x7528;&#x5B57;&#x8981;&#x5C11;
