
section.RankEditor(data-role="section", style='position: static; border: 0px none; padding: 0px; margin: 0px;')
  section(style='margin-top: 5px; text-align: center; position: static; padding: 0px;')
    section(style='position: static; -webkit-transform: rotate(5deg); padding: 0px; margin: 0px;')
      img(style='width:2.5em; margin-bottom: -1.4em; vertical-align: middle;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453876690612086521.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453876690612086521.jpg')
    section(style='display: inline-block; margin-top: -5px; padding: 0px;')
      img(style='vertical-align: middle; box-shadow: rgb(204, 204, 204) 0.3em 0.3em 0.3em; margin: 0px;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453876690743094875.jpg', border='0', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160127-1453876648526079295.jpg', alt='8b82b9014a90f60349f160183b12b31bb051ed28.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453876690743094875.jpg')
    section(style='margin: 10px; padding: 0px;')
      p(style='white-space: normal;')
        span.active.brush(style='color: #33ebe4; font-size: 14px;') &#x8F93;&#x5165;&#x56FE;&#x7247;&#x8BF4;&#x660E;
