
section.RankEditor(data-role="section", style='position: static; border: 0px none; padding: 0px;')
  p(style='margin: 0.5em auto; position: static; text-align: center;')
    img(style='border-top-left-radius: 3em; border-top-right-radius: 3em; border-bottom-right-radius: 3em; border-bottom-left-radius: 3em; vertical-align: middle;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453875322167003661.jpg', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160127-1453875274461000269.jpg', alt='6630427849931965320.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453875322167003661.jpg')
  p(style='text-align: center;')
    strong
      span.active.brush(style='font-size: 14px; color: rgb(121,121,121);') &#x56FE;&#x7247;&#x8BF4;&#x660E;
