
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;', data-color='rgb(190, 119, 99)', data-custom='rgb(190, 119, 99)')
    section(style='margin-top: 0.5em; margin-bottom: 0.5em; position: static;')
      section(style='display: inline-block; vertical-align: top; width: 50%; padding-right: 12px;', data-width='50%')
        section(style='margin-bottom: 0.5em; position: static;')
          section(style='display: inline-block; padding: 10px; vertical-align: top; width: 100%; border: 1px solid #33ebe4; box-shadow: rgb(204, 204, 204) 3px 3px 5px; margin-right: -20px; color: rgb(255, 255, 255);', data-width='100%')
            section
              p(style='white-space: normal;')
                span.active(style='font-size: 14px; color: #262626;')
                span.brush(style="color: rgb(121,121,121); font-family: zuoyeFont_mathFont, 'Microsoft Yahei', 宋体, sans-serif; line-height: 32px;") &#x5982;&#x679C;&#x51AC;&#x5929;&#x6765;&#x4E86;,&#x6625;&#x5929;&#x8FD8;&#x4F1A;&#x8FDC;&#x5417;?&nbsp;
                span(style='font-size: 14px; color: #262626;')
          section(style='display: inline-block; vertical-align: top; width: 0px; margin-top: 2em; margin-left: 19px;')
            section(style='width: 0px; border-left-width: 14px; border-left-style: solid; border-left-color: #33ebe4; border-right-color:#33ebe4; border-top-width: 10px !important; border-top-style: solid !important; border-top-color: transparent !important; border-bottom-width: 10px !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;')
            section(style='width: 0px; margin-top: -19px; margin-bottom: -19px; border-left-width: 12px; border-left-style: solid; border-left-color: rgb(255, 255, 255); border-right-color: rgb(121,121,121); border-top-width: 9px !important; border-top-style: solid !important; border-top-color: transparent !important; border-bottom-width: 9px !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;')
      section(style='display: inline-block; vertical-align: top; width: 50%;', data-width='50%')
        section(style='text-align: center; position: static;')
          img(style='vertical-align: middle;width:100%;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160106/1452076536171028221.jpg', data-width='100%', title='1452076530842057963.jpg', alt='花-01.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160106/1452076536171028221.jpg')
