
section.RankEditor(data-role="section", style='font-family: inherit; line-height: normal; white-space: normal; border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; font-size: 1.2em; text-decoration: inherit; color: rgb(42, 52, 58); padding: 0px;')
  section(style='display: inline-block; vertical-align: top; width: 291.359375px;')
    img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160107/1452161335570014426.jpg', title='1452161323759063796.jpg', alt='手-01.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160107/1452161335570014426.jpg')
  section(style='display: inline-block; vertical-align: top; width: 254.9375px; margin-left: 1.2em;')
    section(style='width: 0px; margin-top: 2em; margin-right: 22px; margin-left: -19px; display: inline-block; vertical-align: top;')
      section(style='width: 0px; border-right-width: 20px; border-right-style: solid; border-right-color: #57d9ff; border-top-width: 10px !important; border-top-style: solid !important; border-top-color: transparent !important; border-bottom-width: 10px !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;')
      section(style='width: 0px; margin-top: -19px; margin-bottom: -19px; margin-left: 3px; border-right-width: 18px !important; border-right-style: solid !important; border-right-color: rgb(255, 255, 255) !important; border-top-width: 9px !important; border-top-style: solid !important; border-top-color: transparent !important; border-bottom-width: 9px !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;')
    section(style='padding: 10px; margin-top: -2em; min-height: 4em; border: 1px solid #57d9ff; box-shadow: rgb(204, 204, 204) -3px 3px 5px;')
      section
        section
          span.active.brush(style="color: rgb(121,121,121); font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif; font-size: 15px; line-height: 24px; text-align: justify;") &#x6765;&#x8005;&#x662F;&#x840D;&#x6C34;&#x76F8;&#x9022;&#xFF0C;&#x53BB;&#x8005;&#x662F;&#x6C5F;&#x6E56;&#x76F8;&#x5FD8;...
