
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  p(style='white-space: normal;')
    br
  section(style='overflow: hidden; border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0px;')
    section(style='width: 30%; float: left;')
      img(style='width: 100%; height: auto !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453976336168013666.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453976336168013666.jpg')
      section.active(style='font-size: 2.5em; font-family: inherit; text-align: center; text-decoration: inherit; color: rgb(255,140,0);')
        section.brush &#x5929;&#x6C14;
        section
          br
        section.brush &#x771F;&#x597D;
    section(style='width: 65%; float: right;')
      section(style='font-size: 1em; font-family: inherit; text-decoration: inherit;')
        section
          span.active.brush(style='color: rgb(121,121,121); font-size: 14px;') &#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;
      img(style='width: 100%; height: auto !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453976336565091020.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453976336565091020.jpg')
