
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='text-align: center; border-style: none; clear: both; overflow: hidden; margin: 1em auto; background-position: initial initial; background-repeat: initial initial;')
    section(style='display: inline-block; padding: 1.5%; border: 1px solid rgb(121,121,121); margin-right: 2%; width: 49%;')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454053959702016558.jpg', style='display:block; width: 100%;', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160129-1454053896955085049.jpg', alt='dea5f67b615e0d005b5af1c2fdd1a95540aed7cd399f-5FO5Fl_fw658.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454053959702016558.jpg')
    section.color(style='padding: 1.5%; width: 49%; display: inline-block; border: 1px solid rgb(121,121,121);')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454053960074010110.jpg', style='display:block; width: 100%;', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160129-1454053915584079055.jpg', alt='dea5f67b615e0d005b5af1c2fdd1a95540aed7cd399f-5FO5Fl_fw658.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454053960074010110.jpg')
