
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  p(style='white-space: normal;')
    br
  section(style='font-size: 16px; border: 0px none; padding: 0px;')
    section(style='position: static; border: 0px none;', data-color='rgb(204, 164, 227)', data-custom='rgb(204, 164, 227)')
      section(style='border: none; margin: 5px;')
        section(style='color: rgb(78, 32, 104); font-size: 20px; letter-spacing: 3px; text-align: center; margin-right: auto; margin-left: auto; border: 2px solid #fff10c; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px;')
          section(style='width: 0px; height: 0px; border-width: 10px; border-style: solid; border-color: #fff10c transparent transparent #fff10c; border-top-left-radius: 4px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; z-index: 1; color: inherit;')
          section(style='display: inline-block; margin-top: 5px; margin-bottom: 5px; border-color: rgb(204, 164, 227); color: inherit; width: 100%;', data-width='100%')
            p(style='padding: 5px; font-size: 18px; white-space: normal;')
              span.active.brush(style='color: rgb(121,121,121);') &#x56FE;&#x7247;&#x540D;
            p(style='white-space: normal;')
              img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453888819685010025.jpg', style='border-color: rgb(198, 198, 198); color: inherit; width: 100%;', width='100%', height='', border='0', alt='b410acdfcecc762a182930a478c7af726c75d2157bbd-4AAwhI_fw658.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453888819685010025.jpg')
          section.135brush(style='padding: 5px; border-color: rgb(198, 198, 198); color: inherit;')
            p(style='white-space: normal;')
              span.active.brush(style='border-color: rgb(198, 198, 198); color: rgb(121,121,121); font-size: 16px;') &#x8BF7;&#x8F93;&#x5165;&#x56FE;&#x7247;&#x7684;&#x63CF;&#x8FF0;
