section.RankEditor(data-role="section", style='font-family: inherit; font-size: 1em; line-height: normal; white-space: normal; border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; text-decoration: inherit; color: rgb(136, 200, 151); padding: 0px;')
  section(style='width: 582.71875px; margin-right: auto; margin-bottom: -5px; margin-left: auto;')
    img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160107/1452162561676039333.png', title='1452162496048075498.png', alt='3b81f236f18e46d7bbf624369ca5465c81bfb348a8c77-dR0b0p_fw658.png', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160107/1452162561676039333.png')
  section(style='display: inline-block; vertical-align: top; width: 0px; margin-top: -13px; margin-left: 2em;')
    section(style='width: 0px; border-bottom-width: 24px; border-bottom-style: solid; border-bottom-color: transparent; border-top-color: transparent; border-left-width: 11px !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 11px !important; border-right-style: solid !important; border-right-color: transparent !important;')
    section(style='width: 0px; margin: -21px 1px 18px; border-bottom-width: 22px !important; border-bottom-style: solid !important; border-bottom-color: rgb(255, 255, 255) !important; border-left-width: 10px !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 10px !important; border-right-style: solid !important; border-right-color: transparent !important;')
  section(style='padding: 10px; width: 607px; margin-top: -20px; border: 1px solid transparent; box-shadow: rgb(204, 204, 204) 3px 3px 5px;')
    span(style='font-size: 14px;')
      strong
        span.active.brush(style='color: rgb(255,140,0);') &#x65B0;&#x699C; | NEWRANK.CN
