
section.RankEditor(data-role="section", style='margin: 2em auto 1em; border: 0px none; text-align: center; width: 20em; padding: 0px;')
  section(style='margin: 1em auto; width: 20em; overflow: hidden;')
    img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454050264872024508.jpg', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160129-1454050112955087438.jpg', alt='1-140FQ61T2.jpg', style='display: inline-block; vertical-align: top; width: 20em; height: auto !important;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454050264872024508.jpg')
    section(style='margin-left: -2em; height: 0px; border-style: solid; border-width: 2em 0em 2em 2em; border-color: rgb(255, 255, 255) transparent transparent; display: inline-block; vertical-align: top; width: 0px;')
  section(style='width: 20em; text-align: left; overflow: hidden;')
    img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454050266339097313.jpg', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160129-1454050121145062278.jpg', alt='8cec8658ccbf6c81b532166ebc3eb13532fa4098.jpg', style='display: inline-block; vertical-align: bottom; width: 20em; height: auto !important;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454050266339097313.jpg')
    section(style='margin-left: -20em; height: 0px; border-style: solid; border-width: 2em 2em 2em 0em; border-color: transparent transparent rgb(255, 255, 255); display: inline-block; vertical-align: bottom; width: 0px;')
