
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0px; text-align: center;')
  section(style='-webkit-box-shadow: rgba(159, 160, 160, 0.498039) 0px 0px 10px; box-shadow: rgba(159, 160, 160, 0.498039) 0px 0px 10px; padding: 10px; width: 65%; display: inline-block; vertical-align: top;')
    section(style='-webkit-box-shadow: rgba(0, 0, 0, 0.290196) 0px 0px 10px inset; box-shadow: rgba(0, 0, 0, 0.290196) 0px 0px 10px inset; padding: 7px;')
      img(style='float: left; width: 100%; text-align: start; height: auto !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452249698922094254.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452249698922094254.jpg')
