
section.RankEditor(data-role="section", style='border: 0px none; width: 100%; clear: both; margin-top: 0.8em; margin-bottom: 0.5em; overflow: hidden; padding: 0px;')
  section(style='width: 65%; float: left; padding-right: 0.1em;')
    img(style='width: 100%; height: auto !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452237969083092536.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452237969083092536.jpg')
  section(style='display: inline-block; width: 35%; float: left; padding-left: 0.1em;')
    section.active(style='margin-right: 4px; padding: 4px 6px; color: rgb(255,140,0); font-size: 1.2em; border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(121,121,121); font-family: inherit; text-decoration: inherit;')
      section
        strong.brush &#x65B0;&#x699C;
    section.active(style='margin-right: 0.3em; padding: 0.3em 0.5em; color: rgb(121,121,121); font-size: 0.9em; font-family: inherit; text-decoration: inherit;')
      section.brush &#x6211;&#x559C;&#x6B22;&#x5F39;&#x5409;&#x4ED6;
