
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  p(style='text-align: center; border: 0px none; padding: 0px;')
    img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160105/1451982766418059065.jpg', style='font-size: 16px; line-height: normal; text-align: center; white-space: normal; height: auto !important;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160105/1451982766418059065.jpg')
    br(style='font-size: 16px; line-height: normal; text-align: center; white-space: normal;')
    span(style='font-size: 16px; line-height: normal; text-align: center;')
    span.active.brush(style='line-height: normal; text-align: center; color: rgb(121,121,121); font-size: 14px;') &#x672A;&#x592E;&#xFF0C;&#x6D41;&#x661F;&#x843D;&#xFF0C;&#x60C5;&#x5DF2;&#x6B87;&#x3002;&#x7231;&#x5728;&#x591C;&#x8272;&#x91CC;&#x6C38;&#x8FDC;&#x662F;&#x4F20;&#x5947;&#x3002; &mdash;&mdash; &#x6765;&#x6E90;&#x4E8E;&#x7F51;&#x7EDC;
