
section.RankEditor(data-role="section", style='font-size: 16px; border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;', data-color='rgb(182, 228, 253)', data-custom='rgb(182, 228, 253)')
    section(style='padding: 4px; line-height: 0em; background-color:#57d9ff; color: rgb(121,121,121);')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456476437917049627.jpg', style='width: 100%;', width='100%', data-width='100%', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453803884279028978.jpg', alt='54fbb2fb43166d221570fbf1452309f79052d254.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456476437917049627.jpg')
