
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  p(style='white-space: normal;')
    br
  section(style='font-size: 16px; border: 0px none; padding: 0px;')
    section(style='position: static; border: 0px none;')
      section(style='display: inline-block; vertical-align: top; width: 95%; margin-left: 1em;', data-width='95%')
        section(style='border-left-width: 1px; border-left-style: solid; border-color:#f58fc6; height: 1.2em;')
        section(style='border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; margin-left: -1em; display: inline-block; width: 2em; height: 2em;')
          img(style='height: 100%; vertical-align: middle; width: 100%;border-radius:50%;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453965355312091345.jpg', data-width='100%', alt='猫猫.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453965355312091345.jpg')
        section(style='border-left-width: 1px; border-left-style: solid; border-color: #f58fc6; margin-top: -2.5em; padding-bottom: 0.5em;')
          section(style='vertical-align: middle; padding-top: 10px; padding-left: 25px;')
            section
              section(style='position: static;')
                section(style='padding-bottom: 8px; text-align: right;')
                  section(style='text-align: left;')
                    span.active.title(style='color: #f58fc6; font-size: 18px;') &#x8F93;&#x5165;&#x6807;&#x9898;
            section.brush
              p(style='white-space: normal;')
                span(style='font-size: 14px;')
                span.active(style='font-size: 14px; color: rgb(121,121,121);') &#x4F60;&#x662F;&#x8EAB;&#x5F71;&#x4E00;&#x76F4;&#x9065;&#x8FDC;&#x800C;&#x6A21;&#x7CCA;&#xFF0C;
              p(style='white-space: normal;')
                span.active(style='font-size: 14px; color: rgb(121,121,121);') &#x8F7B;&#x7ED5;&#x7740;&#x6211;&#x7684;&#x5FC3;&#xFF0C;
              p(style='white-space: normal;')
                span.active(style='font-size: 14px; color: rgb(121,121,121);') &#x4E0D;&#x79BB;&#x4E0D;&#x5F03;&#xFF0C;
              p(style='position: static; white-space: normal;')
                span.active(style='font-size: 14px; color: rgb(121,121,121);')
                  | &#x591A;&#x5C11;&#x826F;&#x8FB0;&#x7F8E;&#x666F;&#xFF0C;
                  br
              p(style='white-space: normal;')
                span.active(style='font-size: 14px; color: rgb(121,121,121);') &#x591A;&#x5C11;&#x68A6;&#x91CC;&#x98DE;&#x82B1;&#xFF0C;
              p(style='white-space: normal;')
                span.active(style='font-size: 14px; color: rgb(121,121,121);') &#x591A;&#x5C11;&#x60C5;&#x7231;&#x7F31;&#x7EFB;&#xFF0C;
              p(style='position: static; white-space: normal;')
                span.active(style='font-size: 14px; color: rgb(121,121,121);') &#x591A;&#x5C11;&#x8033;&#x8BED;&#x8F7B;&#x8A00;...
            p(style='margin-top: 10px; white-space: normal;')
              img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453965355858085078.jpg', alt='猫猫.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453965355858085078.jpg')
