
section.RankEditor(data-role="section", style='position: static; border: 0px none; padding: 0px; margin: 0px;')
  section(style='margin: 0px auto; padding: 0px;')
    section(style='font-size: 16px; margin-bottom: -25px; padding: 0px;')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456472007566024542.jpg', style='border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(159, 136, 127); width: 100%; margin: 0px;', width='100%', height='', border='0', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453787464322060176.jpg', alt='d399ec75cdf29b0d394b4989ff2e6aa92392a9cd1656f-z7AsQ8_fw658.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456472007566024542.jpg')
    section(style='font-size: 16px; margin-left: 20px; display: inline-block; padding: 0px;')
      section(style='display: inline-block; margin-right: 5px; padding: 0px;')
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456472008216095993.jpg', style='border: 2px solid rgb(159, 136, 127); margin: 0px; width: 76px !important; height: 76px !important;', width='76', height='76', border='0', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453787475743021443.jpg', alt='0e6e8db81a8c74040e432e9cd79168c46dc963a811a80-S2DqAe_fw658.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456472008216095993.jpg')
      section(style='display: inline-block; padding: 0px; margin: 0px;')
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456472008749059590.jpg', style='border: 2px solid rgb(159, 136, 127); margin: 0px; width: 76px !important; height: 76px !important;', width='76', height='76', border='0', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453787483000011253.jpg', alt='0e6e8db81a8c74040e432e9cd79168c46dc963a811a80-S2DqAe_fw658.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456472008749059590.jpg')
    section(style='text-align: right; line-height: 1.75em; margin-top: -35px; padding: 0px;')
      p(style='white-space: normal;')
        span.active.brush(style='font-size: 27.77777862548828px; color: #fff10c;') [ &#x6211;&#x7231;&#x7684;&#x5C0F;&#x732B; ]
