
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='text-align: center; border-style: none; clear: both; margin: 1em auto; background-position: initial initial; background-repeat: initial initial;')
    section(style='display: inline-block; vertical-align: bottom; padding-top: 10px; padding-right: 8px; line-height: 1.5; font-size: 14px; text-align: right; width: 50%;')
      section(style='font-size: 20px')
        p(style='display: inline-block; margin-top: 0px; margin-bottom: 0px;')
          span.active.title(style='color: #f05454;font-size:20px') &#x6807; &#x9898;&nbsp;
      p(style='margin-top: 0px; margin-bottom: 0px;')
        span.active.brush(style="color: rgb(121,121,121); font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif; font-size: 12px; line-height: 24px; text-align: justify;")
          | &#x591A;&#x5C11;&#x7684;&#x6D77;&#x8A93;&#x5C71;&#x76DF;
          br
          | &#x5982;&#x6CBF;&#x9014;&#x7684;&#x98CE;&#x666F;&#x82B1;&#x5F00;&#x82B1;&#x8C22;
    section(style='padding: 0.5em; vertical-align: bottom; width: 49%; box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 4px; display: inline-block; background-position: initial initial; background-repeat: initial initial;')
      img(style='width: 100%;\
      height: auto;\
      vertical-align: middle;\
      display: inline-block;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454052011857063253.jpg', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160129-1454051889247041266.jpg', alt='46307058e4c14b8027c388426dde9a397443ee1d31b6b-uE1CUf_fw658.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454052011857063253.jpg')
