
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='border-style: none; clear: both; overflow: hidden; margin: 1em auto; background-position: initial initial; background-repeat: initial initial;')
    section(style='display: inline-block; vertical-align: bottom; border: 1px solid #57d9ff; margin-right: 2%; padding: 10px 8px; line-height: 1.5; font-size: 14px; color: rgb(121,121,121); width: 49%;')
      p(style='font-size: 20px; margin-top: 0px; margin-bottom: 0px; text-align: center;')
        span.active.title(style='color:#57d9ff;font-size:16px;') &#x5929;&#x9E45;&#x6E56;
      p(style='margin-top: 0px; margin-bottom: 0px;')
        span.active.brush(style='color: rgb(121,121,121);font-size: 12px;') &#x53C8;&#x5F00;&#x59CB;&#x51CB;&#x843D;&#x7684;&#x706F;&#x706B;&#xFF0C;&#x5BC2;&#x9759;&#x4E86;&#x5982;&#x6C34;&#x7684;&#x591C;&#x8272;
    img(style='width: 49%;\
    height: auto;\
    vertical-align: bottom;\
    display: inline-block;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455851424213064834.jpg', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160129-1454051525040035196.jpg', alt='额.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455851424213064834.jpg')
