
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0px;')
  img(style='width: 50%; display: inline-block; vertical-align: bottom;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160112/1452594692699020903.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160112/1452594692699020903.jpg')
  img(style='width: 50%; display: inline-block; vertical-align: bottom;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160112/1452594693156072796.png', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160112/1452594693156072796.png')
  section.white(style='width: 100%; padding: 5px; font-size: 1.5em; font-family: inherit; text-align: center; text-decoration: inherit; color: rgb(255, 255, 255); background-color: #76e57b; border-color: white;')
    section(style='border: 2px solid white; width: 100%; padding: 10px;')
      section.brush It&apos;s FLOWER
  img(style='width: 50%; display: inline-block; vertical-align: top;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160112/1452594693734018427.png', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160112/1452594693734018427.png')
  img(style='width: 50%; display: inline-block; vertical-align: top;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160112/1452594694090033177.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160112/1452594694090033177.jpg')
