
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0px;')
  section(style='-webkit-box-shadow: rgba(159, 160, 160, 0.498039) 0px 0px 10px; box-shadow: rgba(159, 160, 160, 0.498039) 0px 0px 10px; padding: 10px; width: 65%; display: inline-block; vertical-align: top;')
    section(style='-webkit-box-shadow: rgba(0, 0, 0, 0.290196) 0px 0px 10px inset; box-shadow: rgba(0, 0, 0, 0.290196) 0px 0px 10px inset; padding: 7px;')
      img(style='float: left; width: 100%; height: auto !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452249361730035947.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452249361730035947.jpg')
      section(style='clear: both;')
  section(style='width: 29%; margin-left: 4%; display: inline-block; vertical-align: bottom;')
    section.active(style='display: inline-block; border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(121,121,121); font-size: 1.2em; font-family: inherit; text-decoration: inherit;color:rgb(250,140,0)')
      section.brush &#x65B0;&#x699C;
    section.active(style='width: 100%; margin-top: 0.2em; margin-bottom: 15px; font-size: 0.9em; font-family: inherit; text-decoration: inherit; color: rgb(121,121,121);')
      section.brush &#x5185;&#x5BB9;&#x521B;&#x4E1A;&#x670D;&#x52A1;&#x5E73;&#x53F0;
