
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='border-style: none; clear: both; text-align: center; overflow: hidden; margin: 1em auto; background-position: initial initial; background-repeat: initial initial;')
    section(style='display: inline-block; vertical-align: bottom; border-top-style: solid; border-top-width: 1px; border-top-color:#33ebe4; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color:#33ebe4; padding: 10px 5px; width: 50%; line-height: 1.5; font-size: 14px; color: rgb(104, 104, 104);')
      section.color(style='color: rgb(5, 157, 127);') &#x2602;
      p(style='margin-top: 0px; margin-bottom: 0px;')
        span.active.brush(style="color: rgb(121,121,121); font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif; font-size: 12px; line-height: 24px; text-align: justify;") &#x6765;&#x8005;&#x662F;&#x840D;&#x6C34;&#x76F8;&#x9022;&#xFF0C;&#x53BB;&#x8005;&#x662F;&#x6C5F;&#x6E56;&#x76F8;&#x5FD8;&#x3002;
    img(style='width: 50%;\
    height: auto;\
    vertical-align: bottom;\
    display: inline-block;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454050793460082860.jpg', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160129-1454050703813004096.jpg', alt='海边.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454050793460082860.jpg')
