
section.RankEditor(data-role="section", style='font-size: 16px; line-height: normal; position: static; border: 0px none; padding: 0px;')
  section(style='text-align: center; margin-right: 30.34375px; margin-left: 30.34375px;')
    p(style='line-height: 2em;')
      span.active.brush(style='color: rgb(255,140,0);') &#x2756;&nbsp;&#x5C0F;&#x9EBB;&#x96C0;
    section(data-width='100%', style='display: inline-block; width: 546.3125px;')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455873670147078381.jpg', data-width='100%', title='1453110826889052309.jpg', alt='30adcbef76094b36ea1705d0a7cc7cd98d109d01.jpg', style='width: 546.3125px;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455873670147078381.jpg')
    section(style='margin-top: -18px;')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455873670795063726.png', title='未标题-1.png', alt='未标题-1.png', data-width='100%', style='width: 546.3125px; height: auto !important;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455873670795063726.png')
