
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='border: none; margin-right: auto; margin-bottom: 1em; margin-left: auto; text-align: center;')
    section(style='width: 0px; height: 0px; margin-right: auto; margin-left: auto; border-style: solid; border-width: 1.2em 1.2em 1.8em; border-color: transparent transparent rgb(112, 216, 255);')
      section(style='width: 0px; height: 0px; border-style: solid; border-width: 0.5em 0.5em 1em; border-color: transparent transparent rgb(255, 255, 255); margin-left: -0.5em;')
    section(style='margin-top: -0.6em; margin-right: auto; margin-left: auto; border-top-style: solid; border-top-width: 1px; border-color: rgb(112, 216, 255); color: rgb(112, 216, 255);')
    section(style='margin-top: 1.5em;')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454049584767012271.jpg', style='width: 50%; padding-right: 5px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%;', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160129-1454049447194019487.jpg', alt='未标题-8.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454049584767012271.jpg')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454049585396059742.jpg', style='width: 50%; padding-left: 5px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%;', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160129-1454049476966087970.jpg', alt='猫猫.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454049585396059742.jpg')
    section(style='border-top-style: solid; border-top-width: 1px; border-color: rgb(112, 216, 255); width: 100%; color: rgb(112, 216, 255); margin-top: 0.5em; font-size: 2em; height: 0.5em; line-height: 0.5em; display: inline-block;') ....
