
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='border: 0px none; margin: 1em auto; text-align: center; width: 20em; padding: 0px;')
    section(style='\
    font-weight: bold;\
    font-size: 1.125em;')
      p(style='margin-top: 0px; margin-bottom: 0px;')
        span.active.title(style='color: #f58fc6;') &#x5B89;&#x5F92;&#x751F;&#x7AE5;&#x8BDD;
    section(style='margin-top: 0.5em; margin-bottom: 0.5em; font-size: 1em;')
      p(style='margin-top: 0px; margin-bottom: 0px;')
        span.brush(style='color:rgb(121,121,121); font-size: 14px;') &#x6587;&#x6458;
    span(style='\
    height: 2em;\
    border-right: solid 1px #000;\
    display: inline-block;')
    span(style='\
    width: 16em;\
    height: 16em;\
    border-radius: 50%;\
    margin: 0.5em auto;\
    display: block;')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454049377866037806.jpg', style='width: 16em;height: 16em; border-radius: 50%;', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160129-1454048760291043543.jpg', alt='未标题-2.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454049377866037806.jpg')
    span(style='\
    height: 2em;\
    border-right: solid 1px #000;\
    display: inline-block;')
    section(style='\
    padding: 0.5em 1em;\
    line-height: 1.5;\
    font-size: 0.875em;')
      p(style='margin-top: 0px; margin-bottom: 0px;')
        span.brush(style="color: rgb(121,121,121); font-family: zuoyeFont_mathFont, 'Microsoft Yahei', 宋体, sans-serif; font-size: 14px; line-height: 32px;")
          | &#x53EA;&#x8981;&#x4F60;&#x662F;&#x5929;&#x9E45;&#x86CB;
          br
          | &#x5C31;&#x662F;&#x751F;&#x5728;&#x517B;&#x9E21;&#x573A;&#x91CC;&#x4E5F;&#x6CA1;&#x6709;
