
section.RankEditor(data-role="section", style='font-size: 16px; border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin-right: auto; margin-left: auto;')
      section(style='border: 0px; width: 100%; clear: both; overflow: hidden;', data-width='100%')
        section.layout(style='width: 50%; float: left; padding-right: 0.1em;', data-width='50%')
          section(style='border: 1px solid rgb(239, 112, 96); padding: 5px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; margin-bottom: 5px;')
            p(style='line-height: 0em;')
              img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456473961565010868.jpg', style='width: 100%; padding: 2px; border: 1px dashed rgb(239, 112, 96);', width='100%', height='', border='0', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453792123646028768.jpg', alt='0e6e8db81a8c74040e432e9cd79168c46dc963a811a80-S2DqAe_fw658.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456473961565010868.jpg')
          section(style='border: 1px solid rgb(239, 112, 96); padding: 5px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;')
            p(style='line-height: 0em;')
              img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456473961817051267.jpg', style='width: 100%; padding: 2px; border: 1px dashed rgb(239, 112, 96);', width='100%', height='', border='0', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453792313016019049.jpg', alt='猫猫.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456473961817051267.jpg')
        section.layout(style='width: 50%; float: right; padding-left: 0.1em;', data-width='50%')
          section(style='border: 1px solid rgb(239, 112, 96); padding: 5px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; margin-bottom: 5px;')
            p(style='line-height: 0em;')
              img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456473962256041487.jpg', style='width: 100%; padding: 2px; border: 1px dashed rgb(239, 112, 96);', width='100%', height='', border='0', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453792306264058106.jpg', alt='猫猫.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456473962256041487.jpg')
          section(style='border: 1px solid rgb(239, 112, 96); padding: 5px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;')
            p(style='line-height: 0em;')
              img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456473962517043074.jpg', style='width: 100%; padding: 2px; border: 1px dashed rgb(239, 112, 96);', width='100%', height='', border='0', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453792292455013480.jpg', alt='猫猫猫.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456473962517043074.jpg')
