
section.RankEditor(data-role="section", style='font-family: 微软雅黑; font-size: 16px; white-space: normal; border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none; padding: 0px; margin: 0px;')
    section(style='border: 0px; width: auto; clear: both; margin: 0px; padding: 0px 0.5em 0.5em 0px;')
      img#js_view_source(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453787323334069135.jpg', width='100%', height='auto', border='0', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453787291078030328.jpg', alt='7604b0cb038a6fd858bde84b50693f72cfda1b9934691-nPNpRj_fw658.jpg', data-width='100%', style='cursor: pointer; margin: 0px; width: 598.263916015625px; height: auto !important; visibility: visible !important;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453787323334069135.jpg')
      p(style='text-align: center; line-height: 2em;')
        span.active.brush(style='font-size: 14px; color: #57d9ff;') &#x25B2;&#x70B9;&#x51FB;&#x56FE;&#x7247;
