
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;', data-color='rgb(30, 155, 232)', data-custom='rgb(30, 155, 232)')
    section(style='margin-right: auto; margin-left: auto; text-align: center;')
      section(style='width: 50%; float: left; line-height: 0em; display: inline-block;', data-width='50%')
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455873956651045680.jpg', style='height: auto !important; width: 100% !important;', data-width='100%', title='1453112777257034139.jpg', alt='图-01.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455873956651045680.jpg')
      section(style='display: inline-block; width: 50%; padding-right: 0.5em; padding-left: 0.5em; margin-top: 1em; margin-bottom: 2em;', data-width='50%')
        section.white(style='width: 2em; height: 2em; margin-right: auto; margin-bottom: 0.5em; margin-left: auto; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; color: rgb(255, 255, 255); background-color: #f58fc6;')
          section(style='display: inline-block; padding-right: 0.5em; padding-left: 0.5em; font-size: 1em; line-height: 2;')
            span 1
        section.brush(style='margin-top: 5px; margin-bottom: 5px;')
          p.active(style='color: rgb(121,121,121);')
            span(style='font-size: 14px;') &#x6216;&#x8BB8;&#xFF0C;
          p.active(style='color: rgb(121,121,121);')
            span(style='font-size: 14px;') &#x5927;&#x6D77;&#x6700;&#x8FBD;&#x9614;&#x7684;&#x65F6;&#x5019;
          p.active(style='color: rgb(121,121,121);')
            span(style='font-size: 14px;') &#x4E0D;&#x662F;&#x6D77;&#x6D6A;&#x8FDE;&#x6392;&#x6D8C;&#x51FA;&#xFF0C;
          p.active(style='color: rgb(121,121,121);')
            span(style='font-size: 14px;') &#x800C;&#x662F;&#x98CE;&#x5E73;&#x6D6A;&#x9759;&#x65F6;
          p.active(style='color: rgb(121,121,121);')
            span(style='font-size: 14px;') &#x6C34;&#x5929;&#x8FDE;&#x4E00;&#x7684;&#x6DF1;&#x8FDC;&#x3002;
            span(style='border-color: #1E9BE8; color: inherit; font-size: 14px;')
      section(style='margin-right: auto; margin-left: auto; clear: both;')
        section(style='width: 50%; display: inline-block; line-height: 0em;', data-width='50%')
          img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455873957251006670.jpg', style='height: auto !important; width: 100% !important;', data-width='100%', title='1453112959058081003.jpg', alt='哈哈哈哈-01.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455873957251006670.jpg')
        section(style='display: inline-block; width: 50%; float: left; padding-right: 0.5em; padding-left: 0.5em; border-color: rgb(30, 155, 232); margin-top: 1em; margin-bottom: 2em;', data-width='50%')
          section.white(style='width: 2em; height: 2em; margin-right: auto; margin-bottom: 0.5em; margin-left: auto; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; color: rgb(255,255,255); background-color: #f58fc6;')
            section(style='display: inline-block; padding-right: 0.5em; padding-left: 0.5em; font-size: 1em; line-height: 2;')
              span 2
          section.brush(style='margin-top: 5px; margin-bottom: 5px;')
            p.active(style='color: rgb(121,121,121);')
              span(style='border-color: #1E9BE8; color: inherit; font-size: 14px;')
              span(style='font-size: 14px;') &#x6216;&#x8BB8;&#xFF0C;
            p.active(style='color: rgb(121,121,121);')
              span(style='font-size: 14px;') &#x9C9C;&#x82B1;&#x6700;&#x7F8E;&#x7684;&#x65F6;&#x5019;
            p.active(style='color: rgb(121,121,121);')
              span(style='font-size: 14px;') &#x4E0D;&#x662F;&#x6EE1;&#x5C71;&#x901A;&#x7EA2;&#xFF0C;
            p.active(style='color: rgb(121,121,121);')
              span(style='font-size: 14px;') &#x800C;&#x662F;&#x5316;&#x3002;
