
section.RankEditor(data-role="section", style='border: 0px none; width: 100%; margin-top: 0.8em; margin-bottom: 0.5em; overflow: hidden; padding: 0px;')
  img(style='width: 100%; height: auto !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160112/1452590671846045344.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160112/1452590671846045344.jpg')
  section.white(style='width: 12em; height: 12em; float: left; padding: 2.8em 1.5em 2em 3.5em; margin-top: -9em; margin-left: 0em; border-top-left-radius: 12em; border-top-right-radius: 12em; border-bottom-right-radius: 12em; border-bottom-left-radius: 12em; opacity: 0.85; background-color: rgba(214, 233, 202, 0.8);color: rgb(123, 129, 116)')
    section(style='display: inline-block; padding-top: 0.2em; padding-right: 0.2em; padding-bottom: 0.2em; border-top-width: 1px; border-top-style: solid; border-top-color: white; border-bottom-width: 3px; border-bottom-style: solid; border-bottom-color: white; line-height: 1.4; font-size: 112.5%; font-family: inherit; text-decoration: inherit;')
      section.brush NEWRANK
      section.brush &#x65B0;&#x699C;
    section(style='padding-top: 0.5em; padding-bottom: 0.5em; font-size: 1em; font-family: inherit; text-decoration: inherit;')
      section.brush &#x70B9;&#x51FB;&#x5916;&#x8FB9;&#x767D;&#x8272;&#x8FB9;&#x6846;&#x6362;&#x80CC;&#x666F;
