
section.RankEditor(data-role="section", style='font-size: 16px; line-height: normal; white-space: normal; position: static; border: 0px none; padding: 0px;')
  section(data-width='35%', style='width: 218.390625px; float: left; padding-right: 0em; color: inherit;')
    section(style='clear: both; margin-right: auto; margin-left: auto; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; padding: 15px;')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160106/1452066945110091389.png', title='1452066922430055695.png', alt='黑白-01.png', style='border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; border: 2px solid rgb(177, 189, 206); box-shadow: rgb(177, 189, 206) 2px 3px 2px;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160106/1452066945110091389.png')
  section(data-width='65%', style='display: inline-block; width: 405.59375px; color: inherit; padding: 15px;')
    p
      span.active.brush(style="color: rgb(121,121,121); font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif; font-size: 14px; line-height: 24px; text-align: justify;") &#x6216;&#x8BB8;&#xFF0C;&#x5929;&#x7A7A;&#x6700;&#x7F8E;&#x7684;&#x65F6;&#x5019;&#x4E0D;&#x662F;&#x671D;&#x971E;&#x6620;&#x7EA2;&#x65F6;&#xFF0C;&#x800C;&#x662F;&#x4E07;&#x91CC;&#x6674;&#x7A7A;&#x7684;&#x90A3;&#x79CD;&#x8FBD;&#x8FDC;...
