
section.RankEditor(data-role="section", style='font-family: 微软雅黑; font-size: 16px; border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none; padding: 0px; margin: 0px;', data-color='rgb(239, 112, 96)', data-custom='rgb(239, 112, 96)')
    section.layout(style='margin: 0px auto; padding: 0px;')
      section(style='margin: 10px 0px; text-align: center; padding: 0px;')
        section(style='margin: 10px 10px 0px; padding: 0px; height: 4px; display: inline-block; border-bottom-width: 1px; border-bottom-style: solid;  color: rgb(255, 255, 255);')
          section(style='display: inline-block; line-height: 0em; padding: 0px; margin: 0px;')
            span.brush(style='color: rgb(255,140,0); font-family: 宋体, simsun; font-size: 40px;') NEWRANK
      section(style='border: 0px; width: 100%; clear: both; overflow: hidden; padding: 0px; margin-top: 10px;', data-width='100%')
        section(style='width: 49%; float: left; padding: 0px 0.1em 0px 0px; margin: 0px;', data-width='49%')
          img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453795430045033772.jpg', style='width: 100%; height: auto !important;', data-width='100%', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453795201939075587.jpg', alt='猫.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453795430045033772.jpg')
          section(data-style='color:rgb(102, 102, 102); font-size:14px; text-align:inherit; text-decoration:inherit', style='padding: 0px; margin: 0px;')
            p(style='font-size: 18px; text-align: center; text-decoration: inherit; white-space: normal;')
              span(style='color:#3f3f3f')
                span.brush(style='color: rgb(121,121,121);') &#x8774;&#x8776;&#x7ED3;
            p(style='color: rgb(102, 102, 102); font-size: 18px; text-decoration: inherit; text-align: center; white-space: normal;')
              span.brush(style='color: rgb(121,121,121); font-size: 16px;') BOW
        section(style='width: 49%; float: right; padding: 0px 0px 0px 0.1em; margin: 0px;', data-width='49%')
          img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453795430256036644.jpg', style='width: 100%;height: auto !important;', data-width='100%', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453795228582098554.jpg', alt='猫猫猫.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453795430256036644.jpg')
          section(data-style='color: rgb(102, 102, 102); font-size: 14px; font-weight: inherit; text-align: inherit; text-decoration: inherit; line-height: inherit;', style='padding: 0px; margin: 0px;')
            p(style='font-size: 18px; font-weight: inherit; text-align: center; text-decoration: inherit; white-space: normal;')
              span(style='color:#3f3f3f')
                span.brush(style='color: rgb(121,121,121);') &#x5C0F;&#x773C;&#x795E;
            p(style='color: rgb(102, 102, 102); font-size: 18px; text-decoration: inherit; text-align: center; white-space: normal;')
              span.brush(style='color: rgb(121,121,121); font-size: 16px;') EYES
