
section.RankEditor(data-role="section", style='font-size: 16px; border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin-right: auto; margin-left: auto;')
      section(style='border: 2px solid #7880c8; padding-bottom: 30px;')
        p
          img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456474062204044864.jpg', style='width: 100%;', width='100%', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453794721336048556.jpg', alt='cda2c8b705fb5feec356e82b5bfe43f566be0c9a2b366-ZCWACa_fw658.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456474062204044864.jpg')
      section(style='margin-top: -20px; text-align: center;')
        section(style='display: inline-block; background-color: rgb(254, 254, 254); padding: 5px 10px;')
          span.active.brush(style='font-size: 20px; color: #7880c8;') HAPPY NEWYEAR
        p(style='font-size: 14px; line-height: 1em;')
          span.active(style='color:#7f7f7f')
            span.brush(style='color: rgb(121,121,121);') &#x65B0;&#x699C;&#x795D;&#x5927;&#x5BB6;&#x65B0;&#x5E74;&#x5FEB;&#x4E50;&#xFF01;
