
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='border: 1.5px solid rgb(121,121,121); text-align: center; padding: 20px;')
      section(style='display: inline-block; color: inherit;')
        section(style='margin-top: 0.2em; padding-right: 0.4em; padding-bottom: 5px; padding-left: 0.4em; color: rgb(107, 77, 64); font-size: 3em; line-height: 1; border-bottom-width: 3px; border-bottom-style: solid; border-color: rgb(121,121,121);')
          span.active.count(style='color: #7880c8;') 1
        section(style='margin-top: 0.8em; padding-right: 0.5em; padding-left: 0.5em; color: rgb(121,121,121);')
          span.brush(style='font-size: 20px; color: rgb(121,121,121);') &#x6587;&#x827A;
        p
          span.brush(style='color: rgb(121,121,121);font-size: 16px;') &#x4E00;&#x4E2A;&#x4EBA;&#x7684;&#x5B64;&#x5355;
      p
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455874570648077367.jpg', style='width: 100%;', data-width='100%', title='1453113445139061070.jpg', alt='4bed2e738bd4b31cf4843cda85d6277f9e2ff813.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455874570648077367.jpg')
