
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; text-align: right; padding: 0px;')
  section(style='width: 51%; padding-right: 10px; display: inline-block; vertical-align: middle;')
    section(style='border-top-width: 5px; border-top-style: solid; border-color: #f58fc6; width: 100%;')
    section(style='width: 100%; font-size: 1em; font-family: inherit; text-decoration: inherit;')
      section
        span.active.brush(style='color:rgb(121,121,121); font-size: 14px;')
          | &#x55B5;&#x54AA;&#x54AA; &#x55B5;&#x54AA;&#x54AA; &#x55B5;&#x54AA; &#x55B5;&#x54AA;&#x54AA; &#x55B5;&#x54AA;&#x54AA; &#x55B5;&#x54AA; &#x54AA; &#x55B5;&#x54AA;&#x54AA; &#x55B5;&#x54AA;&#x54AA; 
          span.active.brush(style='color: rgb(121,121,121); font-size: 14px; text-align: right;')
            | &#x55B5;&#x54AA;&#x54AA; &#x55B5;&#x54AA;&#x54AA; &#x55B5;&#x54AA; &#x55B5;&#x54AA;&#x54AA; &#x55B5;&#x54AA;&#x54AA; &#x55B5;&#x54AA; &#x54AA; &#x55B5;&#x54AA;&#x54AA; &#x55B5;&#x54AA;&#x54AA; 
            span.active(style='color: rgb(121,121,121); font-size: 13.63636302947998px; line-height: 20px; text-align: right;') &#x55B5;&#x54AA;&#x54AA; &#x55B5;&#x54AA;&#x54AA;
    section(style='border-bottom-width: 5px; border-bottom-style: solid; border-color: #f58fc6; width: 100%;')
  img(style='width: 49%; display: inline-block; vertical-align: middle;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160112/1452593902556048178.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160112/1452593902556048178.jpg')
