
section.RankEditor(data-role="section", style='font-size: 16px; border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;', data-color='rgb(206, 32, 32)', data-custom='rgb(206, 32, 32)')
    section(style='text-align: center;')
      section(style='border: 1px solid #f58fc6; width: 250px; height: 250px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; padding: 25px 10px; display: inline-block;')
        p(style='letter-spacing: 3px;')
          span.active.brush(style='font-size: 18px;color:rgb(121,121,121)') NEWRANK
        section
          p
            span.active.brush(style='font-size: 14px; color:#f58fc6;') &#x8BF7;&#x8F93;&#x5165;&#x6B63;&#x6587;&#x5185;&#x5BB9;
          p
            span.active.brush(style='font-size: 14px; color:#f58fc6;') &#x8BF7;&#x8F93;&#x5165;&#x6B63;&#x6587;&#x5185;&#x5BB9;
      section(style='margin-top: -100px;')
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456476356898045750.jpg', style='width:100px;height:auto !important;', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453803774111011406.jpg', alt='dea5f67b615e0d005b5af1c2fdd1a95540aed7cd399f-5FO5Fl_fw658.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456476356898045750.jpg')
