
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='border: 2px solid #f05454; padding: 10px;')
      section(style='border: 0px; width: 100%; clear: both; overflow: hidden;')
        section.layout(style='width: 80px; float: left; padding-right: 0.1em; height: auto !important;')
          img(alt='11027242_896722.jpg', border='0', mapurl='', opacity='', src='http://img.xdnphb.com/ueditor/edit/upload/image/20151230/1451458444168089921.jpg', style='width: 100%; height: auto !important; visibility: visible !important;', title='1451458434803041103.jpg', vspace='0', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20151230/1451458444168089921.jpg')
        section.layout(style='display: inline-block; width: 65%; padding-left: 1em;')
          p(style='margin-right: 0.2em; padding: 3px 5px; color: rgb(120, 124, 129); line-height: 2em; font-size: 12px; text-indent: 0em; white-space: normal;')
            span(style='border-bottom:2px solid #f05454; color:#f05454; font-size:18px')
              span.title(style='font-size: 18px; line-height: 24px;') Eason Chan
          section
            p(style='margin-right: 0.2em; padding: 3px 5px; color: rgb(120, 124, 129); line-height: 1.75em; font-size: 12px; text-indent: 0em; white-space: normal;')
              span.active(style='font-size:13px')
                span.brush(style="color: rgb(121,121,121); font-size: 14px; font-family: arial, tahoma, 'Microsoft Yahei', 宋体, sans-serif; line-height: 24px; text-indent: 28px;") &#x9648;&#x5955;&#x8FC5;&#xFF08;Eason Chan&#xFF09;&#xFF0C;1974&#x5E74;7&#x6708;27&#x65E5;&#x51FA;&#x751F;&#x4E8E;&#x9999;&#x6E2F;&#xFF0C;&#x4E2D;&#x56FD;&#x9999;&#x6E2F;&#x6D41;&#x884C;&#x7537;&#x6B4C;&#x624B;&#x3001;&#x6F14;&#x5458;&#xFF0C;&#x9999;&#x6E2F;&#x6F14;&#x827A;&#x4EBA;&#x534F;&#x4F1A;&#x526F;&#x4F1A;&#x957F;&#x4E4B;&#x4E00;&#x3002;
