
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='border: 0px none; padding: 0px;')
    section(style='text-align: center;')
      section(style='display: inline-block;')
        section(style='margin-top: 2em; float: left;')
          section(style='width: 10em; height: 10em; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%;')
            img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453973829640033216.jpg', style='width: 100%; display: block; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%;', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160128-1453973762210003773.jpg', alt='猫猫猫.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453973829640033216.jpg')
        section(style='margin-left: -2em; float: left;')
          section(style='width: 6em; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; border: 5px solid rgb(255, 255, 255);')
            img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453973830072050586.jpg', style='width:100%; display:block; border-radius:50%;', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160128-1453973772044003330.jpg', alt='猫猫.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453973830072050586.jpg')
