
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='text-align: center;')
      section(style='width: 240px; margin-right: auto; margin-left: auto; height: 240px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%;')
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20151230/1451457914804056787.jpg', style='border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; display: inline-block; width: 100%; height: auto !important;', width='100%', height='auto', border='0', opacity='', mapurl='', title='1451457833721093392.jpg', alt='方块.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20151230/1451457914804056787.jpg')
      section(style='display: inline-block; padding: 15px; line-height: 1.75em;')
        p(style='clear: none; float: right; display: inline; width: 32px; margin-left: -6px; white-space: normal;')
          span.active.brush(style='color: rgb(121,121,121); font-size: 36px;') &#x7AD6; &nbsp; &#x6392;
        p(style='clear: none; float: right; -webkit-transform: rotateZ(90deg); line-height: 4.5em; white-space: normal;')
          span.active(style='font-size: 36px;')
            span.brush(style='font-size: 12px; color: rgb(121,121,121);') newrank
            span(style='font-size: 20px; color: rgb(127, 127, 127);')
              span(style='font-size: 12px; color: rgb(247, 150, 70);') &#x2572;
