
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.8em; margin-bottom: 0.3em; padding: 0px;')
  section(style='line-height: 0;')
    img(style='display: inline-block; width: 100%; border: 0px; height: auto !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452249422857048547.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452249422857048547.jpg')
  section(style='width: 30%; display: inline-block; float: left; text-align: right; margin-top: 15px;')
    section(style='float: right; text-align: center; margin-top: -15px;')
      section(style='width: 1px; height: 1.2em; margin-left: 50%; background-color: rgb(102, 102, 102);')
      section.active(style='width: 2em; height: 2em; border: 1px solid rgb(250,140,0); border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; line-height: 2em; font-size: 1em; font-family: inherit; text-decoration: inherit; color: rgb(250,140,0);')
        section &#x65B0;
      section.active(style='width: 2em; height: 2em; border: 1px solid rgb(250,140,0); margin-top: 2px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; line-height: 2em; font-size: 1em; font-family: inherit; text-decoration: inherit; color: rgb(250,140,0);')
        section &#x699C;
  section.active(style='width: 65%; float: left; margin-top: 20px; line-height: 1.5em; margin-left: 5%; font-size: 1em; font-family: inherit; text-decoration: inherit; color: rgb(121,121,121);')
    section
      section
        span.brush(style='font-size: 175%;') &#x65C5;&#x9014;
      section.brush &#x6C38;&#x8FDC;&#x5728;&#x8DEF;&#x4E0A;
