
section.RankEditor(data-role="section", style='font-size: 16px; border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='border: 1px solid rgb(240, 240, 240); padding: 10px; background-color: rgb(254, 254, 254); box-shadow: rgb(210, 210, 210) 0px 0px 2px;')
      section(style='margin: 10px; text-align: center; text-decoration: inherit; color: inherit;')
        section(style='padding: 0.5em; line-height: 1.2em; font-size: 1em; color: inherit;')
          p(style='color: inherit; line-height: 2em;')
            img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456474790919022924.jpg', style='color: inherit; width: 100%; margin-bottom: 10px;', data-width='100%', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453800736070080256.jpg', alt='4bed2e738bd4b31cf4843cda85d6277f9e2ff813.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456474790919022924.jpg')
          section(style='margin: 5px;')
            p(style='line-height: 2em; color: inherit;')
              span.active(style='color: #76e57b;')
                strong
                  span.title(style='font-size: 18px;') &#x65B0;&#x699C;&#x7F16;&#x8F91;&#x5668;
            p(style='color: inherit; line-height: normal;')
              span.active
                strong
                  span.brush(style='font-size: 14px;color:rgb(121,121,121)') &#x4F60;&#x7684;&#x6392;&#x7248;&#x52A9;&#x624B;
    section(style='margin-top: -1px; text-align: center;')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456474791276007492.png', style='width: 100%;', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456474791276007492.png')
