
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='font-size: 16px; border: 0px none; padding: 0px;')
    section(style='position: static; border: 0px none;')
      section(data-width='fix', style='border-width: 10px; border-color: rgb(198, 198, 198) rgb(255,140,0) rgb(255,140,0) rgb(198, 198, 198); border-style: solid; width: 215px; clear: both; margin-right: auto; margin-left: auto; padding: 2px; text-align: center; height: 215px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%;')
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453961345040068131.jpg', style='border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; color: inherit; height: auto !important;', width='', height='auto', border='0', alt='1500543100944743040_副本.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453961345040068131.jpg')
