
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='margin-bottom: 50px; line-height: normal; text-align: center; white-space: normal; display: inline-block;')
    section(data-width='100%', style='margin-bottom: -150px; width: 500px; height: 200px !important;')
      p(style='clear: both;')
        img#c1451981440129(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160105/1451983574107070505.jpg', data-width='100%', title='1451983451674098211.jpg', alt='ce94529c73e404f0eb836ad57c6e604e988ec1b911e6c-vAXoag_fw658_副本.jpg', data-type='jpeg', style='display: inline-block; width: 500px; height: auto !important;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160105/1451983574107070505.jpg')
    section(style='margin-top: -50px; border: 0px none; display: inline-block;')
      section(data-width='50%', style='text-decoration: inherit; color: rgb(255, 255, 255); width: 92px;')
        section(style='padding-top: 80px; padding-bottom: 40px; line-height: 1.2em; text-align: right;')
      section(style='margin-top: -70px;')
        section.white(style='text-decoration: inherit; background-color: rgba(255,140,0,0.6); color: rgb(255,255,255); display: inline-block;')
          section(style='padding: 10px; line-height: 1.2em;')
            p(style='clear: both; text-align: left;')
              span.brush(style='font-size: 18px;') &#x65B0;&#x699C;&#x7B49;&#x4F60;&#x6765;
      section(style='margin-top: 10%;')
        span.active.brush(style='color: rgb(255, 255, 255); font-size: 18px;') N E W R A N K
