
section.RankEditor(data-role="section", style='border: 0px none; width: 100%; margin-top: 1.2em; margin-bottom: 0.5em; padding: 0px;')
  section(style='width: 30%; display: inline-block; vertical-align: top;')
    img(style='width: 100%; margin-bottom: 0.5em;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453966729846066741.png', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453966729846066741.png')
    section(style='line-height: 1.3em; font-size: 1em; font-family: inherit; text-decoration: inherit; color: rgb(42, 52, 58);')
      section
        span.active.brush(style='color: rgb(121,121,121); font-size: 14px;') &#x6216;&#x8BB8;&#xFF0C;&#x5929;&#x7A7A;&#x6700;&#x7F8E;&#x7684;&#x65F6;&#x5019;&#x4E0D;&#x662F;&#x671D;&#x971E;&#x6620;&#x7EA2;&#x65F6;
  section(style='width: 32%; height: 10em; margin-right: 4%; margin-left: 4%; display: inline-block; vertical-align: top; background-size: cover; background-image: url(http://img.xiumi.us/xmi/ua/9xHC/i/769bbe03078d9f64ba1634e6f9aacb9a-sz_36222.jpg@1l_640w.jpg); background-position: 50% 50%; background-repeat: no-repeat no-repeat;')
  section(style='width: 30%; display: inline-block; vertical-align: top;')
    section(style='margin-bottom: 0.5em; line-height: 1.3em; font-size: 1em; font-family: inherit; text-decoration: inherit; color: rgb(42, 52, 58);')
      section
        span.active.brush(style='color: rgb(121,121,121); font-size: 14px;') &#x6216;&#x8BB8;&#xFF0C;&#x5927;&#x6D77;&#x6700;&#x8FBD;&#x9614;&#x7684;&#x65F6;&#x5019;&#x4E0D;&#x662F;&#x6D77;&#x6D6A;&#x8FDE;&#x6392;&#x6D8C;&#x51FA;
    img(style='width: 100%;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453966730685006803.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453966730685006803.jpg')
