
section.RankEditor(data-role="section", style='font-size: 16px; border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin-right: auto; margin-left: auto; text-align: center;')
      section(data-width='80%', style='width: 370.1704406738281px; border: 2px solid rgb(230, 230, 230); box-shadow: rgb(200, 200, 200) 0px 0px 5px; display: inline-block;')
        section(style='margin: 15px; display: inline-block; border: 2px solid rgb(230, 230, 230); box-shadow: rgb(200, 200, 200) 0px 0px 5px; background-color: rgb(245, 245, 245);')
          p(style='margin: 15px; line-height: 0em; border-color: rgb(198, 198, 199);')
            img(data-ratio='1.4148148148148147', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456476607212055215.jpg', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160127-1453874772343028325.jpg', width='100%', height='', border='0', alt='QQ图片20151021101033.jpg', data-width='100%', style='border-color: rgb(198, 198, 198); color: inherit; width: 302.8977355957031px;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456476607212055215.jpg')
