
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  p(style='white-space: normal;')
    br
  section(style='overflow: hidden; border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0px;')
    section.active(style='width: 30%; float: left; font-size: 2em; font-family: inherit; font-weight: 800; text-align: center; text-decoration: inherit; color: #7880c8; border-color: rgb(255,140,0);')
      section(style='width: 1.5em; line-height: 1.2em; border-top-width: 15px; border-top-style: solid; border-left-width: 15px; border-left-style: solid; border-color: #7880c8;')
        section(style='width: 2em; margin: 0.5em;')
          section
            span.brush(style='font-size: 20px;') &#x8F93;&#x5165;&#x5355;&#x884C;&#x7AD6;&#x6392;&#x6807;&#x9898;
      section(style='width: 20px; height: 5em; margin-top: -5em;')
    section(style='width: 65%; float: right;')
      section(style='margin-top: 10px; font-size: 1em; font-family: inherit; text-decoration: inherit;')
        section
          span.active.brush(style='color: rgb(121,121,121); font-size: 14px;') &#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;&#x8BF7;&#x8F93;&#x5165;&#x6587;&#x5B57;
      img(style='width: 100%; margin-top: 5px; height: auto !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453975026733093553.jpg', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160128-1453974955482094154.jpg', alt='20d9c179c722394d1f88e2023d7f87ca8a01ea5b12215-kn7Bus_fw658.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160128/1453975026733093553.jpg')
