
section.RankEditor(data-role="section", style='border: 0px none; width: 100%; margin-top: 0.8em; margin-bottom: 0.5em; clear: both; overflow: hidden; padding: 0px;')
  img(style='width: 100%; float: left; height: auto !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452247481820059388.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452247481820059388.jpg')
  section.active(style='display: inline-block; font-size: 2em; z-index: 100; padding: 0.1em 0.5em; margin-top: -1.5em; line-height: 1.2; float: left; font-family: inherit; text-decoration: inherit; color: rgb(62, 62, 62); border-color: rgb(249, 110, 87);')
    section
      section.brush &#x65B0;&#x699C;
    section.active(style='color: rgb(121,121,121); font-size: 0.7em; font-family: inherit; text-decoration: inherit;')
      section.brush &#x526F;&#x6807;&#x9898;
