
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0px;')
  section(style='width: 13em;')
    section(style='width: 13em; height: 19.5em; margin-left: 5em; background-size: cover; background-image: url(http://img.xiumi.us/xmi/ua/9xHC/i/2da67b31d2bd9842d886cc97e1b205d7-sz_158444.jpg@1l_640w.jpg); background-position: 50% 50%; background-repeat: no-repeat no-repeat;')
    section.white(style='width: 9em; display: inline-block; vertical-align: top; margin-top: -18em; font-size: 1em; font-family: inherit; text-align: center; text-decoration: inherit; color: rgb(255, 255, 255); background-color: #fff10c; border-color: white;')
      section(style='padding: 5px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(255, 255, 255);')
        section.brush &#x53EF;&#x8F93;&#x5165;&#x6587;&#x5B57;
      section(style='padding: 5px; font-size: 1em; font-family: inherit; text-decoration: inherit;')
        section.brush
          | &#x53EF;&#x8F93;&#x5165;&#x6587;&#x5B57;
          br
          | &#x53EF;&#x8F93;&#x5165;&#x6587;&#x5B57;
