
section.RankEditor(data-role="section", style='font-size: 16px; border: 0px none; padding: 0px;')
  p(style='white-space: normal;')
    br
  section(style='font-size: 16px;')
    section(style='position: static; border: 0px none;', data-color='rgb(33, 33, 34)', data-custom='rgb(33, 33, 34)')
      section(style='border: none; margin: 2em 15px 1em; width: 95%;', data-width='95%')
        section(style='color: rgb(33, 33, 34); font-size: 20px; text-align: center; border: 1px solid #f58fc6; margin-right: -40px;')
          section(style='display: inline-block; border-color: rgb(121,121,121); color: inherit; margin-left: -35px; margin-top: -20px; margin-bottom: 10px; width: 100%;', data-width='100%')
            img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453889067684075930.jpg', style='border-color: rgb(121,121,121); color: inherit; width: 100%; height: auto !important;', width='100%', height='auto', border='0', alt='2966bf93373aa6544498fdbb2ff1acccd3d55c2add77-P7EC94_fw658.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453889067684075930.jpg')
