
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; text-align: center; padding: 0px;')
  section(style='display: inline-block; vertical-align: bottom; width: 75%;')
    section(style='width: 0px; display: inline-block; float: left; margin-left: -2em; border-right-width: 1em; border-right-style: solid; border-right-color: #7880c8; border-bottom-width: 1em; border-bottom-style: solid; border-bottom-color: #7880c8; border-top-width: 1em !important; border-top-style: solid !important; border-top-color: transparent !important; border-left-width: 1em !important; border-left-style: solid !important; border-left-color: transparent !important;')
    section(style='display: inline-block; margin-top: -0.5em; font-size: 1.2em; font-family: inherit; text-decoration: inherit; max-width: 75% !important;')
      section
        span.active.brush(style='color: rgb(121,121,121);') &#x5317;
    section(style='display: inline-block; width: 0px; float: right; margin-right: -2em; border-left-width: 1em; border-left-style: solid; border-left-color:#7880c8; border-bottom-width: 1em; border-bottom-style: solid; border-bottom-color:#7880c8; border-top-width: 1em !important; border-top-style: solid !important; border-top-color: transparent !important; border-right-width: 1em !important; border-right-style: solid !important; border-right-color: transparent !important;')
  section(style='width: 100%;')
    section(style='display: inline-block; width: 1.5em; vertical-align: middle; font-size: 1.2em; font-family: inherit; text-align: left; text-decoration: inherit; color: rgb(255, 129, 36);')
      section
        span.active.brush(style='color: rgb(121,121,121);') &#x897F;
    img(style='display: inline-block; vertical-align: middle; width: 75%; text-align: start; height: auto !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160111/1452509996956084028.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160111/1452509996956084028.jpg')
    section(style='display: inline-block; width: 1.5em; vertical-align: middle; font-size: 1.2em; font-family: inherit; text-align: right; text-decoration: inherit;')
      section
        span.active.brush(style='color: rgb(121,121,121);') &#x4E1C;
  section(style='display: inline-block; vertical-align: bottom; width: 75%;')
    section(style='width: 0px; display: inline-block; border-top-width: 1em; border-top-style: solid; border-top-color: #7880c8; float: left; margin-left: -2em; border-right-width: 1em; border-right-style: solid; border-right-color: #7880c8; border-left-width: 1em !important; border-left-style: solid !important; border-left-color: transparent !important; border-bottom-width: 1em !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;')
    section(style='display: inline-block; margin-top: 0.5em; font-size: 1.2em; font-family: inherit; text-decoration: inherit; max-width: 75% !important;')
      section
        span.active.brush(style='color: rgb(121,121,121);') &#x5357;
    section(style='width: 0px; border-top-width: 1em; border-top-style: solid; border-top-color: #7880c8; float: right; margin-right: -2em; display: inline-block; border-left-width: 1em; border-left-style: solid; border-left-color: #7880c8; border-right-width: 1em !important; border-right-style: solid !important; border-right-color: transparent !important; border-bottom-width: 1em !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;')
  section(style='width: 0px; height: 0px; clear: both;')
