
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='border: 0px; clear: both;')
      section
        section(style='margin-top: 0.5em;')
          img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160303/1456997913042001115.jpg', style='width: 49%; height: auto !important;', title='1453102181138049497.jpg', data-width='49%', alt='4bed2e738bd4b31cf4843cda85d6277f9e2ff813-02.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160303/1456997913042001115.jpg')
          img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160303/1456997913225052634.jpg', style='width: 49%; height: auto !important;', title='1453102192140082750.jpg', vspace='0', width='49%', height='auto', border='0', opacity='', mapurl='', alt='4bed2e738bd4b31cf4843cda85d6277f9e2ff813-03.jpg', data-width='49%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160303/1456997913225052634.jpg')
    section(style='width: 0px; height: 0px; clear: both;')
  p
    br
  p
    img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160303/1456997913458062507.png', style='font-size: 16px; line-height: 25px; height: auto !important;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160303/1456997913458062507.png')
    br
