
section.RankEditor(data-role="section", style='position: static; border: 0px none; padding: 0px; margin: 0px;')
  section(style='display: inline-block; vertical-align: top; width: 95%; margin-left: 1em; padding: 0px;', data-width='95%')
    section(style='border-left-width: 1px; border-left-style: solid; border-left-color: rgb(198, 198, 199); height: 1.2em; padding: 0px; margin: 0px;')
    section(style='text-align: center; margin-left: -1.2em; display: inline-block; width: 3em; background-color: rgb(254, 254, 254); padding: 0px;')
      span.brush(style='font-size: 18px; color: #33ebe4;') &#x65B0;&#x699C;&#x4E4B;&#x591C;
    section(style='border-left-width: 1px; border-left-style: solid; border-color: rgb(198, 198, 199); margin-top: -3.2em; padding-bottom: 0.5em;')
      section(style='vertical-align: middle; padding-left: 30px; margin: 0px;')
        p(style='white-space: normal;')
          img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455875019941078356.jpg', style='width: 100%; margin: 0px;', data-width='100%', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453777665678064199.jpg', alt='29cdbf3261873ec3964a34df73b526ab987e18cb51d0b-KcMCCx_fw658.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455875019941078356.jpg')
