
section.RankEditor(data-role="section", style='border: 0px none; width: 607px; margin-top: 0.8em; margin-bottom: 0.5em; clear: both; overflow: hidden; padding: 0px;')
  img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160111/1452508871278061755.png', style='font-size: 16px; line-height: normal; white-space: normal; width: 607px; float: left; height: auto !important;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160111/1452508871278061755.png')
  section.white(style='font-family: inherit; white-space: normal; display: inline-block; z-index: 100; padding: 0.1em 0.5em; margin-top: -1.5em; line-height: 1.2; float: right; font-size: 2em; text-align: right; text-decoration: inherit; color: rgb(255, 255, 255); background-color: rgba(120,128,200,0.6); border-color: rgb(249, 110, 87);')
    section
      section.brush &#x53F3;&#x6807;&#x9898;
    section(style='font-size: 0.7em; font-family: inherit; text-decoration: inherit;')
      section.brush &#x80CC;&#x666F;&#x8272;&#x53EF;&#x8C03;&#x989C;&#x8272;
