
section.RankEditor(data-role="section", style='position: static; border: 0px none; padding: 0px;')
  section(style='text-align: center;')
    img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453877419600056248.jpg', style='width:auto;display:inline-block', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453877419600056248.jpg')
  section(style='margin-top: -10px; text-align: center;')
    section(style='width: 33%; float: left; display: inline-block; padding-right: 2px; padding-left: 2px;', data-width='33%')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453877419948013395.jpg', style='width: 100%; border: 10px solid rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.329412) 0px 0px 6px 0px;', width='100%', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160127-1453876888492009790.jpg', alt='猫猫.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453877419948013395.jpg')
    section(style='width: 33%; display: inline-block; padding-right: 2px; padding-left: 2px; float: left;', data-width='33%')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453877420322090678.jpg', style='width: 100%; border: 10px solid rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.329412) 0px 0px 6px 0px;', width='100%', height='', border='0', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160127-1453876943486071655.jpg', alt='猫猫.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453877420322090678.jpg')
    section(style='width: 33%; display: inline-block; padding-right: 2px; padding-left: 2px; float: left;', data-width='33%')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453877420797060187.jpg', style='width: 100%; border: 10px solid rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.329412) 0px 0px 6px 0px;', width='100%', height='', border='0', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160127-1453876951340054895.jpg', alt='猫猫.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453877420797060187.jpg')
  section(style='margin-right: 2%; margin-left: 2%;')
    p(style='text-align: right; line-height: 2em;')
      span.active.brush(style='font-size: 12px; color: #7880c8;') &#x6444;&#x5F71;by&#xFF1A;newrank
