
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section.layout(style='border: none; margin: 5px auto;')
      p(style='text-align: center; line-height: 2em;')
        span.active.brush(style='font-size: 14px; color: rgb(121,121,121);') &#x56FE;&#x7247;&#x8BF4;&#x660E;
      section(style='text-align: center; margin-right: auto; margin-bottom: -1px; margin-left: auto; border: 1px solid rgb(220, 220, 220); border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; padding: 10px; box-shadow: rgb(200, 200, 200) 0px 0px 6px;')
        p(style='line-height: 0em;')
          img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455874216188055125.jpg', style='width: 100%;', width='100%', height='', border='0', title='1453113151966095540.jpg', alt='63998a800af9941fa4bdc5c4e82f6a6ac79a83504dfcd-s8AvtS_fw658.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455874216188055125.jpg')
      section(style='width: 0px; margin-right: auto; margin-left: auto; border-top-width: 0.6em; border-top-style: solid; border-bottom-color: rgb(220, 220, 220); border-top-color: rgb(220, 220, 220); height: 10px; color: inherit; border-left-width: 0.7em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.7em !important; border-right-style: solid !important; border-right-color: transparent !important;')
      section(style='width: 0px; margin-right: auto; margin-left: auto; border-top-width: 0.6em; border-top-style: solid; border-bottom-color: rgb(254, 254, 254); border-top-color: rgb(254, 254, 254); height: 10px; margin-top: -12px; color: inherit; border-left-width: 0.7em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.7em !important; border-right-style: solid !important; border-right-color: transparent !important;')
    section(style='text-align: center; margin-top: 5px;')
      section(style='display: inline-block; border: 1px solid rgb(200, 200, 200); box-shadow: rgb(220, 220, 220) 0px 0px 6px; width: 60px; height: 60px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; padding: 4px;')
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455874216879002636.jpg', style='border-radius: 50%;', title='1453113166821061660.jpg', alt='05f1a35549f8af00000115a8b0ef1e.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455874216879002636.jpg')
