
section.RankEditor(data-role="section", style='font-size: 16px; border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;', data-color='rgb(33, 33, 34)', data-custom='rgb(33, 33, 34)')
    section(style='text-align: center;')
      section(style='display: inline-block; vertical-align: top; width: 50%;', data-width='50%')
        section(style='width: 80%; border: 2px solid rgb(230, 230, 230); box-shadow: rgb(200, 200, 200) 0px 0px 5px; display: inline-block;', data-width='80%')
          section(style='display: inline-block; margin: 10px; background-color: rgb(245, 245, 245);')
            p(style='margin: 15px; border-color: rgb(33, 33, 34); line-height: 0em;')
              img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456478542824008821.jpg', style='width: 100%;', data-width='100%', alt='30d02a6aab96792a8eab4a3f54a591f8378d4120c95c-U1jQlt_fw658_副本.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456478542824008821.jpg')
      section(style='display: inline-block; vertical-align: top; border-left-width: 2px; border-left-style: solid; border-color: #f58fc6; padding-bottom: 1em; width: 50%; padding-top: 0.5em;', data-width='50%')
        section(style='color: rgb(117, 117, 117); font-size: 18px; width: 2em; line-height: 0.8em; margin-left: -1em; margin-top: 3em; background-color: rgb(254, 254, 254);')
          span.active(style='color: #f58fc6;')
            strong.brush PK
        section(style='width: 80%; border: 2px solid rgb(230, 230, 230); box-shadow: rgb(200, 200, 200) 0px 0px 5px; display: inline-block; margin-top: -5em;', data-width='80%')
          section(style='display: inline-block; margin: 10px; background-color: rgb(245, 245, 245);')
            p(style='margin: 15px; border-color: rgb(33, 33, 34); line-height: 0em;')
              img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456478543078022624.jpg', style='width: 100%;', data-width='100%', alt='30d02a6aab96792a8eab4a3f54a591f8378d4120c95c-U1jQlt_fw658_副本.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456478543078022624.jpg')
