
section.RankEditor(data-role="section", style='position: static; border: 0px none; padding: 0px;', data-color='rgb(216, 40, 33)', data-custom='rgb(216, 40, 33)')
  section(style='display: inline-block; vertical-align: top; width: 50%;', data-width='50%')
    img(style='vertical-align: middle; width: 100%;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453875668181066643.jpg', width='100%', height='', border='0', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160127-1453875609019004119.jpg', alt='4bed2e738bd4b31cf4843cda85d6277f9e2ff813.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160127/1453875668181066643.jpg')
  section(style='display: inline-block; width: 50%; padding-left: 5px;', data-width='50%')
    section(style='margin-bottom: 0.5em; padding-left: 5px; position: static;')
      section(style='width: 0px; margin-top: 2em; margin-right: 22px; margin-left: -12px; display: inline-block; vertical-align: top;')
        section(style='width: 0px; border-right-width: 13px; border-right-style: solid; border-right-color: rgb(255,140,0); border-top-width: 10px !important; border-top-style: solid !important; border-top-color: transparent !important; border-bottom-width: 10px !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;')
        section(style='width: 0px; margin-top: -19px; margin-bottom: -19px; margin-left: 3px; border-right-width: 10px; border-right-style: solid; border-right-color: rgb(255, 255, 255); border-top-width: 9px !important; border-top-style: solid !important; border-top-color: transparent !important; border-bottom-width: 9px !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;')
      section(style='padding: 10px; width: 100%; margin-top: -2em; min-height: 4em; border: 1px solid rgb(255,140,0); box-shadow: rgb(204, 204, 204) -3px 3px 5px;', data-width='100%')
        p(style='text-align: center;')
          span.title(style='color: rgb(255,140,0); font-size: 16px;') &#x8F93;&#x5165;&#x6807;&#x9898;&#x6587;&#x5B57;
        p(style='text-align: center;')
          span.brush(style='color: rgb(121,121,121); font-size: 18px;') &mdash;&nbsp;2016&nbsp;&mdash;
        p(style='text-align: center;')
          span.brush(style='color: rgb(121,121,121); font-size: 24px;') 02.06
