
section.RankEditor(data-role="section", style='font-size: 16px; border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;', data-id='85873', data-color='rgb(89, 195, 249)', data-custom='rgb(89, 195, 249)')
    section(style='padding: 15px; background-color: rgb(254, 254, 254); border: 1px solid rgb(89, 195, 249);')
      section(style='text-align: center;')
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453803642214012636.jpg', style='width: 100%; margin-bottom: 10px;', width='100%', height='', border='0', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453803631672000523.jpg', alt='1-140FQ61T2.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453803642214012636.jpg')
        section
          section(style='margin-top: 0.2em; padding-bottom: 5px; color: rgb(89, 195, 249); font-size: 1.5em; line-height: 1; border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(89, 195, 249); display: inline-block;')
            span.active.brush(style='font-size: 16px; color: #548DD4;') &#x65B0;&#x699C;&#x7F16;&#x8F91;&#x5668;
          section(style='margin: 5px 5px 25px; line-height: 1; color: rgb(89, 195, 249);')
            span.active.brush(style='font-size: 12px; color: #548DD4;') &#x6392;&#x7248;&#x52A9;&#x624B;
    section(style='margin-top: -15px; text-align: center;')
      span.active.brush(style='background-color: rgb(254, 254, 254); font-weight: inherit; padding: 5px 20px; color: rgb(121,121,121);') &#x6587;&#x5B57;&#x8BF4;&#x660E;
