
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0px;')
  section(style='-webkit-box-shadow: rgba(159, 160, 160, 0.498039) 0px 0px 10px; box-shadow: rgba(159, 160, 160, 0.498039) 0px 0px 10px; padding: 10px;')
    section(style='-webkit-box-shadow: rgba(0, 0, 0, 0.290196) 0px 0px 10px inset; box-shadow: rgba(0, 0, 0, 0.290196) 0px 0px 10px inset; padding: 7px;')
      img(style='float: left; width: 100%; height: auto !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452249265808066035.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452249265808066035.jpg')
      section(style='clear: both;')
  section(style='padding-right: 0.5em; padding-left: 0.5em; margin-top: 0.5em; font-size: 1.2em; font-family: inherit; text-align: right; text-decoration: inherit; color: rgb(160, 160, 160);')
    section
      span.active.brush(style='color: rgb(255,140,0);') &mdash;&mdash;&#x65B0;&#x699C;
  section(style='padding-right: 0.5em; padding-left: 0.5em; font-size: 0.9em; font-family: inherit; text-decoration: inherit; color: rgb(160, 160, 160);')
    section
      span.active.brush(style='color: rgb(121,121,121);') &#x65B0;&#x7248;&#x662F;&#x5185;&#x5BB9;&#x521B;&#x4E1A;&#x670D;&#x52A1;&#x5E73;&#x53F0;
    section
      span.active.brush(style='font-size: 0.6em;color: rgb(121,121,121);') NEWRANK.CN
