
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='text-align: center; border-style: none; clear: both; overflow: hidden; margin: 1em auto; background-position: initial initial; background-repeat: initial initial;')
    img(style='width: 49%;\
    height: auto;\
    vertical-align: bottom;\
    display: inline-block;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454051458581013064.jpg', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160129-1454051131490054114.jpg', alt='未标题-2.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160129/1454051458581013064.jpg')
    section(style='display: inline-block; vertical-align: bottom; border: 1px solid #f58fc6; margin-left: 2%; padding: 10px 8px; line-height: 1.5; font-size: 14px; color: rgb(104, 104, 104); width: 49%;')
      p(style='font-size: 20px; margin-top: 0px; margin-bottom: 0px;')
        span.active.title(style='color: #f58fc6; font-size: 16px;') &#x5929;&#x9E45;&#x6E56;
      p(style='margin-top: 0px; margin-bottom: 0px;')
        span.active.brush(style="color: rgb(121,121,121); font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif; font-size: 12px; line-height: 24px; text-align: justify;") &#x53C8;&#x5F00;&#x59CB;&#x51CB;&#x843D;&#x7684;&#x706F;&#x706B;&#xFF0C;&#x5BC2;&#x9759;&#x4E86;&#x5982;&#x6C34;&#x7684;&#x591C;&#x8272;
