
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0px; text-align: center;')
  img(style='width: 60%; box-shadow: rgba(0, 0, 0, 0.290196) 3px 3px 3px; text-align: start; height: auto !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160111/1452509658224040434.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160111/1452509658224040434.jpg')
