
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.8em; margin-bottom: 0.3em; padding: 0px;')
  img(style='display: inline-block; width: 100%; border: 0px; height: auto !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160111/1452509551261050840.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160111/1452509551261050840.jpg')
  section(style='display: inline-block; width: 30%; vertical-align: top; margin-left: 10%; margin-top: -12em;')
    section(style='width: 5em; height: 5em; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; padding-top: 0.5em; background-size: cover; background-image: url(http://img.xiumi.us/xmi/ua/9xHC/i/9dc47beebc7047ee21823b42fcce62e6-sz_100595.jpg@1l_640w.jpg); background-position: 50% 50%; background-repeat: no-repeat no-repeat;')
      section(style='width: 4em; height: 4em; margin-right: auto; margin-left: auto; border: 1px solid white; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%;')
    section(style='width: 1px; height: 3em; border-left-width: 0.1em; border-left-style: solid; border-color: white; margin-top: -0.5em; margin-left: 2.5em;')
    section.white(style='width: 5em; padding: 0.5em; text-align: center; color: rgb(255, 255, 255);background-color: #76e57b;')
      section(style='width: 1px; height: 0.5em; border-left-width: 0.1em; border-left-style: solid; border-color: white; margin-top: -0.5em; margin-left: 2em;')
      section(style='width: 100%; height: 100%; border: 1px solid white; padding: 0.5em;')
        section(style='width: 1em; display: inline-block; vertical-align: top; margin-right: 0.5em; font-size: 1em; font-family: inherit; text-align: left; text-decoration: inherit; ')
          section.brush &#x70B9;&#x51FB;&#x5916;&#x8FB9;&#x767D;&#x8272;&#x8FB9;&#x6846;
        section.brush(style='width: 1em; display: inline-block; vertical-align: top; font-size: 1em; font-family: inherit; text-align: left; text-decoration: inherit;')
          section &#x6362;&#x80CC;&#x666F;
  section.active(style='display: inline-block; width: 60%; vertical-align: top; margin-top: 0.5em; line-height: 1.5em; font-size: 87.5%; font-family: inherit; text-decoration: inherit; color: rgb(121,121,121);')
    section.brush &#x590F;&#x5929;&#x6765;&#x4E86;~&#x590F;&#x5929;&#x6765;&#x4E86;~&#x590F;&#x5929;&#x6765;&#x4E86;~&#x590F;&#x5929;&#x6765;&#x4E86;~&#x590F;&#x5929;&#x6765;&#x4E86;~&#x590F;&#x5929;&#x6765;&#x4E86;~&#x590F;&#x5929;&#x6765;&#x4E86;~&#x590F;&#x5929;&#x6765;&#x4E86;~&#x590F;&#x5929;&#x6765;&#x4E86;~&#x590F;&#x5929;&#x6765;&#x4E86;~
