
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section.white(style='margin-right: 5px; margin-left: 5px; border: 5px solid rgb(255, 255, 255); box-shadow: rgb(230, 230, 220) 1px 1px 5px 1px; border-top-left-radius: 2%; border-top-right-radius: 2%; border-bottom-right-radius: 2%; border-bottom-left-radius: 2%; color: rgb(121,121,121); background-color: rgba(255, 255, 255, 0.6);')
      p
        img(style='width:100%;border-top-left-radius: 2%; border-top-right-radius: 2%; vertical-align: middle; height: auto !important; visibility: visible !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453777528244061895.jpg', data-width='100%', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453777477408044562.jpg', alt='32b35a1ac7c8b91263ac6bc398f865ce19f5be5e7f7f-iUjIwI_fw658.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453777528244061895.jpg')
      section(style='padding: 20px 10px; border-width: 5px 0px 0px; border-style: solid none none; border-left-color: rgb(219, 219, 219); border-top-color: rgb(255, 255, 255); border-bottom-left-radius: 2%; border-bottom-right-radius: 2%;')
        p
          span.brush(style="font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif; font-size: 14px; line-height: 24px; text-align: justify;") &#x8FF7;&#x9014;&#x7684;&#x7231;&#x7EC8;&#x7A76;&#x4EE5;&#x60B2;&#x5267;&#x6536;&#x573A;&#xFF0C;&#x81F4;&#x4F7F;&#x5F88;&#x591A;&#x4EBA;&#x7231;&#x8FC7;&#x4E00;&#x6B21;&#x4FBF;&#x4E0D;&#x6562;&#x518D;&#x7231;&#xFF0C;&#x76F8;&#x4FE1;&#x4E00;&#x4E2A;&#x4EBA;&#x4EE5;&#x540E;&#x4FBF;&#x4E0D;&#x518D;&#x76F8;&#x4FE1;&#x3002;
