
section.RankEditor(data-role="section", style='font-size: 16px; line-height: normal; border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    p(style='text-align: center;')
      span.active.brush(style='font-size: 14px; color: rgb(121,121,121);') &#x6211;&#x5C31;&#x662F;&#x8FD9;&#x4E48;&#x53EF;&#x7231;
    section(style='margin-top: 0.8em; margin-right: 2em; text-align: center;')
      section(data-width='100%', style='width: 575px; line-height: 0em; border: 15px solid rgb(33, 33, 33); border-top-right-radius: 0.6em; border-top-left-radius: 0.6em; background-color: rgb(0, 0, 0); height: auto !important;')
        p
          img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455874775605003365.jpg', data-width='100%', title='1453200948991053643.jpg', alt='075f3a6cb413860a20fe5586c24ec2c2dd45aa5c492d9-ggfw17_fw658_副本_副本.jpg', style='width: 545px;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455874775605003365.jpg')
      section(data-width='100%', style='width: 575px; height: 40px; margin-top: -0.5em; border-bottom-left-radius: 0.6em; border-bottom-right-radius: 0.6em; background-image: -webkit-linear-gradient(left, rgb(91, 97, 104), rgb(230, 230, 230)); background-color: rgb(200, 200, 200);')
        br
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455874775884043315.png', data-width='40%', style='margin: auto; width: 230px; height: auto !important; visibility: visible !important;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455874775884043315.png')
    section(style='text-align: right; margin-top: -10em;')
      section(style='width: 8em; display: inline-block; height: auto !important;')
        section(data-width='100%', style='width: 128px; border-top-right-radius: 1em; border-top-left-radius: 1em; border-left-width: 10px; border-left-style: solid; border-left-color: rgb(33, 33, 34); border-right-width: 10px; border-right-style: solid; border-right-color: rgb(33, 33, 34); border-top-width: 25px; border-top-style: solid; border-top-color: rgb(33, 33, 34); height: auto !important;')
          section(style='border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; background-color: rgb(254, 254, 254);')
            section(style='line-height: 0em;')
              p
                img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455874776031046540.jpg', data-width='100%', title='1453200960844073884.jpg', alt='30d02a6aab96792a8eab4a3f54a591f8378d4120c95c-U1jQlt_fw658_副本.jpg', style='width: 108px;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455874776031046540.jpg')
        section(data-width='100%', style='width: 128px; border-bottom-left-radius: 0.6em; border-bottom-right-radius: 0.6em; text-align: center; background-color: rgb(33, 33, 34); padding: 5px;')
          section(data-bcless='spin', data-bclessp='180', style='width: 14px; height: 14px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; border: 1px solid rgb(255, 0, 0); display: inline-block;')
