
section.RankEditor(data-role="section", style='font-family: 微软雅黑; font-size: 16px; border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none; padding: 0px; margin: 0px;', data-color='rgb(216, 40, 33)', data-custom='rgb(216, 40, 33)')
    section(style='margin: 0px auto; padding: 0px;')
      section(style='width: 100%; display: inline-block; padding: 0px; margin: 0px;', data-width='100%')
        section(style='width: 90%; float: left; padding: 0px; margin: 0px;', data-width='90%')
          p(style='white-space: normal;')
            img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456473833574032291.jpg', width='100%', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453790248772069107.jpg', alt='fa9557341c3a76be2082f6276596b53f6ed8f21c9031-mobSMG_fw658.jpg', style='width: 100%; margin: 0px;', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456473833574032291.jpg')
            br
        section(style='width: 10%; float: left; padding: 0px; margin: 0px;', data-width='10%')
          section.white(style='display: inline-block; width: 30px; padding: 10px 5px; color: rgb(255, 255, 255); background-color: #f05454; margin: 0px;')
            p.brush(style='font-size: 18px; white-space: normal;') &#x7ED9;&#x5927;&#x5BB6;&#x62DC;&#x5E74;
