
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  p(style='white-space: normal;')
    br
  section(style='border: 0px none; padding: 0px;')
    section(style='font-size: 16px; line-height: normal; white-space: normal; position: static; border: 0px none;')
      section.layout(style='margin-right: auto; margin-left: auto;')
        section(style='padding: 2px 10px;')
          section(style='width: 50px; height: 50px; border: 2px solid rgb(198, 198, 199); border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; float: left; margin-right: 10px;')
            img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160106/1452063952029062264.jpg', title='1452063791345073452.jpg', alt='17ddd8f05e4fd014cf128a065e8414ce7a5ae29c821a-87qSru_fw658_副本-01.jpg', style='border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160106/1452063952029062264.jpg')
          section(data-style='clear: none;line-height:17px;padding:0 0;font-size:12px;', style='margin: 5px;')
            p(style='margin-top: 0px; margin-bottom: 0px; clear: none; font-size: 16px; line-height: 1.5em;')
              span.active(style='color: rgb(250,140,0);')
                strong.title &#x65B0;&#x699C;&#x7F16;&#x8F91;&#x5668;
            p.brush(style='margin-top: 0px; margin-bottom: 0px; clear: none; font-size: 12px; line-height: 1.5em;color: rgb(121,121,121)') &#x5185;&#x5BB9;&#x521B;&#x4E1A;&#x670D;&#x52A1;&#x5E73;&#x53F0;
        section(style='border: none; margin: 5px;')
          section(style='width: 0px; border-bottom-width: 0.6em; border-bottom-style: solid; border-top-color: rgb(198, 198, 199); border-bottom-color: rgb(198, 198, 199); height: 10px; color: inherit; margin-left: 18px; border-left-width: 0.7em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.7em !important; border-right-style: solid !important; border-right-color: transparent !important;')
          section(style='width: 0px; margin-left: 18px; border-bottom-width: 0.6em; border-bottom-style: solid; border-top-color: rgb(254, 254, 254); border-bottom-color: rgb(254, 254, 254); height: 10px; margin-top: -8px; color: inherit; float: left; border-left-width: 0.7em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.7em !important; border-right-style: solid !important; border-right-color: transparent !important;')
          section(style='text-align: center; margin-right: auto; margin-bottom: -2px; margin-left: auto; border: 2px solid rgb(198, 198, 199); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 10px;')
            p(style='margin-top: 0px; margin-bottom: 0px; border-color: rgb(198, 198, 199); text-align: justify;')
              span(style='color: rgb(127, 127, 127);')
              span.active.brush(style="color: rgb(121,121,121); font-family: zuoyeFont_mathFont, 'Microsoft Yahei', 宋体, sans-serif; line-height: 32px; font-size: 14px;") &#x4F60;&#x7B11;&#x4E00;&#x6B21;,&#x6211;&#x5C31;&#x53EF;&#x4EE5;&#x9AD8;&#x5174;&#x597D;&#x51E0;&#x5929;&#xFF1B;&#x53EF;&#x770B;&#x4F60;&#x54ED;&#x4E00;&#x6B21;,&#x6211;&#x5C31;&#x96BE;&#x8FC7;&#x4E86;&#x597D;&#x51E0;&#x5E74;...
              span(style='color: rgb(127, 127, 127); line-height: 1.6em;')
      section(style='width: 0px; height: 0px; clear: both;')
    p(style='line-height: normal; white-space: normal;')
      br
