
section.RankEditor(data-role="section", style='font-size: 16px; border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none; padding: 0px;', data-color='rgb(252, 180, 43)')
    section(style='text-align: center; margin-bottom: 20px;')
      section(style='width: 230px; height: 230px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; margin: 5px; display: inline-block; background-image: url(http://img.xdnphb.com/ueditor/edit/upload/image/20160408/1460086181613089587.jpg); background-size: cover; padding: 20px;')
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456476109766016467.jpg', style='border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; display: inline-block; margin-top: 6px; width: 180px !important; height: 180px !important;', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453801104777082503.jpg', alt='猫.jpg', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160226/1456476109766016467.jpg')
