
section.RankEditor(data-role="section", style='font-family: 微软雅黑; font-size: 16px; border: 0px none; padding: 0px;')
  p(style='white-space: normal;')
    br
  section(style='font-family:微软雅黑;font-size:16px;')
    section(style='position: static; border: 0px none; padding: 0px; margin: 0px;', data-color='rgb(253, 226, 216)', data-custom='rgb(253, 226, 216)')
      section(style='border: 2px solid rgb(255, 151, 112); background-color: rgb(253, 226, 216); color: rgb(204, 63, 10); padding: 0px; margin: 0px;')
        section(style='padding: 10px 15px; background-image: repeating-linear-gradient(-45deg, transparent, transparent 1px, rgb(255, 255, 255) 2px, rgb(255, 255, 255) 7px); margin: 0px;')
          section(style='padding: 2px; line-height: 0em; margin: 0px;')
            img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453800943490010308.jpg', style='width: 100%; margin: 0px;', width='100%', height='', border='0', title='http://7xo6kd.com1.z0.glb.clouddn.com/upload-ueditor-image-20160126-1453800934797088974.jpg', alt='0df431adcbef7609dccc76fa2ddda3cc7dd99e94.jpg', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453800943490010308.jpg')
