
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='font-size: 16px; border: 0px none; padding: 0px;')
    section(style='position: static; border: 0px none;')
      section(style='margin-bottom: 0.5em; clear: both; overflow: hidden; text-align: center;')
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20151229/1451384167402024741.jpg', data-width='50%', url='http://img.xdnphb.com/ueditor/edit/upload/image/20160408/1460098969563075490.jpg', data-ratio='0.8992805755395683', data-w='278', style='width: 277.77777099609375px; height: auto !important;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20151229/1451384167402024741.jpg')
      section.brush(data-style='text-align: center; white-space: normal;font-size: 14px; color: #3F3F3F;')
        p(style='margin-top: 0px; margin-bottom: 0px; clear: both; font-size: 15.555556297302246px; line-height: 1.5em; white-space: normal; text-align: center;')
          span(style='color: rgb(136, 136, 136); font-size: 12px;') &#x4EBA;&#x4E16;&#x95F4;
        p(style='margin-top: 0px; margin-bottom: 0px; clear: both; font-size: 15.555556297302246px; line-height: 1.5em; white-space: normal; text-align: center;')
          span(style='color: rgb(136, 136, 136); font-size: 12px;') &#x6709;&#x592A;&#x591A;&#x7684;&#x60C5;&#x611F;&#x4E0E;&#x5F52;&#x5BBF;
        p(style='margin-top: 0px; margin-bottom: 0px; clear: both; font-size: 15.555556297302246px; line-height: 1.5em; white-space: normal; text-align: center;')
          span(style='color: rgb(136, 136, 136); font-size: 12px;') &#x6211;&#x4EEC;&#x4E0D;&#x80FD;&#x628A;&#x63E1;
        p(style='margin-top: 0px; margin-bottom: 0px; clear: both; font-size: 15.555556297302246px; line-height: 1.5em; white-space: normal; text-align: center;')
          span(style='color: rgb(136, 136, 136); font-size: 12px;') &#x6784;&#x6210;&#x4E86;&#x547D;&#x8FD0;&#x7684;&#x4E0D;&#x786E;&#x5B9A;
        p(style='margin-top: 0px; margin-bottom: 0px; clear: both; font-size: 15.555556297302246px; line-height: 1.5em; white-space: normal; text-align: center;')
          span(style='color: rgb(136, 136, 136); font-size: 12px;') &#x4E0E;&#x7231;&#x60C5;&#x7684;&#x4E0D;&#x53EF;&#x6C42;
        p(style='margin-top: 0px; margin-bottom: 0px; clear: both; font-size: 15.555556297302246px; line-height: 1.5em; white-space: normal; text-align: center;')
          span(style='color: rgb(136, 136, 136); font-size: 12px;') &#x5BF9;&#x4E8E;&#x7231;&#x60C5;&#x3001;&#x4E8B;&#x4E1A;&#x3001;&#x9752;&#x6625;&#x4E0E;&#x68A6;&#x60F3;
        p(style='margin-top: 0px; margin-bottom: 0px; clear: both; font-size: 15.555556297302246px; line-height: 1.5em; white-space: normal; text-align: center;')
          span(style='color: rgb(136, 136, 136); font-size: 12px;') &#x6211;&#x4EEC;&#x901A;&#x5E38;&#x53EA;&#x80FD;&#x9ED8;&#x7136;&#x76F8;&#x5B88;
        p(style='margin-top: 0px; margin-bottom: 0px; clear: both; font-size: 15.555556297302246px; line-height: 1.5em; white-space: normal; text-align: center;')
          span(style='color: rgb(136, 136, 136); font-size: 12px;') &#x5BC2;&#x9759;&#x6C42;&#x6B22;
