
section.RankEditor(data-role="section", style='font-size: 16px; line-height: normal; position: static; border: 0px none; padding: 0px;')
  section(style='margin-top: 10px; margin-bottom: 10px; position: static;')
    section(data-width='100%', style='width: 607px; margin-top: 1.5em;')
      section(data-width='80%', style='margin: auto; width: 485.59375px; position: static; text-align: right;')
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455873493446036996.png', style='width: 3.5em; margin-top: -0.5em; margin-left: -0.5em; vertical-align: middle; position: static; -webkit-transform: rotateZ(-0.1deg);', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455873493446036996.png')
        section(style='margin-top: -1.8em; text-align: center; padding-bottom: 10px;')
          section(style='padding-right: 1em; position: static;')
            img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455873493639069041.jpg', width='100%', height='', border='0', opacity='', mapurl='', title='1453102656584060071.jpg', alt='08f790529822720ea7d145b779cb0a46f21fab64.jpg', data-width='100%', style='border: 10px solid white; box-shadow: rgb(102, 102, 102) 2px 2px 5px; vertical-align: middle; width: 469.59375px;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160219/1455873493639069041.jpg')
      section(style='padding: 10px;')
        p(style='text-align: center;')
          span.active.brush(style="color: rgb(121,121,121); font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif; font-size: 14px; line-height: 24px; text-align: justify;") &#x4EBA;&#x4E16;&#x95F4;&#x6709;&#x592A;&#x591A;&#x7684;&#x60C5;&#x611F;&#x4E0E;&#x5F52;&#x5BBF;&#x6211;&#x4EEC;&#x4E0D;&#x80FD;&#x628A;&#x63E1;&#xFF0C;&#x6784;&#x6210;&#x4E86;&#x547D;&#x8FD0;&#x7684;&#x4E0D;&#x786E;&#x5B9A;&#x4E0E;&#x7231;&#x60C5;&#x7684;&#x4E0D;&#x53EF;&#x6C42;...
