style.
	ul{
		float: left;
		width: 100px;
	}
	#editor{
		float: left;
	}
div
	ul
		li(data-role="title")
			a(href="javascript:void(0)") 标题
		li(data-role="content")
			a(href="javascript:void(0)") 正文
		li
			a(href="javascript:void(0)") 图片
		li
			a(href="javascript:void(0)") 标题
		li
			a(href="javascript:void(0)") 标题

	script(id="editor", type="text/plain", style="width:320px;height:600px;")