section.RankEditor(data-role="section", style='box-sizing: border-box; font-size: 16px; border: 0px none; padding: 0px; background-color: rgb(255, 255, 255);')
  section(style='position: static; box-sizing: border-box; font-size: 16px; border: 0px none; padding: 0px;')
    section(style='margin: 10px 0px; position: static; box-sizing: border-box; font-size: 16px;')
      section(style='padding-top: 1.2em; box-sizing: border-box; font-size: 16px;')
        section(style='border-top: 2px solid #76e57b; border-bottom: 2px solid #76e57b; box-sizing: border-box; font-size: 16px;')
          section(style='width: 30px; height: 30px; margin: -16px 30% 10px; box-sizing: border-box; font-size: 16px;')
            section(style=' transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); box-sizing: border-box; font-size: 16px;')
              section(style='width: 30px; height: 30px; background-color: rgb(255, 255, 255) ! important; border-left: 2px solid #76e57b; border-top: 2px solid #76e57b; box-sizing: border-box; font-size: 16px;')
                section(style='width: 22px; height: 22px; margin: 2px; border: 2px solid  #76e57b; box-sizing: border-box; font-size: 16px;')
                  section(style='width: 16px; height: 16px; margin: 1px auto auto; border: 1px solid #76e57b; box-sizing: border-box; font-size: 16px;')
                    section(style='width: 0px; margin: 1px auto auto; border-left: 12px solid #76e57b; border-bottom: 12px solid transparent ! important; box-sizing: border-box; font-size: 16px;')
          section(style='text-align: center; margin: -0.5em 0px 0.5em; box-sizing: border-box; font-size: 16px;')
            section(style='box-sizing: border-box; font-size: 16px;')
              section(style='box-sizing: border-box; font-size: 16px;')
                section(style='text-align: left; position: static; box-sizing: border-box; font-size: 16px;')
                  section.active(style='text-align: center; color: rgb(121,121,121); box-sizing: border-box; font-size: 16px;')
                    section.brush(style='box-sizing: border-box; font-size: 16px;') &#x70B9;&#x51FB;&#x4E0A;&#x65B9;&ldquo;&#x65B0;&#x699C;&rdquo;&#x53EF;&#x8BA2;&#x9605;&#x54E6;&#xFF01;
