
section.RankEditor(data-role="section", style='border: 0px none; margin: 1em auto; width: 100%; box-sizing: border-box; padding: 0px;')
  p(style='box-sizing: border-box;')
    img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452240095631061637.gif', style='margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452240095631061637.gif')
