
section.RankEditor(data-role="section", style='box-sizing: border-box; font-size: 16px; border: 0px none; padding: 0px;')
  section(style='position: static; box-sizing: border-box; font-size: 16px; border: 0px none; padding: 0px;')
    section(style='margin-top: 10px; margin-bottom: 10px; text-align: center; position: static; box-sizing: border-box; font-size: 16px;')
      section(style='padding-bottom: 0.8em; box-sizing: border-box; font-size: 16px;')
        section(style='display: inline-block; border: 2px solid #57d9ff; background-color: rgb(255, 255, 255); box-sizing: border-box; font-size: 16px;')
          section(style='margin: 0.5em; box-sizing: border-box; font-size: 16px;')
            section(style='display: inline-block; vertical-align: top; border-bottom: 2px dotted #57d9ff; border-color: #57d9ff; box-sizing: border-box; font-size: 16px;')
              section(style='box-sizing: border-box; font-size: 16px;')
                section(style='position: static; box-sizing: border-box; font-size: 16px;')
                  section(style='box-sizing: border-box; font-size: 16px;')
                    section.active.brush(style='box-sizing: border-box; font-size: 16px;color:rgb(121,121,121)') &ldquo;&#x70B9;&#x51FB;&rdquo;&lsquo;&#x9605;&#x8BFB;&#x539F;&#x6587;&rsquo;
          section(style='margin: 0px 0px -12px 15%; box-sizing: border-box; font-size: 16px;')
            section(style='width: 0px; margin-bottom: -15px; border-top: 15px solid #57d9ff; border-left: 15px solid transparent ! important; border-right: 15px solid transparent ! important; box-sizing: border-box; font-size: 16px;')
            section(style='width: 0px; margin-left: 3px; border-top: 12px solid rgb(255, 255, 255); border-left: 12px solid transparent ! important; border-right: 12px solid transparent ! important; box-sizing: border-box; font-size: 16px;')
