
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  p(style='text-align: center;')
    img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453795759918086117.gif', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453795759918086117.gif')
