
section.RankEditor(data-role="section", style='border: 0px none; margin: 5px 0px 0px; padding: 0px; background: none;')
  section(style='margin: -15px auto 0px 100px; float: none; width: 0px; height: 0px; border-left: 4px solid transparent; border-right: 22px solid transparent; border-bottom: 24px solid #fff10c;') &nbsp;
  section(style='margin-top: -1px; border: 3px solid #fff10c; margin-bottom: 0px; min-height: 40px; visibility: visible; height: 40px; line-height: 37px; border-radius: 10px; text-align: center; background: transparent none repeat scroll 0% 0%;')
    strong.brush
      span.active(style='font-size:14px;color: rgb(121,121,121);')
        | &#x70B9;&#x51FB;&#x4E0A;&#x65B9;
        span.active(style='color: rgb(255,140,0);') &ldquo;&#x65B0;&#x699C;&rdquo;
        | &#x5173;&#x6CE8;&#x6211;&#x4EEC;
  p
    br
