
section.RankEditor(data-role="section", style='border: 0px none; width: 100%; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0px;')
  section(style='display: inline-block; vertical-align: top;')
    section(style='width: 0px; margin-bottom: -0.4em; margin-left: 1em; border-left-width: 0.5em; border-left-style: solid; border-left-color: #f05454; border-bottom-width: 0.5em; border-bottom-style: solid; border-bottom-color: #f05454; border-right-width: 0.5em !important; border-right-style: solid !important; border-right-color: transparent !important; border-top-width: 0.5em !important; border-top-style: solid !important; border-top-color: transparent !important;')
    section(style='width: 0px; border-left-width: 0.8em; border-left-style: solid; border-left-color:#f05454; border-bottom-width: 0.8em; border-bottom-style: solid; border-bottom-color: #f05454; border-right-width: 0.8em !important; border-right-style: solid !important; border-right-color: transparent !important; border-top-width: 0.8em !important; border-top-style: solid !important; border-top-color: transparent !important;')
  section(style='display: inline-block; margin-top: 10px; margin-left: 10px; vertical-align: bottom; width: 80%; font-size: 1.2em; font-family: inherit; text-decoration: inherit;')
    section
      span.brush(style='font-size: 16px; color: rgb(121,121,121);')
        | &#x70B9;&#x51FB;
        strong
          span.active(style='font-size: 16px; color: #f05454;') &ldquo;&#x9605;&#x8BFB;&#x539F;&#x6587;&rdquo;
  section(style='width: 0px; height: 0px; clear: both;')
