
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  p
    img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453789843510087468.gif', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160126/1453789843510087468.gif')
