
section.RankEditor(data-role="section", style='border: 0px none; margin: 5px 0px 0px; padding: 0px; background: none;')
  p
    br
  section.white(style='margin-top: -1px; margin-bottom: 0px; min-height: 40px; visibility: visible; height: 40px; line-height: 40px; border-radius: 10px; text-align: center; box-shadow: 0px 3px 5px rgb(190, 190, 190); background: #f58fc6 none repeat scroll 0% 0%;color: rgb(255,255,255);')
    strong.brush
      span(style='font-size:14px;')
        | &uarr; &#x70B9;&#x51FB;&#x4E0A;&#x65B9;
        span(style='font-size: 14px;') &ldquo;&#x65B0;&#x699C;&rdquo;
        | &#x5173;&#x6CE8;&#x6211;&#x4EEC;
  p
    br
