
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none; padding: 0px;')
    section(style='margin-top: 10px; margin-bottom: 10px; position: static;')
      section
        img(style='width: 30px; vertical-align: top; margin-left: 16px; background-color: #f58fc6;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160115/1452826087978058763.png', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160115/1452826087978058763.png')
        section.active(style='display: inline-block; width: 60%; padding: 3px; margin-left: 8px;color:rgb(121,121,121)')
          section.brush &#x6D3B;&#x52A8;&#x5730;&#x70B9;
