
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none; padding: 0px;')
    section(style='margin-top: 10px; margin-bottom: 10px; text-align: center; position: static;')
      section(style='display: inline-block;')
        section.white(style='width: 1.6em; height: 1.6em; line-height: 1.6em; border-radius: 100%; margin-left: auto; margin-right: auto; font-size: 28.8px; color: rgb(255, 255, 255); background-color:#7880c8;')
          section N
        section(style='width: 0px; margin-top: -0.76em; border-bottom-width: 0.8em; border-bottom-style: solid; border-bottom-color: #7880c8; border-left-width: 0.8em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.5em !important; border-right-style: solid !important; border-right-color: transparent !important;')
