
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none; padding: 0px;')
    section(style='margin-top: 0.5em; margin-bottom: 0.5em; text-align: center; font-size: 21.6px; position: static;')
      section(style='margin-right: auto; margin-bottom: 4px; margin-left: auto; width: 2.5em; text-align: right; line-height: 0;')
        span(style='width: 0.3em; height: 0.3em; margin-right: 2px; display: inline-block; vertical-align: bottom; background-color: rgb(250, 140, 0);')  
        span(style='width: 0.6em; height: 0.6em; margin-left: 2px; display: inline-block; vertical-align: bottom; background-color: rgb(250, 140, 0);')  
      section(style='width: 2.5em; text-align: right; margin: auto; line-height: 0;')
        span
          section.white(style='width: 1.2em; height: 1.2em; margin-right: 2px; line-height: 1.2em; display: inline-block; vertical-align: top; color: rgb(255, 255, 255); text-align: center; background-color: rgb(250, 140, 0);') N
        span(style='width: 0.6em; height: 0.6em; margin-left: 2px; display: inline-block; vertical-align: top; background-color: rgb(250, 140, 0);')  
