
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section.active(style='position: static;')
    section(style='margin-top: 0.5em; margin-bottom: 0.5em; position: static;')
      section(style='width: 0px; border-right-width: 10px; border-right-style: solid; display: inline-block; margin-top: 1em; vertical-align: top; border-right-color: #76e57b; border-top-width: 6px !important; border-top-style: solid !important; border-top-color: transparent !important; border-bottom-width: 6px !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;')
      section.white(style='color: rgb(255, 255, 255);display: inline-block; vertical-align: middle; padding: 8px; border-radius: 0.5em; max-width: 90% !important; background-color: #76e57b;')
        section
          section(style='position: static;')
            section
              section.brush &#x65B0;&#x699C;&#xFF0C;&#x5185;&#x5BB9;&#x521B;&#x4E1A;&#x670D;&#x52A1;&#x5E73;&#x53F0;
