
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none; padding: 0px;')
    section(style='padding-left: 19px; margin-top: 10px; margin-bottom: 10px; position: static;')
      section(style='width: 0px; margin-top: 2em; margin-right: 22px; margin-left: -19px; display: inline-block; vertical-align: top;')
        section(style='width: 0px; border-right-width: 20px; border-right-style: solid; border-right-color:#f58fc6; border-top-width: 10px !important; border-top-style: solid !important; border-top-color: transparent !important; border-bottom-width: 10px !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;')
        section(style='width: 0px; margin-top: -19px; margin-bottom: -19px; margin-left: 3px; border-right-width: 18px; border-right-style: solid; border-right-color: #f58fc6; border-top-width: 9px !important; border-top-style: solid !important; border-top-color: transparent !important; border-bottom-width: 9px !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;')
      section.white(style='padding: 10px; width: 100%; margin-top: -2em; min-height: 4em; border: 1px solid #f58fc6; box-shadow: rgb(204, 204, 204) -3px 3px 5px; background-color: #f58fc6;color: rgb(255, 255, 255);')
        section
          section(style='position: static;')
            section(style='font-size: 19.2px; ')
              section.brush &#x65B0;&#x699C;&#xFF0C;&#x5185;&#x5BB9;&#x521B;&#x4E1A;&#x670D;&#x52A1;&#x5E73;&#x53F0;
