section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none; padding: 0px;')
    section(style='margin-top: 0.5em; margin-bottom: 0.5em; text-align: right; position: static;')
      section.white(style='color: rgb(255, 255, 255);display: inline-block; vertical-align: middle; padding: 8px; border-radius: 0.5em; max-width: 90% !important; background-color:#7880c8;')
        section
          section(style='position: static;')
            section
              section.brush NEWRANK.CN
      section(style='width: 0px; border-left-width: 10px; border-left-style: solid; display: inline-block; margin-top: 1em; vertical-align: top; border-left-color: #7880c8; border-top-width: 6px !important; border-top-style: solid !important; border-top-color: transparent !important; border-bottom-width: 6px !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;')
