
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none; padding: 0px;')
    section(style='margin-top: 3px; margin-bottom: 3px; position: static;')
      section.active(style='border: 1px solid #76e57b; text-align: center; width: 1.8em; height: 1.8em; line-height: 1.8em; border-radius: 100%; margin-left: auto; margin-right: auto; font-size: 18px; color: #76e57b; ')
        section N
