
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none; padding: 0px;')
    section(style='margin-top: 10px; margin-bottom: 10px; position: static;')
      section.white(style='text-align: center; width: 2.5em; height: 2.5em; line-height: 2.5em; border-radius: 100%; margin-left: auto; margin-right: auto; font-size: 28.8px; color: rgb(255, 255, 240); background-color:#57d9ff;')
        section &#x65B0;&#x699C;
