
section.RankEditor(data-role="section", style='position: static; border: 0px none; padding: 0px;')
  section(style='margin-top: 0.5em; margin-bottom: 0.5em; position: static;')
    section(style='border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #fff10c;')
    section(style='width: 0px; border-top-width: 1em; border-top-style: solid; border-top-color: #fff10c; margin: auto; border-left-width: 0.8em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.8em !important; border-right-style: solid !important; border-right-color: transparent !important;')
