
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none; padding: 0px;')
    section(style='margin-top: 0.5em; margin-bottom: 0.5em; position: static;')
      section(style='height: 10px; background: url(http://statics.xiumi.us/stc/images/templates-assets/parts/701-other/011-dividing-line-1-img0.png) repeat-x #76e57b;')
