
section.RankEditor(data-role="section", style='position: static; border: 0px none; padding: 0px;')
  section(style='margin-top: 0.5em; margin-bottom: 0.5em; overflow: hidden; position: static;')
    section(style='display: inline-block; vertical-align: middle; width: 1em; height: 1em;')
      section(style='transform: rotate(0.1deg); -webkit-transform: rotate(0.1deg);')
        section(style='width: 1em; height: 1em; border-radius: 100%; background-color: #33ebe4;')
    section(style='display: inline-block; vertical-align: middle; width: 100%; margin-right: -1em; margin-left: -1em; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color:#33ebe4;')
    section(style='display: inline-block; vertical-align: middle; width: 1em; height: 1em; border-radius: 100%; background-color: #33ebe4;')
