
section.RankEditor(data-role="section", style='position: static; border: 0px none; padding: 0px;')
  section(style='margin-top: 0.5em; margin-bottom: 0.5em; text-align: center; position: static;')
    img(style='width: 100%; vertical-align: middle; max-height: 1.2em !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20151230/1451453305702090515.png', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20151230/1451453305702090515.png')
    section(style='width: 0.6em; height: 0.6em; margin: -0.9em auto 0.9em;')
      section(style='width: 100%; height: 100%; margin-left: 1px; border-radius: 100%; background-color: #57d9ff;')
