
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none; padding: 0px;')
    section(style='margin-top: 0.5em; margin-bottom: 0.5em; position: static;')
      img(style='vertical-align: middle;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160106/1452078651989099667.png', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160106/1452078651989099667.png')
