
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='margin-right: 5px; margin-left: 5px;')
    section(style='margin-bottom: -54px; text-align: right;')
      section(style='margin-right: 10px; display: inline-block;')
        section(style='border-bottom-width: 12px; border-bottom-style: solid; border-bottom-color: #33ebe4; border-left-width: 12px; border-left-style: solid; border-left-color: transparent; border-right-width: 0px; border-right-style: solid; border-right-color: transparent; height: 0px; width: 0px; float: left;')
        section(style='float: left;')
          section(style='opacity: 0.85;')
            section.white(style='padding-right: 5px; padding-left: 5px; width: 50px; height: 50px; display: table-cell; vertical-align: middle; color: rgb(255, 255, 255); background-color:#33ebe4; text-align: center;')
              section(style='color: inherit;')
                strong.count 1
              section(style='font-size: 12px; color: inherit;')
                span(style='color:inherit') class
            section(style='border-top-width: 10px; border-top-style: solid; border-top-color: #33ebe4; border-left-width: 25px; border-left-style: solid; border-left-color: transparent; border-right-width: 25px; border-right-style: solid; border-right-color: transparent; height: 0px; width: 0px;')
        section(style='border-bottom-width: 12px; border-bottom-style: solid; border-bottom-color: #33ebe4; border-left-width: 0px; border-left-style: solid; border-left-color: transparent; border-right-width: 12px; border-right-style: solid; border-right-color: transparent; height: 0px; width: 0px; float: left;')
    section(style='padding: 50px 10px 10px; box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 6px;')
      section(style='border: 0px none;')
        section.active(style='color: #33ebe4;')
          section(style='color: inherit;')
            strong.title 冬日里的一缕阳光
      section(style='border: 0px none;')
        section(style='margin-top: 20px; margin-bottom: 20px; padding: 20px 10px; border-top-width: 1px; border-top-style: dashed; border-top-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: rgb(153, 153, 153); color: rgb(60, 60, 60); text-align: justify;')
          p(style='margin-top: 0px; margin-bottom: 0px; line-height: 1.5em;')
            span.active.brush(style='color:rgb(121,121,121); font-size:14px') 染火枫林，琼壶歌月，长歌倚楼。岁岁年年，花前月下，一尊芳酒。水落红莲，唯闻玉磬，但此情依旧。
      section(style='border: 0px none;')
        span.active.brush(style='color:rgb(121,121,121); font-size:12px; line-height: 1.5em;') 一身覆雪，雪洗风尘。凝视旷野，雪落无言。心灵沉静如冬。
