
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='border: 28px solid rgb(255, 129, 36); border-image-source: url(http://img.xdnphb.com/ueditor/edit/upload/image/20160408/1460096785163046547.png); border-image-slice: 28; padding: 10px;')
      p(style='white-space: normal;')
        br
      p.active.brush(style='color:rgb(121,121,121);white-space: normal;') 不管以什么名义，毁灭个性的做法就是专制。——约翰·斯图尔特·穆勒
      p(style='white-space: normal;')
        br
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
