
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    p(style='text-align: center; line-height: 0em; white-space: normal;')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160113/1452654585893016373.png', style='width: 100%;', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160113/1452654585893016373.png')
    section(style='margin-top: -4px; margin-left: 4px; padding: 15px; color: rgb(62, 62, 62); line-height: 24px; border: 3px solid rgb(216, 40, 33);')
      p.active.brush(style='color:rgb(121,121,121);white-space: normal;') 天堑无涯，绿杨陌上多离别，墙花路人暗想浮生。
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
  p(style='white-space: normal;')
    br
