
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='padding-left: 1em; position: static;')
      section(style='width: 4em; margin-top: 1.9em; margin-bottom: -1.8em; margin-left: -1em; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #f58fc6;')
      section(style='border-left-width: 1px; border-left-style: solid; border-left-color: #f58fc6; height: 5em; padding-left: 10px;')
      section(style='padding-top: 25px; padding-bottom: 10px; margin-top: -4em; margin-left: 1.1em; margin-right: 2.1em;')
        p.active.brush(style='color:rgb(121,121,121);white-space: normal;')
          | 开满朝颜的晚秋，我可以卸掉一身倦怠，独自踏上旅途。趁晚秋未晚，我伴疏雨，轻车铁轨，我临窗静候，看车窗物景移变，幻出迷离异芒，织成一道道流光，弹落我心蒙蒙咸埃……唯有静候。晚秋。疏雨。入梦而来。
      section(style='margin-top: -4.8em; margin-bottom: 1em;')
        section(style='height: 5em; margin-top: 1.9em; margin-bottom: -1.8em; margin-left: -1em; border-right-width: 1px; border-right-style: solid; border-right-color: #f58fc6;')
        section(style='width: 4em; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #f58fc6; float: right;')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
  p(style='white-space: normal;')
    br
