
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    p(style='text-align: center; white-space: normal;')
      img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160111/1452510307811017923.png', style='width:auto;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160111/1452510307811017923.png')
    section(style='margin: -0.75em auto 10px; padding: 20px 15px; border: 2px solid #fff10c;')
      section(data-style='font-size: 14px; line-height: 1.75em;text-align:center;')
        p.active.brush(style='font-size: 14px; line-height: 1.75em; text-align: center; white-space: normal;color:rgb(121,121,121)')
          | 秋夜冷峻云烟，渐次消褪，淡淡的月色，透过密集摇叶的缝隙，洒下斑驳的光点。摇曳着月影的婆娑，忽明忽暗，遥指苍穹，蓝色的天幕上散落着点点寒星。月色在灵动的云层间游弋，忽隐忽现、瞬息万变，呈现出无限的遐想..
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
