
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='color: inherit; padding-top: 15px; padding-bottom: 10px; padding-left: 25px; margin-right: 25px; margin-left: 25px; border-left-width: 2px; border-left-style: solid; border-left-color:#7880c8;')
      section(style='width: 20px; height: 20px; margin-left: -35px; margin-top: 4px; text-align: center; line-height: 32px; border-top-left-radius: 16px; border-top-right-radius: 16px; border-bottom-right-radius: 16px; border-bottom-left-radius: 16px; border: 2px solid #7880c8; color: inherit; background-color: rgb(254, 254, 254);')
        section(style='margin-top: -8px; color: inherit;')
          span.active.count(style='color:#7880c8; font-size:14px') 1
      section(style='margin-top: -20px; color: inherit;')
        p(style='font-size: 14px; color: inherit; white-space: normal;')
          span.active.title(style='color:#7880c8; font-size:18px') 图片链接
        p(style='font-size: 14px; color: inherit; white-space: normal;')
          br
        section(style='padding-bottom: 10px; color: inherit;')
          p.active.brush(style='line-height: 1.5em; font-size: 14px; color: rgb(121,121,121); white-space: normal;') 我微笑着看你来的方向，并不意味着我快乐，不眠夜，馨香若兰的气息，是对影似水的柔情。
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
