
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin-top: 2em; margin-right: auto; margin-left: auto; padding-top: 0.5em; padding-bottom: 0.5em; white-space: normal; border-style: solid none; border-top-width: 1px; border-top-color: #f05454; font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit;  border-bottom-width: 1px; border-bottom-color: #f05454;')
      section(style='margin-top: -1.2em; text-align: center; border: none; line-height: 1.4;')
        span.white.title(style='background-color: #f05454; border-color: rgb(183, 184, 184); color:#fff;font-family: inherit; font-size: 1em; font-weight: inherit; padding: 8px 23px; text-decoration: inherit;') 诗歌
      section(data-style='white-space: normal; text-align: left;font-size: 14px;line-height: 1.5em; ', style='padding: 16px 16px 10px;line-height: 1.4; font-family: inherit; font-size: 1em;')
        p(style='line-height: 1.5em;')
          span.active.brush(style='color:rgb(121,121,121); font-size:14px')
            | 开满朝颜的晚秋，我可以卸掉一身倦怠，独自踏上旅途。趁晚秋未晚，我伴疏雨，轻车铁轨，我临窗静候，看车窗物景移变，幻出迷离异芒，织成一道道流光，弹落我心蒙蒙咸埃……唯有静候。晚秋。疏雨。入梦而来。
            span(style='font-family: inherit; text-decoration: inherit;')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
