
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin-right: auto; margin-left: auto;')
      section(style='border: 30px solid rgb(255, 129, 36); border-image-source: url(http://img.xdnphb.com/ueditor/edit/upload/image/20160408/1460095844657091112.png); border-image-slice: 42; padding: 5px;')
        p.active.brush(style='color:rgb(121,121,121);white-space: normal;') 一身覆雪，雪洗风尘。凝视旷野，雪落无言。心灵沉静如冬
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
