
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin: 10px auto;')
      section.white(style='display: inline-block; width: 100%; line-height: 0; color: rgb(255, 255, 255); background-color: #f58fc6;', data-width='100%')
        section(style='height: 8px; margin-top: -8px; margin-bottom: -8px;')
          section(style='margin-right: auto; margin-bottom: -8px; margin-left: -4px; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; line-height: 1; text-decoration: inherit; border-color: rgb(136, 191, 177); display: inline-block; height: 10px; width: 10px; background-color: rgb(254, 254, 254);')
          section(style='margin-top: 4px; margin-right: -4px; margin-left: -4px; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; line-height: 1; text-decoration: inherit; border-color: rgb(136, 191, 177); display: inline-block; height: 10px; width: 10px; float: right; background-color: rgb(254, 254, 254);')
          section(style='padding: 2px; line-height: 2em; border: 1px solid rgb(254, 254, 254); font-size: 14px; margin-top: 14px; margin-right: 10px; margin-left: 10px;')
            section(style='padding: 6px; line-height: 2em; border: 1px solid rgb(254, 254, 254);')
              p.brush(style='white-space: normal;')
                | 从生命的开始，见到第一缕阳光，你就一直在我身旁，和我一起成长，一起历经人生的酸甜苦辣，有时颓废，有时忧伤，你都沉默的拍拍我的肩膀；有时快乐，有时幸福，你都会飞扬的随着我手舞足蹈。
          section(style='margin-right: auto; margin-bottom: -10px; margin-left: -4px; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; line-height: 1; text-decoration: inherit; border-color: rgb(136, 191, 177); display: inline-block; height: 10px; width: 10px; background-color: rgb(254, 254, 254);')
          section(style='margin: 6px -4px -4px; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; line-height: 1; border-color: rgb(136, 191, 177); display: inline-block; height: 10px; width: 10px; float: right; background-color: rgb(254, 254, 254);')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
