
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin-right: auto; margin-left: auto;')
      section(style='border: 35px solid rgb(255, 129, 36); border-image-source: url(http://img.xdnphb.com/ueditor/edit/upload/image/20160408/1460087785800063225.png); border-image-slice: 45; padding: 5px;')
        p.active.brush(style='color:rgb(121,121,121);white-space: normal;') 注定了，三千点将之台，无君之影。注定了，银甲披挂之身，无君之迹。早已注定，华发红颜，素手灼云，煮酒祝酒，只对月中空影，水中孤魂。只是注定了，只身一人！
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
