
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section.active(style='margin: 3px auto; padding: 15px; color: rgb(121,121,121); line-height: 24px; box-shadow: rgb(255,255,255) 0px 0px 2px; border: 2px solid #76e57b;')
      p.brush(style='white-space: normal;') 月光的森然，乐律的精魂，一切只是幻影，稍纵即逝
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
