
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='border: 1px dashed rgb(220, 216, 217); margin: 5px 2px; padding: 20px 10px;box-shadow: rgb(200, 200, 200) 0px 0px 4px;')
      h2(style='font-size: 24px; border-color: rgb(216, 40, 33); line-height: normal; text-align: center;')
        span.active.brush(style='color:rgb(121,121,121);font-size:20px') Your Morning
      h2(style='font-size: 24px; border-color: rgb(216, 40, 33); line-height: normal; text-align: center;')
        span.active.brush(style='color:rgb(121,121,121);font-size:20px') Escape With Flair
      p(style='white-space: normal;')
        br
      section.active(data-style='color: inherit; box-sizing: border-box;line-height: 2em; text-align: center;', style='color: rgb(121,121,121); border-color: rgb(216, 40, 33);')
        p.brush(style='text-align: center; line-height: 2em; white-space: normal;') 该不该搁下重重的壳
        p.brush(style='text-align: center; line-height: 2em; white-space: normal;') 寻找到底哪里有蓝天
        p.brush(style='text-align: center; line-height: 2em; white-space: normal;') 随着轻轻的风轻轻地飘
        p.brush(style='text-align: center; line-height: 2em; white-space: normal;') 历经的伤都不感觉疼
        p.brush(style='line-height: 2em; text-align: center; white-space: normal;') ......
        p(style='white-space: normal;')
          br
      section(style='margin-top: 0.8em; margin-bottom: 0.5em; overflow: hidden; text-align: center;')
        section.active.brush(style='display: inline-block; color: rgb(168, 130, 99); font-weight: bold; padding: 10px 15px; line-height: 20px; vertical-align: top; border: 1px solid rgb(168, 130, 99);') READ MORE
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
