
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='margin-right: 10px; margin-left: 10px; padding-top: 10px; padding-bottom: 10px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(255, 255, 255);')
    section(style='display: inline-block; width: 100%;')
      section(style='width: 20%; float: left;')
        section.white(style='margin-right: auto; margin-left: auto; width: 25px; height: 25px; text-align: center; color: rgb(255, 255, 255); background-color: #fff10c; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%;')
          span(style='color: inherit;') A
      section(style='width: 80%; float: left;')
        section(style='color: rgb(121,121,121); font-size: 18px; line-height: 1.5em;')
          span.active.title(style='color:#fff10c;') 不够可添加
        section.active.brush(style='color: rgb(121,121,121); margin-top: 5px;')
          p(style='margin-top: 0px; margin-bottom: 0px; color: inherit; font-size: 12px; line-height: 1.5em;')
            span(style='color:inherit') 1、可以在样式里找到我继续添加更多的ABCD
          p(style='margin-top: 0px; margin-bottom: 0px; color: inherit; font-size: 12px; line-height: 1.5em;')
            span(style='color:inherit') 2、在这里输入你的内容
          p(style='margin-top: 0px; margin-bottom: 0px; color: inherit; font-size: 12px; line-height: 1.5em;')
            span(style='color:inherit') 3、在这里输入你的内容
          p(style='margin-top: 0px; margin-bottom: 0px; color: inherit; font-size: 12px; line-height: 1.5em;')
            span(style='color:inherit') 4、在这里输入你的内容
