
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='border-color:#7880c8; color: rgb(255, 255, 255); margin-top: 10px; margin-left: 2px; height: 5px; width: 65%; background-color: #7880c8;', data-width='65%')
    section(style='box-shadow: rgb(170, 170, 170) 0px 0px 4px; margin-right: 3px; margin-left: 3px; padding: 20px; background-color: rgb(254, 254, 254);')
      h2(style='font-size: 24px; border-color: #7880c8; line-height: 1.75em; text-align: justify;')
        span.active.brush(style='color:#7880c8;font-size:18px') 最美的时光遇见你
      section(data-style='color: inherit; box-sizing: border-box;line-height: 1.75em; text-align: justify;', style='color: inherit; border-color: #7880c8;')
        p.active.brush(style='border-color: #7880c8; color: rgb(121,121,121); margin-top: 0px; margin-bottom: 0px; line-height: 1.75em; text-align: justify; white-space: normal;')
          | 在最美的年华，遇到一个爱你的人，纵使刹那盛开，瞬间凋零，以一世痴念，守一场心灵的地老天荒，何尝不是一种无以伦比的幸福？三千痴缠，只为一人，掬一捧旖旎心事，无论花开花谢，情，都会以一树执念，绚烂成灵魂的永恒。
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
