
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; font-family: inherit; text-align: center; text-decoration: inherit; padding: 0px;')
  section(style='width: 0px; border-bottom-width: 1em; border-bottom-style: solid; border-bottom-color:#f05454; border-top-color:#f05454; border-left-width: 0.8em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.8em !important; border-right-style: solid !important; border-right-color: transparent !important;')
  section(style='width: 100%; height: 0px; border-top-width: 0.1em; border-top-style: solid; border-color: #f05454;')
  section.active(style=' color:#f05454;width: 100%; padding: 10px 15px; ')
    section.brush 真切的生活，真心的笑容，真挚的情感，真情的流露。面对真实，我无须掩饰。
  section(style='width: 100%; height: 0px; border-top-width: 0.1em; border-top-style: solid; border-color: #f05454;')
  section(style='width: 0px; float: right; border-top-width: 1em; border-top-style: solid; border-top-color:#f05454; border-bottom-color: #f05454; border-left-width: 0.8em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.8em !important; border-right-style: solid !important; border-right-color: transparent !important;')
  section(style='width: 0px; height: 0px; clear: both;')
