
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='font-size: 20px; letter-spacing: 3px; text-align: center; margin-right: auto; margin-left: auto; border: 3px solid #57d9ff; color: inherit;')
      section(style='color: inherit; margin-bottom: 8px; width: 0px; height: 0px; border-width: 10px; border-style: solid; border-color: #57d9ff transparent transparent #57d9ff; z-index: 1;')
      section(data-style='line-height:1.2em;color:rgb(121,121,121);font-size:12px;text-align:left;', style='margin: 5px;')
        p.active.brush(style='color:rgb(121,121,121);line-height: 1.2em; text-align: left; white-space: normal;') 注定了，三千点将之台，无君之影。注定了，银甲披挂之身，无君之迹。早已注定，华发红颜，素手灼云，煮酒祝酒，只对月中空影，水中孤魂。只是注定了，只身一人！
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
