
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin: 10px auto;')
      section(style='display: inline-block; width: 100%; line-height: 0; background-color: #57d9ff;', data-width='100%')
        section(style='height: 8px; margin-top: -8px; margin-bottom: -8px;')
          section(style='margin-right: auto; margin-bottom: -8px; margin-left: -4px; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; line-height: 1; text-decoration: inherit; border-color: rgb(248, 122, 122); display: inline-block; height: 10px; width: 10px; background-color: rgb(254, 254, 254);')
          section(style='margin-top: 4px; margin-right: -4px; margin-left: -4px; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; line-height: 1; text-decoration: inherit; border-color: rgb(248, 122, 122); display: inline-block; height: 10px; width: 10px; float: right; background-color: rgb(254, 254, 254);')
          section(style='line-height: 2em; font-size: 14px; margin-top: 14px; margin-right: 10px; margin-left: 10px; padding: 6px;')
            p.white.brush(style='color: rgb(255,255,255);white-space: normal;') 染火枫林，琼壶歌月，长歌倚楼。岁岁年年，花前月下，一尊芳酒。水落红莲，唯闻玉磬，但此情依旧。
          section(style='margin-right: auto; margin-bottom: -10px; margin-left: -4px; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; line-height: 1; text-decoration: inherit; border-color: rgb(248, 122, 122); display: inline-block; height: 10px; width: 10px; background-color: rgb(254, 254, 254);')
          section(style='margin: 6px -4px -4px; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; line-height: 1; border-color: rgb(248, 122, 122); display: inline-block; height: 10px; width: 10px; float: right; background-color: rgb(254, 254, 254);')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
