
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; text-align: center; font-family: inherit; text-decoration: inherit; padding: 0px;')
  section(style='width: 100%; display: inline-block; vertical-align: top;')
    section(style='width: 100%;')
      section(style='width: 0px; border-top-width: 1em; border-top-style: solid; border-top-color: #33ebe4; float: left; border-left-width: 1em; border-left-style: solid; border-left-color: #33ebe4; border-right-width: 1em !important; border-right-style: solid !important; border-right-color: transparent !important; border-bottom-width: 1em !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;')
      section(style='width: 0px; border-top-width: 1em; border-top-style: solid; border-top-color:#33ebe4; float: right; border-right-width: 1em; border-right-style: solid; border-right-color: #33ebe4; border-left-width: 1em !important; border-left-style: solid !important; border-left-color: transparent !important; border-bottom-width: 1em !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;')
    section.active(style='color:rgb(121,121,121);width: 100%; padding-top: 2em; padding-right: 0.5em; padding-left: 0.5em;')
      section.brush 天堑无涯，绿杨陌上多离别，墙花路人暗想浮生。
    section(style='display: inline-block; vertical-align: top; width: 100%;')
      section(style='width: 0px; float: left; border-left-width: 1em; border-left-style: solid; border-left-color: #33ebe4; border-bottom-width: 1em; border-bottom-style: solid; border-bottom-color: #33ebe4; border-top-width: 1em !important; border-top-style: solid !important; border-top-color: transparent !important; border-right-width: 1em !important; border-right-style: solid !important; border-right-color: transparent !important;')
      section(style='width: 0px; float: right; display: inline-block; border-right-width: 1em; border-right-style: solid; border-right-color: #33ebe4; border-bottom-width: 1em; border-bottom-style: solid; border-bottom-color: #33ebe4; border-top-width: 1em !important; border-top-style: solid !important; border-top-color: transparent !important; border-left-width: 1em !important; border-left-style: solid !important; border-left-color: transparent !important;')
  section(style='width: 0px; height: 0px; clear: both;')
