
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='width: 100%; margin-right: 2em; margin-bottom: 3em; font-size: 1em; font-family: inherit; text-align: justify; text-decoration: inherit; color: rgb(249, 110, 87); border-color: rgb(249, 110, 87);')
    section(style='width: 100%;')
      section(style='width: 100%; float: left; border-top-width: 1px; border-top-style: solid; border-color: rgb(249, 110, 87);')
      section(style='float: left; margin-top: -1px;')
        section(style='width: 0px; height: 8px; border-left-width: 1px; border-left-style: solid; border-color: rgb(249, 110, 87); margin-left: 23px;')
        section(style='width: 16px; margin-left: 8px;')
          section(style='width: 16px; height: 8px; border-left-width: 1px; border-left-style: solid; border-color: rgb(249, 110, 87); border-right-width: 1px; border-right-style: solid; border-bottom-width: 1px; border-bottom-style: solid;')
          section(style='width: 8px; height: 16px; margin-top: -8px; border-top-width: 1px; border-top-style: solid; border-color: rgb(249, 110, 87); border-right-width: 1px; border-right-style: solid; border-bottom-width: 1px; border-bottom-style: solid;')
        section(style='width: 8px; height: 16px; border-top-width: 1px; border-top-style: solid; border-color: rgb(249, 110, 87); border-left-width: 1px; border-left-style: solid; margin-top: -1px;')
      section(style='float: right; margin-top: -1px;')
        section(style='width: 0px; height: 8px; border-right-width: 1px; border-right-style: solid; border-color: rgb(249, 110, 87); margin-right: 8px;')
        section(style='width: 16px; margin-top: -1px;')
          section(style='width: 16px; height: 8px; border-right-width: 1px; border-right-style: solid; border-color: rgb(249, 110, 87); border-left-width: 1px; border-left-style: solid; border-bottom-width: 1px; border-bottom-style: solid;')
          section(style='width: 8px; height: 16px; margin-top: -8px; margin-left: 8px; border-left-width: 1px; border-left-style: solid; border-color: rgb(249, 110, 87); border-bottom-width: 1px; border-bottom-style: solid; border-top-width: 1px; border-top-style: solid;')
        section(style='width: 8px; height: 16px; margin-top: -1px; margin-left: 16px; border-top-width: 1px; border-top-style: solid; border-color: rgb(249, 110, 87); border-right-width: 1px; border-right-style: solid;')
    section(style='clear: both;')
    section.active.brush(style='color:rgb(121,121,121);width: 90%; margin: -1em 5% 1.3em;')
      section 雁字回时种种前尘往事，化作云烟，一声轻叹划过夜幕，倚窗倾听风语星月缠绵缱绻。
    section(style='width: 100%; margin-top: 1em;')
      section(style='width: 100%; margin-bottom: -37px; border-top-width: 1px; border-top-style: solid; border-color: rgb(249, 110, 87);')
      section(style='float: left; margin-top: -1px;')
        section(style='width: 8px; height: 16px; border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(249, 110, 87); border-left-width: 1px; border-left-style: solid; margin-top: -1px;')
        section(style='width: 16px; margin-left: 8px; margin-top: -1px;')
          section(style='width: 8px; height: 16px; border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(249, 110, 87); border-right-width: 1px; border-right-style: solid; border-top-width: 1px; border-top-style: solid;')
          section(style='width: 16px; height: 8px; margin-top: -8px; border-top-width: 1px; border-top-style: solid; border-color: rgb(249, 110, 87); border-right-width: 1px; border-right-style: solid; border-left-width: 1px; border-left-style: solid;')
        section(style='width: 0px; height: 8px; border-left-width: 1px; border-left-style: solid; border-color: rgb(249, 110, 87); margin-left: 23px;')
      section(style='float: right; margin-top: -2px;')
        section(style='width: 8px; height: 16px; margin-bottom: 1px; margin-left: 16px; border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(249, 110, 87); border-right-width: 1px; border-right-style: solid;')
        section(style='width: 16px; margin-top: -2px;')
          section(style='width: 8px; height: 16px; margin-left: 8px; border-top-width: 1px; border-top-style: solid; border-color: rgb(249, 110, 87); border-left-width: 1px; border-left-style: solid; border-bottom-width: 1px; border-bottom-style: solid;')
          section(style='width: 16px; height: 8px; margin-top: -8px; margin-right: 18px; border-left-width: 1px; border-left-style: solid; border-color: rgb(249, 110, 87); border-right-width: 1px; border-right-style: solid; border-top-width: 1px; border-top-style: solid;')
        section(style='width: 0px; height: 8px; border-right-width: 1px; border-right-style: solid; border-color: rgb(249, 110, 87);')
  section(style='width: 0px; height: 0px; clear: both;')
