
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0px;')
  section(style='width: 50%; border: 3px solid #fff10c;')
  section.active(style='color:rgb(121,121,121);clear: both; padding-top: 5px; padding-bottom: 5px; font-size: 14px; font-family: inherit; text-decoration: inherit;')
    section.brush 站在高高的神坛上，俯瞰人生，没看到世间其乐融融，只看到哀思遍地，忧伤漫天，美丽如雪般凋零，淡漠如烟般飘散。
  section(style='width: 50%; border: 3px solid #fff10c; float: right;')
  section(style='width: 0px; height: 0px; clear: both;')
