
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='border: 0px none; opacity: 1;')
    section
      section(style='margin-right: auto; margin-left: auto;')
        blockquote(style='padding: 5px 20px; border: none rgb(255, 129, 36);')
          section.white(style='margin-top: 2px; margin-bottom: 2px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; padding-top: 30px; padding-bottom: 20px; color: rgb(123, 123, 111); text-align: center; border-color: rgb(85, 85, 85); background-color: rgb(245, 245, 244);')
            p(style='margin: 10px 10px 0px; letter-spacing: 2px; color: inherit;')
              span(style='border-color: rgb(245, 245, 244); color: inherit; font-size: 20px;')
                strong(style='border-color: rgb(245, 245, 244); color: inherit;')
                  span.brush(style='color:inherit; line-height:25px; text-align:justify') 主标题
            p(style='margin: 0px 10px 15px; letter-spacing: 5px; color: inherit; border-color: rgb(245, 245, 244);')
              span.brush(style='border-color: rgb(245, 245, 244); color: inherit; font-size: 10px; line-height: 25px; text-align: justify;') 作者/副标题
            section(style='overflow-y: scroll; height: 250px; width: 100%; display: inline-block; color: inherit; overflow-x: hidden; border-color: rgb(245, 245, 244);', data-width='100%')
              section(data-style='font-size: 14px; color: inherit; border-color: rgb(245, 245, 244);', style='margin: 10px 63px; padding-top: 15px; padding-bottom: 15px; color: inherit; border-color: rgb(169, 169, 169);')
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span.brush(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px') 这里是内容
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span.brush(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px') 居中可换行
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
                p(style='color: inherit; border-color: rgb(245, 245, 244);')
                  span(style='border-color:rgb(245, 245, 244); color:inherit; font-size:14px')
                    br
      section(style='width: 0px; height: 0px; clear: both;')
    em(style='position: absolute; top: 10px; right: 20px; color: rgb(22, 201, 141); font-size: 18px; display: none;')
    section(style='width: 0px; height: 0px; clear: both;')
  p
    br
  p
    br
