
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='font-size: 15px; border: 2px solid rgb(255,140,0); padding-top: 10px; padding-right: 20px; padding-left: 20px; height: auto !important;')
      p(style='clear: none; float: right; display: inline-block; font-size: 20px; margin-left: 5px; width: 20px; color: inherit; white-space: normal;')
        strong.active.title(style='color:rgb(121,121,121)') 做最好用的编辑器
      p.white.brush(style='clear: none; float: right; display: inline-block; margin: 0px 15px; font-size: 18px; padding-right: 4px; padding-left: 4px; width: 28px; color: rgb(255,255,255); background-color: rgb(255,140,0); white-space: normal;') 新榜编辑器
      section.brush(data-style='margin-left: 6px; clear: none; float: right; display: inline; width: 16px; word-wrap: break-word;', style='color: inherit;')
        p.active(style='margin-left: 6px; clear: none; float: right; display: inline; width: 16px; color: rgb(121,121,121); white-space: normal;') 竖排文字效果，
        p.active(style='margin-left: 6px; clear: none; float: right; display: inline; width: 16px; color: rgb(121,121,121); white-space: normal;') 文字自动从右到左排列
        p.active(style='margin-left: 6px; clear: none; float: right; display: inline; width: 16px; color: rgb(121,121,121); white-space: normal;') 回车时右侧增加新列
        p(style='clear: both; color: inherit; white-space: normal;')
          br
      p(style='clear: both; color: inherit; white-space: normal;')
        br
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
  p(style='white-space: normal;')
    br
