
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='margin-top: 10px; margin-bottom: 10px;')
    section(style='border: 3px solid rgb(166, 91, 203); border-image-source: url(https://mmbiz.qlogo.cn/mmbiz/6d2NKZ8x0GPNrYzxz94ffL2ic82St1l9o4z1F36dLc1EkXTfWcibUQgTzicG6AVIicrHXnNhMpcEn1WURgO3Nds5UA/0?wx_fmt=gif); border-image-slice: 3; border-image-repeat: repeat; margin-top: 0.5em; line-height: 1.5em; padding: 15px;')
      p(style='margin-top: 0px; margin-bottom: 0px; font-family: inherit; text-indent: 2em;')
        span.active.brush(style='color:rgb(121,121,121); font-size:14px;')
          | 从生命的开始，见到第一缕阳光，你就一直在我身旁，和我一起成长，一起历经人生的酸甜苦辣，有时颓废，有时忧伤，你都沉默的拍拍我的肩膀；有时快乐，有时幸福，你都会飞扬的随着我手舞足蹈。
