
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin-top: 2px; margin-bottom: 2px;')
      section(style='height: 6px; color: inherit;')
        section(style='height: 100%; width: 6px; float: left; border: 1px solid rgb(235, 230, 217);')
        section(style='height: 100%; width: 6px; float: right; border: 1px solid rgb(235, 230, 217);')
      section.white(style='color:rgb(121,121,121);margin: -1px 5px; padding: 4px; border: 1px solid rgb(235, 230, 217); background-color: rgb(254, 251, 245);')
        section(style='border: 1px solid rgb(235, 230, 217); padding: 1em;')
          p.brush(style='white-space: normal;')
            | 天堑无涯，绿杨陌上多离别，墙花路人暗想浮生。
            span(style='line-height: inherit;')
      section(style='height: 6px; color: inherit;')
        section(style='height: 100%; width: 6px; float: left; border: 1px solid rgb(235, 230, 217);')
        section(style='height: 100%; width: 6px; float: right; border: 1px solid rgb(235, 230, 217);')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
