
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='width: 100%; height: 5px; margin-bottom: 5px; background-color: #7880c8;')
  section(style='width: 100%; height: 5px; margin-bottom: 5px; background-color:#7880c8;')
  section(style='width: 100%; height: 5px; margin-bottom: 5px; background-color: #7880c8;')
  section(style='width: 100%; height: 5px; margin-bottom: 5px; background-color:#7880c8;')
  section(style='width: 100%; height: 5px; margin-bottom: 5px; background-color: #7880c8;')
  section(style='width: 100%; height: 5px; margin-bottom: 5px; background-color: #7880c8;')
  section(style='padding-right: 1.5em; padding-left: 1.5em; margin-top: -40px;')
    section.white(style='width: 100%; padding: 15px; font-size: 1em; font-family: inherit; text-align: center; text-decoration: inherit; color: rgb(255, 255, 255); background-color:#7880c8; border-color: transparent;')
      section.brush
        | 从生命的开始，见到第一缕阳光，你就一直在我身旁，和我一起成长，一起历经人生的酸甜苦辣，有时颓废，有时忧伤，你都沉默的拍拍我的肩膀；有时快乐，有时幸福，你都会飞扬的随着我手舞足蹈。
  section(style='width: 0px; height: 0px; clear: both;')
