
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='border: none; margin: 5px auto;')
      section.active(style='color: rgb(121,121,121); font-size: 20px; text-align: center; margin-right: auto; margin-bottom: -2px; margin-left: auto; border: 2px solid #33ebe4; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 5px 5px 15px;')
        p.brush(style='white-space: normal;') 正如年年岁岁花相似，岁岁年年人不同。只道是不悔梦归处，只恨太匆匆。
      section(style='width: 0px; margin-right: auto; margin-left: auto; border-top-width: 0.6em; border-top-style: solid; border-bottom-color: #33ebe4; border-top-color:#33ebe4; height: 10px; color: inherit; border-left-width: 0.7em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.7em !important; border-right-style: solid !important; border-right-color: transparent !important;')
      section(style='width: 0px; margin-right: auto; margin-left: auto; border-top-width: 0.6em; border-top-style: solid; border-bottom-color: rgb(254, 254, 254); border-top-color: rgb(254, 254, 254); height: 10px; margin-top: -12px; color: inherit; border-left-width: 0.7em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.7em !important; border-right-style: solid !important; border-right-color: transparent !important;')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
  p(style='white-space: normal;')
    br
