
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin: 30px; border: 10px solid #f05454;')
      section(style='width: 19px; height: 80px; margin-left: -12px; background-color: rgb(254, 254, 254); -webkit-transform: rotate(45deg); display: inline-block; margin-top: -50px; color: inherit;')
      section(style='width: 19px; height: 80px; margin-right: -12px; background-color: rgb(254, 254, 254); -webkit-transform: rotate(-45deg); display: inline-block; margin-top: -50px; float: right; color: inherit;')
      section(data-style='text-align: center;color: rgb(0, 0, 0);font-size:14px;', style='padding: 5px; line-height: 1.2; font-size: 14px; margin: -15px 5px; color: inherit;')
        p.active.brush(style='color:rgb(121,121,121);text-align: center; font-size: 14px; white-space: normal;') 香销冷雨帘襟落，提阶上，空廊回风，忆艾郎，前日曾共沐，暖手同游，梦惊尤在枕边，孤影叹单，冷暖心知。
      section(style='width: 19px; height: 80px; margin-right: -12px; margin-bottom: -50px; background-color: rgb(254, 254, 254); -webkit-transform: rotate(45deg); float: right; color: inherit;')
      section(style='width: 19px; height: 80px; margin-left: -12px; margin-bottom: -50px; background-color: rgb(254, 254, 254); -webkit-transform: rotate(-45deg); color: inherit;')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
