
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  fieldset(style='border: 0px none; font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit; padding: 0px; background-color: transparent;')
    section.active(style='display: inline-block; vertical-align: top; margin-top: 0.72em; margin-right: 0.6em; font-size: 1em; font-family: inherit; font-weight: inherit; text-align: center; text-decoration: inherit; color: rgb(121,121,121);')
      section.brush 2016
    section(style='display: inline-block; vertical-align: top; width: 75%;')
      section(style='display: inline-block; float: left; width: 1em; height: 1em; margin-top: 1em; margin-bottom: -2em; margin-left: -0.5em; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; background-color: #fff10c;')
      section
        section(style='border-left-width: 1px; border-left-style: solid; border-color:#fff10c; height: 1.2em;')
        section(style='border-left-width: 1px; border-left-style: solid; border-color: #fff10c;')
          section.active(style='clear: both; margin-top: -0.42em; margin-left: 0.8em; padding-bottom: 0.2em;color: rgb(121,121,121)')
            section.brush 请输入文字
  p
    br
  section
