
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin-right: auto; margin-left: auto;')
      section(style='text-align: center;')
        section.white(style='width: 120px; height: 120px; border: 10px solid #ffc4c4; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; display: inline-block; padding: 15px; color: rgb(255,255,255); background-color: #f05454;')
          p(style='line-height: 1.5em; white-space: normal;')
            span 请输入文字
      section(style='text-align: center; margin-bottom: -100px; margin-top: -70px;')
        section(style='width: 280px; height: 280px; border: 1px solid rgb(198, 198, 199); border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; margin-right: auto; margin-left: auto; padding: 80px 20px 60px;', data-style='text-align: center; line-height: 1.5em;font-size: 16px; color: rgb(12, 12, 12);')
          p(style='line-height: 1.5em; white-space: normal;')
            span.active.brush(style='color: rgb(121, 121, 121);') 请输入内容
          p(style='line-height: 1.5em; white-space: normal;')
            span.active.brush(style='color: rgb(121, 121, 121);') 请输入内容
          p(style='line-height: 1.5em; white-space: normal;')
            span.active.brush(style='color: rgb(121, 121, 121);') 请输入内容
      section.white(style='width: 120px; height: 120px; border: 10px solid #ffc4c4; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; float: left; padding: 16px; color: rgb(255,255,255); background-color: #f05454;')
        p(style='text-align: center; line-height: 1.5em; white-space: normal;')
          span(style='line-height: 1.6em;') 请输入文字
      section.white(style='width: 120px; height: 120px; border: 10px solid #ffc4c4; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; float: right; padding: 15px; color: rgb(255,255,255); background-color:#f05454;')
        p(style='text-align: center; line-height: 1.5em; white-space: normal;')
          span(style='line-height: 1.6em;') 请输入文字
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
  p(style='white-space: normal;')
    br
