
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    p(style='white-space: normal;')
      span.active.title(style='border-color: #57d9ff; color: #57d9ff;') 新榜编辑器
    section(style='border-color: transparent transparent #57d9ff; border-style: solid; border-width: 10px; float: none; height: 0px; margin-top: -10px; margin-right: auto; margin-left: 30px; width: 0px;')
    section(style='margin-top: -1px; line-height: 22px; border: 1px solid #57d9ff; color: rgb(255, 255, 255); border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; text-align: center;')
      section(style='border-color: transparent transparent rgb(254, 254, 254); border-style: solid; border-width: 10px; height: 0px; margin-top: -18px; margin-right: auto; margin-left: 29px; width: 0px; color: inherit;')
      section(data-style='color:rgb(216,216,216)', style='padding: 10px;')
        p(style='color: inherit; white-space: normal;')
          span.brush(style='color:#D8D8D8') 请输入内容
        p(style='white-space: normal;')
          br
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
