
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='border: 0px; margin: 5px auto;')
      section(style='height: 25px; color: inherit;')
        section(style='height: 100%; width: 50px; float: left; border-top-width: 2px; border-top-style: solid; border-color:#76e57b; border-left-width: 2px; border-left-style: solid; color: inherit;')
        section(style='display: inline-block; color: rgb(172, 29, 16); clear: both; border-color:#76e57b;')
      section(data-style='color: rgb(51, 51, 51); font-size: 1em; line-height: 1.75em; word-break: break-all; word-wrap: break-word; text-align: justify;', style='margin: -0.8em 0.3em; padding: 0.8em; color: inherit;')
        p.active.brush(style='color: rgb(121,121,121); font-size: 1em; line-height: 1.75em; word-break: break-all; text-align: justify; white-space: normal;') 转身，一缕冷香远，逝雪深，笑意浅。来世你渡我，可愿？
      section(style='height: 25px; color: inherit;')
        section(style='height: 100%; width: 50px; float: right; border-bottom-width: 2px; border-bottom-style: solid; border-color: #76e57b; border-right-width: 2px; border-right-style: solid; color: inherit;')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
  p(style='white-space: normal;')
    br
