
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='text-align: center;')
      section(style='display: inline-block; color: rgb(189, 80, 0); background-color: rgb(255, 217, 189);')
        section(style='padding-top: 8px; padding-right: 8px; background-image: repeating-linear-gradient(-45deg, transparent, transparent 1px, rgb(255, 255, 255) 4px, rgb(255, 255, 255) 8px);')
          section.white(style='padding: 6px 20px; color: rgb(255, 255, 255); background-color: rgb(255, 129, 36);')
            p(style='white-space: normal;')
              span.title 新榜编辑器
      section.brush(style='color:rgb(121,121,121);padding: 40px 20px 20px; background-color: rgb(252, 252, 252); margin-top: -20px; border-right-width: 1px; border-right-style: solid; border-right-color: rgb(182, 182, 182); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(182, 182, 182);')
        p.active(style='color:rgb(121,121,121);white-space: normal;') 天堑无涯，
        p.active(style='color:rgb(121,121,121);white-space: normal;') 绿杨陌上多离别，
        p.active(style='color:rgb(121,121,121);white-space: normal;') 墙花路人暗想浮生
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
