
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='border: 0px none; opacity: 1;')
    section
      section
        section(style='color: inherit; padding-top: 25px; padding-bottom: 25px; padding-left: 25px; margin-right: 25px; margin-left: 25px; border-left-width: 2px; border-left-style: solid; border-left-color: rgb(238, 238, 238);')
          section(style='width: 16px; height: 16px; margin-left: -34px; margin-top: 4px; text-align: center; line-height: 32px; border-top-left-radius: 16px; border-top-right-radius: 16px; border-bottom-right-radius: 16px; border-bottom-left-radius: 16px; background-color: rgb(254, 254, 254); border: 2px solid rgb(204, 204, 204);', data-width='16px')
          section(style='margin-top: -20px; color: inherit;')
            p(style='font-size: 14px; color: inherit;')
              span(style='color:inherit; font-size:18px')
                strong.brush(style='color:rgb(121,121,121)') 可通过删除减少列表项
            p(style='font-size: 14px; color: inherit;')
              br
            section(style='padding-bottom: 10px; color: inherit;')
              p.brush(style='line-height: 1.5em; font-size: 14px; color:rgb(121,121,121);') 欢迎使用新榜编辑器
      section
        section.white(style='background-color: #57d9ff; color: rgb(255, 255, 255);')
          section(style='color: inherit; padding-top: 25px; padding-bottom: 25px; padding-left: 25px; margin-right: 25px; margin-left: 25px; border-left-width: 2px; border-left-style: solid; border-left-color: rgb(238, 238, 238);')
            section(style='width: 16px; height: 16px; margin-left: -34px; margin-top: 4px; text-align: center; line-height: 32px; border-top-left-radius: 16px; border-top-right-radius: 16px; border-bottom-right-radius: 16px; border-bottom-left-radius: 16px; background-color: rgb(254, 254, 254); border: 2px solid rgb(204, 204, 204);', data-width='16px')
            section(style='margin-top: -20px; color: inherit;')
              p(style='font-size: 14px; color: inherit;')
                span.brush(style='font-size:18px')
                  strong 通过复制、粘贴来增加列表项
              p(style='font-size: 14px; color: inherit;')
                br
              section(style='padding-bottom: 10px; color: inherit;')
                p.brush(style='line-height: 1.5em; font-size: 14px;') 点击样式，然后在左下角操作项中点复制，然后在列表最后或者中间插入的行里粘贴即在指定位置增加列表项
      section
        section(style='color: inherit; padding-top: 25px; padding-bottom: 25px; padding-left: 25px; margin-right: 25px; margin-left: 25px; border-left-width: 2px; border-left-style: solid; border-left-color: rgb(238, 238, 238);')
          section(style='width: 16px; height: 16px; margin-left: -34px; margin-top: 4px; text-align: center; line-height: 32px; border-top-left-radius: 16px; border-top-right-radius: 16px; border-bottom-right-radius: 16px; border-bottom-left-radius: 16px; background-color: rgb(254, 254, 254); border: 2px solid rgb(204, 204, 204);', data-width='16px')
          section(style='margin-top: -20px; color: inherit;')
            p(style='font-size: 14px; color: inherit;')
              span(style='color:inherit; font-size:18px')
                strong.brush(style='color:rgb(121,121,121)') 新榜编辑器，最便捷的操作，让您节省大量排版时间
            p(style='font-size: 14px; color: inherit;')
              br
            section(style='padding-bottom: 10px; color: inherit;')
              p.brush(style='line-height: 1.5em; font-size: 14px; color:rgb(121,121,121);') 简单便捷就选我喽！
      section(style='width: 0px; height: 0px; clear: both;', data-width='0px')
    em(style='position: absolute; top: 10px; right: 20px; color: rgb(22, 201, 141); font-size: 18px; display: none;')
    section(style='width: 0px; height: 0px; clear: both;')
  p
    br
  p
    br
