
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='border-top-width: 2px; border-top-style: solid; border-top-color: #76e57b;')
      section(style='width: 25%; float: left;', data-width='25%')
        section.white(style='display: inline-block; background-color: #76e57b; border-bottom-left-radius: 100px; border-bottom-right-radius: 100px; padding: 5px 20px 15px; margin-left: 15px;color:#FFFFFF;')
          span.count(style='font-size:36px') 1
      section(data-style='text-align:left;font-size:13px;', style='width: 65%; margin-top: 15px; margin-bottom: 10px; display: inline-block; float: right; text-align: right;', data-width='65%')
        p.active.brush(style='color:rgb(121,121,121);text-align: left; font-size: 13px; white-space: normal;') 心，很寥落，繁华散尽的平淡。热闹过后的寂静。世界仿佛突然之间消失，连声音都已死亡。
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
