
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section.white.title(style='width: 5em; height: 5em; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; float: left; padding: 12px 5px; margin-right: 10px; border-color: rgb(194, 229, 246); color: rgb(255, 255, 255); background-color: #f58fc6;')
      p(style='line-height: 1.5em; text-align: center; border-color: rgb(89, 195, 249); color: inherit; white-space: normal;')
        span(style='border-color: rgb(89, 195, 249); color: inherit;') 笔记
      p(style='line-height: 1.5em; text-align: center; border-color: rgb(89, 195, 249); color: inherit; white-space: normal;')
        span(style='border-color:#59C3F9; color:inherit; font-size:14px') PAGE1
    section(data-style='clear: none; line-height: 1.75em;')
      p(style='clear: none; color: inherit; line-height: 1.75em; white-space: normal;')
        span.active.brush(style='color:rgb(121,121,121)')
          | 红尘漫漫，埋葬了谁深深的眷恋？一卷丹青，扰乱了谁的一纸情殇？相思一曲，幽怨了谁多情的眼眸？望不穿曲终人散的凄凉;写不尽缘起缘灭的沉浮;看不透镜花水月的虚无。谁倾了我的城，我负了谁的心？从此，那一抹容颜遗忘在天涯，前世焚香，却与你错过一世动情的流连，如约盟誓终是一曲美梦绕黄梁。
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
