
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0px;')
  section(style='width: 100%; border: 2px solid #76e57b; font-family: inherit; text-decoration: inherit; ')
    section.active(style='color:#76e57b;padding-right: 15px; padding-left: 15px; margin-top: 20px; margin-bottom: 20px; font-size: 1.5em; font-family: inherit; text-align: center; text-decoration: inherit;')
      section.brush 输入标题
    section.active(style='display: inline-block; height: 2em; border: 2px solid #76e57b; overflow: hidden; white-space: nowrap; line-height: 2em; padding-right: 10px; padding-left: 10px; border-top-right-radius: 1em; border-bottom-right-radius: 1em; font-size: 1.2em; font-family: inherit; text-decoration: inherit; color: #76e57b;')
      section.brush 2016/01/13
    section.active(style='color:rgb(121,121,121);padding-right: 15px; padding-left: 15px; margin-top: 20px; margin-bottom: 20px;')
      section.brush 在我的世界里，有一种旋律，它已有了经年的灵性，让我痴迷忘返，光阴穿过林间的叶隙，我以为我就是你的天使。
  section(style='width: 0px; height: 0px; clear: both;')
