
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='border: 1px solid rgb(226, 226, 226); box-shadow: rgb(226, 226, 226) 0em 1em 0.1em -0.6em; line-height: 1.6em;')
      section.white(style='padding: 1em; color: rgb(255, 255, 255); text-align: center; font-size: 1.4em; font-weight: bold; line-height: 1.4em; box-shadow: rgb(221, 221, 221) 0em 0.2em 0.2em; background-color: #76e57b;')
        span.title(style='font-size: 1.4em;') 活动名称
      section(style='margin-top: 1.5em;')
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160113/1452672196199054505.png', style='margin-left:1em; vertical-align:top; width:30px', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160113/1452672196199054505.png')
        section.active.brush(style='display: inline-block; width: 60%; padding: 0.2em; margin-left: 0.5em; font-size: 1em; color: rgb(121,121,121);', data-width='60%') 活动时间
      section(style='margin-top: 1em;')
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160113/1452672196638020831.png', style='margin-left:1em; vertical-align:top; width:30px', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160113/1452672196638020831.png')
        section.active.brush(style='display: inline-block; width: 60%; padding: 0.2em; margin-left: 0.5em; font-size: 1em; color: rgb(121,121,121);', data-width='60%') 活动地点
      section.white(style='color: rgb(255,255,255);display: inline-block; background-color: #76e57b; height: 2em; margin-top: 1.5em; line-height: 1em;')
        section.title(style='height: 2em; padding: 0.5em 1em; text-overflow: ellipsis; font-size: 1em;') 活动介绍
      section.active.brush(style='padding: 1em; font-size: 1em; color: rgb(121,121,121);')
        | 请输入活动内容
        br
        | 请输入活动内容
        br
        | 请输入活动内容
        br
        | ......
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
