section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section.white(style='color:rgb(255,255,255); padding-top: 5px; padding-right: 10px; padding-left: 35px; margin-left: 27px; border-left-width: 2px; border-left-style: dotted; border-color: rgb(250, 140, 0) rgb(250, 140, 0) rgb(250, 140, 0) rgb(228, 228, 228);')
      section.count(style='width: 32px; height: 32px; margin-left: -53px; margin-top: 23px; color:inherit; text-align: center; line-height: 32px; border-top-left-radius: 16px; border-top-right-radius: 16px; border-bottom-right-radius: 16px; border-bottom-left-radius: 16px; background-color:#57d9ff;') 1
      section(style='margin-top: -30px; padding-bottom: 10px; color: inherit;')
        p(style='clear: both; line-height: 1.5em; font-size: 14px; color: inherit; white-space: normal;')
          span(style='font-size:16px')
            strong.active.title(style='color:rgb(121,121,121') 新榜编辑器推荐
        section.active.brush(style='clear: both; line-height: 1.5em; font-size: 14px; color:rgb(121,121,121); white-space: normal;') 香销冷雨帘襟落，提阶上，空廊回风，忆艾郎，前日曾共沐，暖手同游，梦惊尤在枕边，孤影叹单，冷暖心知。
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
