
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin: 3px; color: rgb(255, 255, 255); line-height: 24px; border: 4px solid rgb(30, 155, 232);')
      section(style='border: 0px none rgb(30, 155, 232); clear: both; color: inherit;')
        section(style='color: inherit; float: right; width: 10px; margin-bottom: -3px; border-color: rgb(138, 193, 226); margin-right: 10px; background-color: rgb(30, 155, 232); height: 10px !important;')
        section(style='color: inherit; float: left; width: 10px; margin-bottom: -3px; border-color: rgb(138, 193, 226); background-color: rgb(30, 155, 232); height: 10px !important;')
      section(style='padding-top: 10px; color: inherit; border-color: rgb(30, 155, 232);')
        section(style='color: inherit; float: right; width: 10px; margin-bottom: -2px; border-color: rgb(138, 193, 226); background-color: rgb(30, 155, 232); height: 10px !important;')
        section(data-style='color:rgb(0, 0, 0)', style='padding: 20px 10px 10px; color: inherit; border-color: rgb(30, 155, 232);')
          p.active.brush(style='color: rgb(121,121,121); white-space: normal;') 乌云蔽月，人迹踪绝，说不出如斯寂寞。
        section(style='color: inherit; width: 10px; margin-bottom: -2px; border-color: rgb(138, 193, 226); background-color: rgb(30, 155, 232); height: 10px !important;')
        section(style='color: inherit; width: 10px; margin-bottom: -2px; border-color: rgb(138, 193, 226); margin-left: 10px; background-color: rgb(30, 155, 232); height: 10px !important;')
      section(style='border: 0px none rgb(30, 155, 232); clear: both; color: inherit;')
        section(style='color: inherit; float: right; width: 10px; margin-bottom: -3px; border-color: rgb(138, 193, 226); background-color: rgb(30, 155, 232); height: 10px !important;')
        section(style='color: inherit; width: 10px; margin-bottom: -2px; border-color: rgb(138, 193, 226); background-color: rgb(30, 155, 232); height: 10px !important;')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
