
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin: 2px;')
      section(style='border: 1px solid rgb(250,140,0); padding-bottom: 1.2em; font-weight: inherit; text-align: center; text-decoration: inherit; color: inherit; background-color: transparent; display: inline-block;')
        section(style='width: 40%; float: left; display: inline-block; padding: 20px 15px; text-align: left; color: inherit;', data-width='40%')
          section(style='color: rgb(255,140,0); border-color: rgb(250,140,0);')
            section(style='border-color: rgb(250,140,0); color: inherit; display: inline-block; font-size: 24px; font-weight: inherit; line-height: 1.5em; text-decoration: inherit;')
              span(style='color: rgb(38, 38, 38);')
                strong.active.brush(style='color: rgb(121,121,121);') 新榜
          section(style='color: rgb(252, 180, 43); font-size: 1.5em; line-height: 1em; font-weight: inherit; text-align: inherit; text-decoration: inherit; border-color: rgb(250,140,0);')
            section(style='color: inherit; border-color: rgb(121,121,121);')
              span(style='color: rgb(38, 38, 38);')
                strong(style='border-color: rgb(121,121,121); color: inherit;')
                  span.active.brush(style='color: rgb(121,121,121);') 编辑器
        section(style='display: inline-block; float: right; border-left-width: 1px; border-left-style: solid; border-color:rgb(250,140,0); width: 60%; margin-top: 15px; padding-left: 1.5em; vertical-align: middle; font-weight: inherit; text-align: left; text-decoration: inherit; color: inherit;', data-width='60%')
          section(data-style='color: inherit; font-size: 14px; margin-bottom:0.8em; box-sizing: border-box; padding: 0px; line-height: 1.2em;font-weight:bold;', style='width: 100%; color: inherit; margin-top: 3px; margin-bottom: 3px;', data-width='100%')
            p(style='color: inherit; font-size: 24px; margin-bottom: 0.8em; line-height: 1em; white-space: normal;')
              strong(style='color: inherit;')
                span.active.brush(style='color: rgb(121,121,121); font-size: 14px; line-height: 1em;') 天堑无涯，绿杨陌上多离别，墙花路人暗想浮生
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
