
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section.white(style='padding: 3px 2px 2px 3px; color: rgb(255,255,255); background-color: #7880c8;')
      section(style='border: 3px solid rgb(254, 254, 254);')
        section(style='clear: both; color: inherit;')
          section(style='color: inherit; float: right; width: 14px; margin-top: -5px; border: 3px solid rgb(254, 254, 254); margin-right: -5px; height: 14px !important;')
          section(style='color: inherit; float: left; width: 14px; margin-top: -5px; border: 3px solid rgb(254, 254, 254); margin-left: -5px; height: 14px !important;')
        section(style='padding: 15px 15px 10px;', data-style='color: inherit; text-align: justify; border-color: rgb(175, 176, 222); line-height: 1.75em;color: #FFFFFF;')
          p.brush(style='text-align: justify; border-color: rgb(175, 176, 222); line-height: 1.75em; white-space: normal;')
            | 从生命的开始，见到第一缕阳光，你就一直在我身旁，和我一起成长，一起历经人生的酸甜苦辣，有时颓废，有时忧伤，你都沉默的拍拍我的肩膀；有时快乐，有时幸福，你都会飞扬的随着我手舞足蹈。
        section(style='margin-bottom: -5px;')
          section(style='float: right; width: 14px; border: 3px solid rgb(254, 254, 254); margin-right: -5px; height: 14px !important;')
          section(style='color: inherit; width: 14px; border: 3px solid rgb(254, 254, 254); margin-left: -5px; height: 14px !important;')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
