
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.8em; padding: 0px;')
  span.active(style='float: left; padding-right: 0.1em; font-size: 2.7em; line-height: 1; font-family: inherit; text-decoration: inherit; color:#fff10c;')
    section 自
  span.active(style='font-size: 1em; font-family: inherit; text-decoration: inherit; color:rgb(121,121,121);')
    section.brush
      | 你离开以后，从此就丢掉了笑颜。等待，在这春暖花开的季节，听候鸟南归，看春花烂漫。路漫长， 却依然望不到心中那抹湛蓝。一望无垠的天际，呈现灰蒙蒙一片，荒凉了心里所有的期许和祈盼！
  section(style='width: 0px; height: 0px; clear: both;')
