
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin: 5px auto; color: rgb(255, 255, 255); border: 1px solid rgb(252, 180, 43);')
      section(style='clear: both; color: inherit;')
        section(style='color: inherit; float: right; width: 11px; margin-top: -1px; border: 1px solid rgb(252, 180, 43); margin-right: 10px; height: 11px !important;')
        section(style='color: inherit; float: right; width: 11px; margin-top: -1px; border: 1px solid rgb(252, 180, 43); margin-right: -1px; height: 11px !important;')
        section(style='color: inherit; float: left; width: 11px; margin-top: -1px; border: 1px solid rgb(252, 180, 43); margin-left: 10px; height: 11px !important;')
        section(style='color: inherit; float: left; width: 11px; margin-top: -1px; border: 1px solid rgb(252, 180, 43); margin-left: -1px; height: 11px !important;')
      section(style='padding-top: 10px; color: inherit; border-color: rgb(252, 180, 43);')
        section(style='color: inherit; float: right; width: 12px; border: 1px solid rgb(252, 180, 43); margin-top: -1px; margin-right: -1px; height: 11px !important;')
        section(style='color: inherit; float: right; width: 11px; border: 1px solid rgb(252, 180, 43); margin-top: -1px; margin-right: -1px; height: 11px !important;')
        section(style='color: inherit; float: left; width: 12px; border: 1px solid rgb(252, 180, 43); margin-top: -1px; margin-left: -1px; height: 11px !important;')
        section(style='color: inherit; float: left; width: 11px; border: 1px solid rgb(252, 180, 43); margin-left: -1px; margin-top: -1px; height: 11px !important;')
      section(style='padding-top: 10px; color: inherit; border-color: rgb(252, 180, 43);')
        section(style='color: inherit; float: right; width: 12px; border: 1px solid rgb(252, 180, 43); margin-top: -1px; margin-right: -1px; height: 11px !important;')
        section(style='color: inherit; float: left; width: 12px; border: 1px solid rgb(252, 180, 43); margin-top: -1px; margin-left: -1px; height: 11px !important;')
        section(style='padding: 20px;', data-style='color: inherit; text-align: center; color: rgb(12, 12, 12);line-height: 1.75em;')
          p.active.brush(style='text-align: center; color: rgb(121, 121, 121); line-height: 1.75em; white-space: normal;') 人的一生相聚亦难别亦难，并不是心心相映的两个人就一定会在一起，之间总是会有想不到的阻隔，让人欲罢不能。
      section(style='color: inherit; border-color: rgb(252, 180, 43);')
        section(style='color: inherit; float: right; width: 12px; border: 1px solid rgb(252, 180, 43); margin-top: -1px; margin-right: -1px; height: 11px !important;')
        section(style='color: inherit; float: left; width: 12px; border: 1px solid rgb(252, 180, 43); margin-top: -1px; margin-left: -1px; height: 11px !important;')
      section(style='padding-top: 10px; color: inherit; border-color: rgb(252, 180, 43);')
        section(style='color: inherit; float: right; width: 12px; border: 1px solid rgb(252, 180, 43); margin-top: -1px; margin-right: -1px; height: 11px !important;')
        section(style='color: inherit; float: right; width: 11px; border: 1px solid rgb(252, 180, 43); margin-top: -1px; margin-right: -1px; height: 11px !important;')
        section(style='color: inherit; float: left; width: 12px; border: 1px solid rgb(252, 180, 43); margin-top: -1px; margin-left: -1px; height: 11px !important;')
        section(style='color: inherit; float: left; width: 11px; border: 1px solid rgb(252, 180, 43); margin-left: -1px; margin-top: -1px; height: 11px !important;')
      section(style='margin-bottom: -1px; padding-top: 10px; color: inherit; border-color: rgb(252, 180, 43);')
        section(style='color: inherit; float: right; width: 12px; border: 1px solid rgb(252, 180, 43); margin-top: -1px; margin-right: -1px; height: 11px !important;')
        section(style='color: inherit; float: right; width: 11px; border: 1px solid rgb(252, 180, 43); margin-top: -1px; margin-right: -1px; height: 11px !important;')
        section(style='color: inherit; float: right; width: 11px; border: 1px solid rgb(252, 180, 43); margin-top: -1px; margin-right: -1px; height: 11px !important;')
        section(style='color: inherit; float: left; width: 11px; border: 1px solid rgb(252, 180, 43); margin-top: -1px; margin-left: 10px; height: 11px !important;')
        section(style='color: inherit; float: left; width: 11px; border: 1px solid rgb(252, 180, 43); margin-left: -1px; margin-top: -1px; height: 11px !important;')
        section(style='color: inherit; width: 12px; border: 1px solid rgb(252, 180, 43); margin-left: -1px; margin-top: -1px; height: 11px !important;')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
