
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin: 5px auto; color: rgb(255, 255, 255); border: 1px solid rgb(248, 122, 122);')
      section(style='clear: both; color: inherit;')
        section(style='color: inherit; float: right; width: 12px; margin-top: -1px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(248, 122, 122); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(248, 122, 122); margin-right: -1px; background-color: rgb(254, 254, 254); height: 11px !important;')
        section(style='color: inherit; float: left; width: 11px; margin-top: -1px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(248, 122, 122); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(248, 122, 122); margin-left: -1px; background-color: rgb(254, 254, 254); height: 11px !important;')
      section(style='padding-top: 10px; color: inherit; border-color: rgb(248, 122, 122);')
        section(style='color: inherit; float: right; width: 11px; border: 1px solid rgb(248, 122, 122); margin-top: -1px; margin-right: 10px; height: 11px !important;')
        section(style='color: inherit; float: left; width: 11px; border: 1px solid rgb(248, 122, 122); margin-left: 9px; margin-top: -1px; height: 11px !important;')
      section(style='padding-top: 10px; color: inherit; border-color: rgb(248, 122, 122);')
        section(style='padding: 20px;', data-style='color: inherit; text-align: justify; color: rgb(12, 12, 12);line-height: 1.75em;')
          p.active.brush(style='text-align: justify; color: rgb(121, 121, 121); line-height: 1.75em; white-space: normal;') 真切的生活，真心的笑容，真挚的情感，真情的流露。面对真实，我无须掩饰。
      section(style='color: inherit; border-color: rgb(248, 122, 122);')
        section(style='color: inherit; float: right; width: 11px; border: 1px solid rgb(248, 122, 122); margin-top: -1px; margin-right: 10px; height: 11px !important;')
        section(style='color: inherit; float: left; width: 11px; border: 1px solid rgb(248, 122, 122); margin-top: -1px; margin-left: 10px; height: 11px !important;')
      section(style='margin-bottom: -1px; padding-top: 10px; color: inherit; border-color: rgb(248, 122, 122);')
        section(style='color: inherit; float: right; width: 12px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(248, 122, 122); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(248, 122, 122); margin-top: -1px; margin-right: -1px; background-color: rgb(254, 254, 254); height: 11px !important;')
        section(style='color: inherit; float: left; width: 11px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(248, 122, 122); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(248, 122, 122); margin-top: -1px; height: 11px !important;')
        section(style='width: 12px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(248, 122, 122); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(248, 122, 122); margin-top: -1px; background-color: rgb(254, 254, 254); margin-left: -1px; height: 11px !important;')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
