
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.8em; padding: 0px;')
  span.white(style='float: left; padding-right: 0.4em; padding-left: 0.4em; margin-top: 3px; margin-right: 7px; font-size: 1em; line-height: 1.2; vertical-align: bottom; background-color: #f58fc6; text-shadow: 0px 1px; font-family: inherit; text-decoration: inherit; color: rgb(255, 255, 255); border-color: rgb(249, 110, 87);')
    section  ↑
  span.active(style='font-size: 1em; font-family: inherit; text-decoration: inherit; color: rgb(121,121,121);')
    section.brush
      | 在最美的年华，遇到一个爱你的人，纵使刹那盛开，瞬间凋零，以一世痴念，守一场心灵的地老天荒，何尝不是一种无以伦比的幸福？三千痴缠，只为一人，掬一捧旖旎心事，无论花开花谢，情，都会以一树执念，绚烂成灵魂的永恒
  section(style='width: 0px; height: 0px; clear: both;')
