
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin-right: auto; margin-left: auto;')
      section(style='border: 62px solid rgb(255, 129, 36); border-image-source: url(http://img.xdnphb.com/ueditor/edit/upload/image/20160408/1460095844657091112.png); border-image-slice: 90; padding: 5px;')
        p.active.brush(style='color:rgb(121,121,121);white-space: normal;') 站在高高的神坛上，俯瞰人生，没看到世间其乐融融，只看到哀思遍地，忧伤漫天，美丽如雪般凋零，淡漠如烟般飘散。
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
