
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='border: 0px; margin-top: 2px; margin-bottom: 2px;')
      section(style='height: 6px; color: inherit;')
        section(style='height: 100%; width: 6px; float: left; border-top-width: 2px; border-top-style: solid; border-color: #57d9ff; border-left-width: 2px; border-left-style: solid; color: inherit;')
        section(style='height: 100%; width: 6px; float: right; border-top-width: 2px; border-top-style: solid; border-color: #57d9ff; border-right-width: 2px; border-right-style: solid; color: inherit;')
        section(style='display: inline-block; color: rgb(117, 117, 118); clear: both; border-color: rgb(117, 117, 118);')
      section(style='margin: -1px 4px; padding: 0.8em; border: 1px solid #57d9ff; color: inherit;')
        section.active(style='color: rgb(121,121,121); font-size: 1em; line-height: 1.4; word-break: break-all;')
          p.brush(style='white-space: normal;')
            | 人世间有太多的情感与归宿我们不能把握，构成了命运的不确定与爱情的不可求。在这个浮华掠影幻梦破灭的年代，对于爱情、事业、青春与梦想，我们通常只能默然相守，寂静求欢。
      section(style='height: 6px; color: inherit;')
        section(style='height: 100%; width: 6px; float: left; border-bottom-width: 2px; border-bottom-style: solid; border-color: #57d9ff; border-left-width: 2px; border-left-style: solid; color: inherit;')
        section(style='height: 100%; width: 6px; float: right; border-bottom-width: 2px; border-bottom-style: solid; border-color: #57d9ff; border-right-width: 2px; border-right-style: solid; color: inherit;')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
