
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin: 5px auto; color: rgb(255, 255, 255); border: 3px solid #33ebe4;')
      section(style='clear: both; color: inherit;')
        section(style='color: inherit; float: right; width: 11px; margin-top: -2px; border: 3px solid #33ebe4; margin-right: -2px; height: 11px !important;')
        section(style='color: inherit; float: left; width: 11px; margin-top: -2px; border: 3px solid #33ebe4; margin-left: -2px; height: 11px !important;')
      section(style='padding-top: 10px; color: inherit; border-color: rgb(205, 67, 59);')
      section(style='padding: 10px;', data-style='color: inherit; text-align: center; color: rgb(12, 12, 12);line-height: 1.75em;')
        p.active.brush(style='text-align: center; color: rgb(121, 121, 121); line-height: 1.75em; white-space: normal;') 一身覆雪，雪洗风尘。凝视旷野，雪落无言。心灵沉静如冬
      section(style='margin-bottom: -2px; padding-top: 10px; color: inherit; border-color: rgb(205, 67, 59);')
        section(style='color: inherit; float: right; width: 12px; border: 3px solid #33ebe4; margin-right: -2px; height: 11px !important;')
        section(style='color: inherit; width: 12px; border: 3px solid #33ebe4; margin-left: -2px; height: 11px !important;')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
