
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin: 5px auto; border: 3px solid #7880c8; padding: 5px;')
      section(style='border: 1px solid #7880c8; padding: 15px; text-align: center; color: inherit;')
        p(style='color: inherit; font-size: 12px; white-space: normal;')
          span.brush(style='color:rgb(121,121,121);font-family:arial') 新榜编辑器
        p(style='color: inherit; white-space: normal;')
          strong(style='color:rgb(121,121,121);')
            span.brush(style='color: inherit;') 简洁便利才是真
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
  p(style='white-space: normal;')
    br
