
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='height: 6px;')
      section(style='height: 100%; width: 6px; float: left; border: 1px solid #f05454;')
      section(style='height: 100%; width: 6px; float: right; border: 1px solid #f05454;')
    section(style='margin: -1px 5px; padding: 1em; border: 1px solid #f05454;')
      p.active.brush(style='color:rgb(121,121,121);white-space: normal;') 我曾听人说过，当你不能够再拥有，你唯一可以做的，就是令自己不要忘记。——《东邪西毒》
    section(style='height: 6px; color: inherit;')
      section(style='height: 100%; width: 6px; float: left; border: 1px solid #f05454;')
      section(style='height: 100%; width: 6px; float: right; border: 1px solid #f05454;')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
