
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='padding: 0.8em; border-width: 1px 0.4em; border-style: solid; border-color:#fff10c; border-top-left-radius: 0.3em; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; border-bottom-left-radius: 0.3em;')
      p.active.brush(style='color:rgb(121,121,121);white-space: normal;') 弯弯那婉约的心弦，有一种说不出的凄楚之美，抒写的着我们飘在空中的一曲曲化蝶的旋律，琴音清绝，曲韵悠长。
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
