
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin: 5px auto;')
      section(style='height: 3em;')
        section(style='width: 6em; float: left; border-top-width: 0.4em; border-top-style: solid; border-color: #33ebe4;')
        section(style='width: 6em; float: right; border-top-width: 0.4em; border-top-style: solid; border-color: #33ebe4;')
      section(style='margin: -2.8em 0em -0.2em; padding: 0.8em; border-width: 1px 0.4em; border-style: solid; border-color: #33ebe4; border-top-left-radius: 0.3em; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em; border-bottom-left-radius: 0.3em; vertical-align: top;')
        p.brush(style='color:rgb(121,121,121);white-space: normal;') 我微笑着看你来的方向，并不意味着我快乐，不眠夜，馨香若兰的气息，是对影似水的柔情。
      section(style='width: 6em; float: left; border-bottom-width: 0.4em; border-bottom-style: solid; border-color: #33ebe4;')
      section(style='width: 6em; float: right; border-bottom-width: 0.4em; border-bottom-style: solid; border-color: #33ebe4;')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
