
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0px;')
  section(style='width: 100%; border: 2px solid rgb(255, 232, 59); font-family: inherit; text-decoration: inherit;')
    section.white(style='font-size: 1.2em; font-family: inherit; text-decoration: inherit; color: rgb(255, 255, 255); border-color: #fff10c;')
      section(style='width: 0px; border-left-width: 1.2em; border-left-style: solid; border-left-color:#fff10c; border-top-width: 1.2em; border-top-style: solid; border-top-color: #fff10c; border-right-width: 1.2em !important; border-right-style: solid !important; border-right-color: transparent !important; border-bottom-width: 1.2em !important; border-bottom-style: solid !important; border-bottom-color: transparent !important;')
      section(style='width: 1.2em; height: 2em; line-height: 2em; overflow: hidden; white-space: nowrap; margin-top: -2.5em; margin-left: 0.1em;')
        section.count 1
    section.active(style='color:rgb(121,121,121);margin-top: -1em; margin-right: 1.5em; margin-left: 1.5em; font-size: 1.5em; font-family: inherit; text-align: center; text-decoration: inherit;')
      section.title 输入标题
    section.active(style='color:rgb(121,121,121);padding-right: 15px; padding-left: 15px; margin-top: 20px; margin-bottom: 20px;')
      section.brush 有些生命自然而来的缘份，是约定俗成好了的。无力改变。只能精心的筹划痴心的遥望耐心的守候动心的注目。
  section(style='width: 0px; height: 0px; clear: both;')
