
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='border: 1px solid rgb(204, 204, 204); padding: 3px;')
      section.white(style='padding: 15px; color: rgb(255, 255, 255); border-color: rgb(89, 195, 249); background-color: #57d9ff;')
        p(style='text-align: center; color: inherit; white-space: normal;')
          br
        p(style='text-align: center; color: inherit; white-space: normal;')
          br
        p(style='text-align: center; color: inherit; white-space: normal;')
          strong(style='color:inherit')
            span.brush(style='color:inherit; font-size:24px') 高薪招聘
        p.brush(style='text-align: center; color: inherit; white-space: normal;') 点我拥有好工作
        p(style='text-align: center; color: inherit; white-space: normal;')
          br
        p(style='text-align: center; color: inherit; white-space: normal;')
          br
      section(data-style='color: rgb(89, 195, 249);line-height: 1.1;', style='padding: 9px; color: rgb(85, 85, 85); overflow-y: hidden; font-size: 14px; line-height: 20px; text-align: center;')
        h3(style='line-height: 1.1; color: inherit; margin-top: 20px; margin-bottom: 10px; font-size: 24px;')
        h3.active.brush(style='line-height: 1.1; color: inherit; margin-top: 20px; margin-bottom: 10px; font-size: 24px;')
          | 招聘求职
          br.active(style='color: inherit;')
          small.brush(style='font-size: 16px; line-height: 1; color: rgb(119, 119, 119);') 高薪工作
        p.active.brush(style='margin-top: 0px; margin-bottom: 10px; color: rgb(121,121,121); white-space: normal;') 和我一起成长，一起历经人生的酸甜苦辣，有时颓废，有时忧伤，你都沉默的拍拍我的肩膀；有时快乐，有时幸福，你都会飞扬的随着我手舞足蹈。
        p(style='margin-top: 0px; margin-bottom: 10px; color: inherit; white-space: normal;')
          br
        p(style='margin-top: 0px; margin-bottom: 10px; color: inherit; white-space: normal;')
          br
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
