
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='border: none; margin: 5px;')
      section.active(style='color: rgb(255,140,0); text-align: center; margin-right: auto; margin-bottom: -2px; margin-left: auto; border-bottom-width: 2px; border-bottom-style: solid; border-color: rgb(255, 129, 36); padding: 5px 5px 10px; border-top-width: 2px; border-top-style: solid;')
        p(style='border-color: rgb(255,140,0); color: inherit; white-space: normal;')
          span.brush(style='border-color:#FF8124; color:inherit; font-size:18px') 请输入内容
      section(style='width: 0px; margin-right: auto; margin-left: auto; border-top-width: 0.6em; border-top-style: solid; border-bottom-color: rgb(255, 129, 36); border-top-color: rgb(255, 129, 36); height: 10px; color: inherit; border-left-width: 0.7em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.7em !important; border-right-style: solid !important; border-right-color: transparent !important;')
      section(style='width: 0px; margin-right: auto; margin-left: auto; border-top-width: 0.6em; border-top-style: solid; border-bottom-color: rgb(254, 254, 254); border-top-color: rgb(254, 254, 254); height: 10px; margin-top: -12px; color: inherit; border-left-width: 0.7em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.7em !important; border-right-style: solid !important; border-right-color: transparent !important;')
    p(style='white-space: normal;')
      br
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
  p(style='white-space: normal;')
    br
