
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section.active(style='color:#33ebe4;white-space: normal; font-size: 14px; margin: 2px auto; padding: 10px; border: 2px dashed #33ebe4;')
      p.brush 站在高高的神坛上，俯瞰人生，没看到世间其乐融融，只看到哀思遍地，忧伤漫天，美丽如雪般凋零，淡漠如烟般飘散。
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
