
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='margin-right: auto; margin-left: auto;')
    section(style='border: 0px none;')
      section(style='text-align: center;')
        section.white(style='padding-right: 15px; padding-left: 15px; min-width: 2em; height: 30px; line-height: 30px; background-color:#f05454; color: rgb(255, 255, 255); display: inline-block; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; font-size: 18px; font-weight: bold; background-position: initial initial; background-repeat: initial initial;')
          section
            span.brush.title(style='color:inherit') 新榜编辑器
    section(style='border: 0px none;')
      section(style='margin-top: -20px; margin-right: 10px; margin-left: 10px; padding-top: 18px; padding-bottom: 18px; color: rgb(51, 120, 155); border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; background-position: initial initial; background-repeat: initial initial;')
        section(style='border: 0px none;')
          section.white(style='margin: 10px; width: 30px; height: 30px; color: rgb(255, 255, 255); background-color: #f05454; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; display: inline-block;')
            section(style='text-align: center; line-height: 1.8em;')
              span(style=' color:inherit') 1
          section(style='color: inherit; text-align: center; line-height: 1.8em; display: inline-block;')
            span.active.brush(style='color:#f05454') 点击我出现虚线框......
          section(style='margin-top: 10px; padding-right: 10px; padding-left: 20px;')
            p.active.brush(style='color:rgb(121,121,121); line-height:1.5em; font-size:14px') 在最美的年华，遇到一个爱你的人，纵使刹那盛开，瞬间凋零，以一世痴念，守一场心灵的地老天荒，何尝不是一种无以伦比的幸福？
        section(style='border: 0px none;')
          section.white(style='margin: 10px; width: 30px; height: 30px; background-color: #f05454; color: rgb(255, 255, 255); border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; display: inline-block;')
            section(style='text-align: center; line-height: 1.8em;')
              span(style=' color:inherit') 2
          section(style='text-align: center; color: inherit; line-height: 1.8em; display: inline-block;')
            span.active.brush(style='color:#f05454') 颜色可单独变......
          section(style='margin-top: 10px; padding-right: 10px; padding-left: 20px; color: rgb(0, 0, 0);')
            p.active.brush(style='color:rgb(121,121,121); line-height:1.5em; font-size:14px') 三千痴缠，只为一人，掬一捧旖旎心事，无论花开花谢，情，都会以一树执念，绚烂成灵魂的永恒。
