
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='margin: 10px 4px;')
    section(style='padding: 4px; background-color: rgb(254, 254, 254); box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 4px;')
      section.white(style='padding: 10px; background-color: #f58fc6; color: rgb(255,255,255); text-align: justify;')
        p.brush(style='margin-top: 0px; margin-bottom: 0px; font-size: 14px; line-height: 1.75em; text-indent: 2em;')
          | 曲终人散，天荒逝寒，风雨如晦，落花成冢。谁是谁几千年前对望的彼岸？谁为谁守望成一座永恒的碑？谁为谁把青丝熬成白发？谁为谁把青春耗成落花？谁的眼角触得了谁的眉？谁的笑容抵得了谁的泪？谁与谁？谁弃谁？谁忘谁？谁等谁？谁恋谁？谁的心依旧？谁的心伤透？谁的心难留？最终惹得，弄不清谁是谁？
    section(style='background-image: url(http://img.xdnphb.com/ueditor/edit/upload/image/20160408/1460095791718022586.png); background-size: 100% 90%; min-height: 20px; background-repeat: no-repeat no-repeat;')
