
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0px;')
  section(style='width: 6px; height: 6px; margin-left: -3px; background-color: #f05454; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%;')
  section.active(style='color:rgb(121,121,121);padding-right: 10px; padding-bottom: 5px; padding-left: 10px; width: 100%; border-left-width: 1px; border-left-style: solid; border-color:#f05454; border-bottom-width: 1px; border-bottom-style: solid; vertical-align: bottom; font-size: 1em; font-family: inherit; text-decoration: inherit;')
    section.brush 一身覆雪，雪洗风尘。凝视旷野，雪落无言。心灵沉静如冬。
  section(style='width: 6px; height: 6px; float: right; margin-top: -3px; background-color: #f05454; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%;')
  section(style='width: 0px; height: 0px; clear: both;')
