
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='margin-top: 10px; margin-bottom: 10px; width: 100%; display: inline-block;')
    section(style='width: 15%; float: left; text-align: center;')
      section(style='padding-right: 10px; padding-left: 10px;')
        img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160227/1456558904312095197.jpg', style='width:40px;display:block', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160227/1456558904312095197.jpg')
      section(style='display: inline-block; float: left; clear: none;')
        section(style='border: 0px none;')
          section.white.brush(style='margin-left: 10px; padding: 10px 12px; background-color: #7880c8; line-height: 1.5em; font-weight: bold; color: rgb(255, 255, 255);')
            p(style='color:inherit')
              | 新
              span(style='line-height: 1.6em; color: inherit;') 榜
            p(style='color:inherit')
              | 来
              span(style='line-height: 1.6em; color: inherit;') 喽
            p(style='color:inherit') ！
    section(style='width: 84%; float: left; clear: none;')
      section(style='border: 0px none;')
        section(style='padding: 20px 10px; clear: none; border-right-width: 2px; border-right-style: solid; border-right-color: #7880c8; border-top-width: 2px; border-top-style: solid; border-top-color:#7880c8; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #7880c8; line-height: 1.5em;')
          section(style='border: 0px none;')
            p(style='font-size:14px; font-weight:bold; color:rgb(55,93,166); text-align:center')
              span.active.brush(style='color:#7880c8') 我是大标题
          p(style='font-size: 14px; line-height: 1.5em; text-align: justify; text-indent: 2em;')
            span.active.brush(style='color:rgb(121,121,121)') 有些生命自然而来的缘份，是约定俗成好了的。无力改变。只能精心的筹划痴心的遥望耐心的守候动心的注目。
