
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin-right: auto; margin-left: auto;')
      section(style='border: 2px solid #57d9ff; padding-top: 10px; padding-bottom: 10px; width: 100%; display: inline-block;', data-width='100%')
        section(style='float: right; margin-right: 15px;')
          p.active.count(style='font-size: 60px; font-weight: bold; white-space: normal;color:#57d9ff;') 1
        section(style='width: 0px; height: 0px; clear: both;')
        section(style='margin-top: 20px; display: inline-block; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #57d9ff; padding: 4px 20px;')
          section.white(style='width: 25px; height: 25px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; background-color: #57d9ff; display: inline-block;')
            p(style='text-align: center; white-space: normal;')
              span(style='color: #FFFFFF;font-size:20px;') ♪
          section(style='display: inline-block; padding-left: 10px; vertical-align: top;')
            p.active.title(style='color:#57d9ff;text-align: center; line-height: 1.75em; white-space: normal;')
              strong 美文 
              | Mei Wen
        section(style='margin-top: 10px; padding: 20px;', data-style='text-align: center; line-height: 2em;color: rgb(0, 0, 0); font-size: 16px;')
          p.active.brush(style='color:rgb(121,121,121);text-align: center; line-height: 2em; white-space: normal;') 乌云蔽月，人迹踪绝，说不出如斯寂寞
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
