
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  fieldset(style='border: 0px none; margin-top: 0.8em; margin-bottom: 0.3em; text-align: center; padding: 0px;')
    section(style='width: 100%; margin-right: 2px;')
      section.active.brush(style='width: 1.5em; display: inline-block; vertical-align: top; font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit; color: rgb(121,121,121); background-color: transparent; border-color: transparent;')
        section 归去，也无风雨也无晴
      section.active(style='width: 1.5em; display: inline-block; vertical-align: top; font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit; color: rgb(121,121,121); background-color: transparent; border-color: transparent;')
        section 回首向来萧瑟处，
      section.active(style='width: 1.5em; display: inline-block; vertical-align: top; font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit; color: rgb(121,121,121); background-color: transparent; border-color: transparent;')
        section 山头斜照却相迎。
      section.active(style='width: 1.5em; display: inline-block; vertical-align: top; font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit; color: rgb(121,121,121); background-color: transparent; border-color: transparent;')
        section 料峭春风吹酒醒，微冷，
      section.active(style='width: 1.5em; display: inline-block; vertical-align: top; font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit; color: rgb(121,121,121); background-color: transparent; border-color: transparent;')
        section 谁怕？一蓑烟雨任平生。
      section.active(style='width: 1.5em; display: inline-block; vertical-align: top; font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit; color: rgb(121,121,121); background-color: transparent; border-color: transparent;')
        section 竹杖芒鞋轻胜马。
      section.active(style='width: 1.5em; display: inline-block; vertical-align: top; font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit; color: rgb(121,121,121); background-color: transparent; border-color: transparent;')
        section 何妨吟啸且徐行。
      section.active(style='width: 1.5em; display: inline-block; vertical-align: top; font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit; color: rgb(121,121,121); background-color: transparent; border-color: transparent;')
        section 莫听穿林打叶声，
      section.white.brush(style='width: 1.5em; display: inline-block; vertical-align: top; font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit; color: rgb(255,255,255); background-color: #f58fc6; border-color: transparent;')
        section 苏轼
      section.active.brush(style='width: 1.5em; display: inline-block; vertical-align: top; font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit; color: rgb(121,121,121); background-color: transparent; border-color: transparent;')
        section 定风波
  p
    br
  section
