
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='display: inline-block; vertical-align: top; width: 95%; margin-left: 1em;', data-width='95%')
      section(style='border-left-width: 1px; border-left-style: solid; border-left-color: rgb(172, 29, 16); height: 1.2em;')
      section(style='border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; margin-left: -1.8em; display: inline-block; width: 3em; height: 3em;')
        img(style='height: 100%; vertical-align: middle; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; width: 100%;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160113/1452671815422004716.png', width='100%', height='100%', border='0', data-width='100%', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160113/1452671815422004716.png')
      section(style='border-left-width: 1px; border-left-style: solid; border-color: rgb(172, 29, 16); margin-top: -2.5em; padding-bottom: 0.5em;')
        section(style='padding-left: 25px;')
          section(style='position: static;')
            section(style='padding-bottom: 8px; text-align: right;')
              section(style='text-align: left;')
                span.active.brush(style='color: #AC1D10; font-size: 18px;') 新榜编辑器
          section.135brush
            p(style='white-space: normal;')
              span(style='font-size: 14px;')
              span.active.brush(style='font-size: 14px; color: rgb(121,121,121);')
                | 秋夜冷峻云烟，渐次消褪，淡淡的月色，透过密集摇叶的缝隙，洒下斑驳的光点。摇曳着月影的婆娑，忽明忽暗，遥指苍穹，蓝色的天幕上散落着点点寒星。月色在灵动的云层间游弋，忽隐忽现、瞬息万变，呈现出无限的遐想..
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
  p(style='white-space: normal;')
    br
