
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='padding: 15px 20px; color: rgb(102, 102, 102); border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; margin-top: 20px; margin-bottom: 20px; line-height: 20px; word-break: break-all; border: 1px solid  #7880c8;')
      p.active.brush(style='color:rgb(121,121,121);white-space: normal;') 说谎和沉默可以说是现在人类社会里日渐蔓延的两大罪恶。事实上，我们经常说谎，动不动就沉默不语。——村上春树《且听风吟》
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
