
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='margin-top: 10px; margin-bottom: 10px; text-align: center;')
    section(style='margin-bottom: -19px; -webkit-transform: rotate(0deg); display: inline-block;')
      section(style='margin-right: auto; margin-left: auto; width: 25px; height: 25px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; display: table-cell; vertical-align: middle;')
        span.active(style='color:#76e57b; font-size:18px') ★
    section(style='margin-bottom:-16px; padding:20px 10px; border-top:1px solid #76e57b; border-bottom:1px solid #76e57b; color:rgb(51,51,50)')
      p(style='margin-top: 0px; margin-bottom: 0px; color: inherit; font-size: 14px; text-align: justify; line-height: 1.5em; text-indent: 2em;')
        span.active.brush(style='color:rgb(121,121,121);') 我微笑着看你来的方向，并不意味着我快乐，不眠夜，馨香若兰的气息，是对影似水的柔情。
    section(style='-webkit-transform: rotate(0deg); display: inline-block;')
      section(style='margin-right: auto; margin-left: auto; width: 25px; height: 25px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; display: table-cell; vertical-align: middle;')
        span.active(style='color:#76e57b; font-size:18px') ★
