
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='white-space: normal; margin: 20px 5px 5px; padding: 5px; border: 2px solid #f05454; line-height: 24px; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px;')
      section(style='margin-top: -25px; margin-right: 5px; margin-left: 5px; padding: 5px; text-align: center;')
        span.title(style='background-color: rgb(254, 254, 254); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; color: #f05454; font-size: 18px; padding: 10px 15px;') 新榜编辑器
      section(style='font-size: 14px; padding: 20px;')
        p(style='line-height: 1.5em;')
          span.brush(style='color: rgb(121,121,121); font-size: 15px; text-align: justify;') 香销冷雨帘襟落，提阶上，空廊回风，忆艾郎，前日曾共沐，暖手同游，梦惊尤在枕边，孤影叹单，冷暖心知。
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
  p(style='white-space: normal;')
    br
