
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin: 10px auto; width: 70%;', data-width='70%')
      section(style='border: 0px none;')
        h2.active.title(style='font-size: 16px; margin-top: 10px; margin-bottom: 10px; padding: 10px; border-top-style: solid; border-top-width: 1px; border-left-width: 0px; border-bottom-style: solid; border-bottom-width: 1px; color: #fff10c; text-align: center; border-color: #fff10c;') 大边距居中
      p.active.brush(style='text-align: right; color: inherit; white-space: normal;color:rgb(121,121,121)') 自由调整两侧边距
      section.brush(data-style='font-size:14px;text-align:center', style='color: inherit;')
        p.active(style='color: inherit; text-align: center; white-space: normal;color:rgb(121,121,121)') 单列居中样式，
        p.active(style='color: inherit; text-align: center; white-space: normal;color:rgb(121,121,121)') 内部嵌套插入其它样式，
        p.active(style='color: inherit; text-align: center; white-space: normal;color:rgb(121,121,121)') 内容宽度的自定义，
        p.active(style='color: inherit; text-align: center; white-space: normal;color:rgb(121,121,121)') 让自己的文章更与众不同。
  p(style='white-space: normal;')
    br
