
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section.layout(style='margin-right: auto; margin-left: auto; padding-right: 5px; padding-left: 5px; line-height: 10px; color: inherit; border: 2px solid #f58fc6;')
      section(style='color: inherit; height: 8px; margin-top: -8px; margin-right: 4%; margin-left: 4%; background-color: rgb(254, 254, 254);')
      section(style='line-height: 2em; color: rgb(62, 62, 62); font-size: 14px; margin: 15px 10px;')
        p.active.brush(style='color:rgb(121,121,121); white-space: normal;') 正如年年岁岁花相似，岁岁年年人不同。只道是不悔梦归处，只恨太匆匆。
      section(style='background-color: rgb(254, 254, 254); color: inherit; text-align: right; height: 10px; margin-right: 4%; margin-bottom: -4px; margin-left: 4%;')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
