
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='text-align: center;')
      section(style='border: 0px none; display: inline-block;')
        section(data-bgopacity='50%', style='width: 60px; height: 60px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; display: inline-block; padding: 8px; margin-left: -160px; background-color: rgba(170, 207, 104, 0.45098);')
          section.white(style='width: 45px; height: 45px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; box-shadow: rgb(220, 220, 220) 0px 0px 5px; display: inline-block; background-color: rgb(165, 211, 112);')
            p(style='font-size: 30px; line-height: 1.5em; white-space: normal;')
              span(style='color:#FFFFFF')
                strong.count 1
        section(data-style='font-size: 16px; text-align: center; line-height: 1.5em; ', style='width: 280px; height: 280px; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; padding: 60px 30px 10px; border: 2px solid rgb(220, 220, 224); margin-top: -50px; background-color: rgb(254, 254, 254); line-height: 2em;')
          p.active.brush(style='color:rgb(121,121,121);line-height: 1.5em; white-space: normal;') 有些生命自然而来的缘份，是约定俗成好了的。无力改变。只能精心的筹划痴心的遥望耐心的守候动心的注目。
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
