
section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; font-family: inherit; text-decoration: inherit; padding: 0px;')
  img(style='width: 2.6em; float: right; background-color: #7880c8; height: auto !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160227/1456556736123014445.png', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160227/1456556736123014445.png')
  section(style='clear: both;')
  section.active(style='padding-right: 10px; padding-left: 10px; text-align: center;color: #7880c8;')
    section.brush
      | 请输入文字
      br
      | 请输入文字
  img(style='width: 2.6em; background-color: #7880c8; height: auto !important;', src='http://img.xdnphb.com/ueditor/edit/upload/image/20160227/1456556736304015311.png', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160227/1456556736304015311.png')
  section(style='width: 0px; height: 0px; clear: both;')
