
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin-top: 10px; margin-bottom: 10px; padding-right: 3px; padding-left: 3px; position: static; text-align: justify;')
      section(style='width: 6px; height: 6px; margin-top: -3px; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; margin-left: -3px; color: rgb(255, 255, 255); background-color: #76e57b;')
      section(style='height: 3em; border-right-width: 1px; border-right-style: solid; border-right-color: #76e57b; border-top-width: 1px; border-top-style: solid; border-top-color: #76e57b; margin-top: -2px;')
      section(style='width: 6px; height: 6px; float: right; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; margin-right: -2px; color: rgb(255, 255, 255); background-color:#76e57b;')
      section(style='display: inline-block; vertical-align: top; padding-right: 15px; padding-bottom: 5px; padding-left: 15px; margin-top: -3em; width: 100%;', data-width='100%')
        p.active.brush(style='color:rgb(121,121,121);white-space: normal;') 染火枫林，琼壶歌月，长歌倚楼。岁岁年年，花前月下，一尊芳酒。水落红莲，唯闻玉磬，但此情依旧。
      section(style='margin-top: -2.9em;')
        section(style='width: 6px; height: 6px; margin-left: -3px; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; color: rgb(255, 255, 255); background-color: #76e57b;')
        section(style='height: 3em; border-left-width: 1px; border-left-style: solid; border-left-color: #76e57b; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #76e57b;')
        section(style='width: 6px; height: 6px; margin-right: -3px; margin-top: -4px; float: right; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; color: rgb(255, 255, 255); background-color:#76e57b;')
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
