
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='opacity: 0.8; border-width: 2px 2px 8px; border-style: solid; border-color: #7880c8; padding: 15px;')
      p(style='white-space: normal;')
        strong.active.brush(style='color:rgb(121,121,121)') 起身，仰望，额间清愁已入眼底。薄洒的酒香，肆意熏醉，蒸晕了两腮，嫣红。
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
