
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='border: 1px solid #7880c8; padding: 2px; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px;')
      section.white(data-style='text-align: center; color: inherit; line-height:2em;font-size:14px;', style='padding: 20px; color: rgb(255, 255, 255); border-color: #7880c8; background-color: rgba(120,128,200,0.6);')
        p.brush(style='text-align: center; color: inherit; line-height: 2em; font-size: 14px; white-space: normal;') 夜未央，流星落，情已殇。爱在夜色里永远是传奇
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
