
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style='position: static; border: 0px none;')
    section(style='margin-right: auto; margin-left: auto;')
      section(style='border: 30px solid rgb(255, 129, 36); border-image-source: url(http://img.xdnphb.com/ueditor/edit/upload/image/20160408/1460096478798070207.png); border-image-slice: 42; padding: 5px;')
        p.active.brush(style='color:rgb(121,121,121);white-space: normal;') 我终是那个寂寞的女子，斑驳在记忆的长廊，相知，相惜，一生的旋律
    section(style='width: 0px; height: 0px; clear: both;')
  p(style='white-space: normal;')
    br
  p(style='white-space: normal;')
    br
