
section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
  section(style="font-size: 14px; font-family: 'Microsoft YaHei'; margin: 5px auto;")
    section(style='margin-top: 10px; margin-bottom: 10px;')
      section(style='margin-left: 22px; margin-bottom: -2px; -webkit-transform: rotate(0deg);')
        section(style='margin-left: 1px; width: 15px; height: 15px; border-width: 2px 2px 0px 0px; border-style: solid; border-color: #57d9ff; -webkit-transform: rotate(-45deg);')
        section(style='margin-top: -8px; width: 17px; height: 15px; border-width: 0px 2px; border-style: solid; border-color: #57d9ff;')
      section(style='margin-right: auto; margin-bottom: -2px; margin-left: auto; padding:5px 10px; border-radius: 5px; border: 2px solid #57d9ff; border-image-source: none; color: inherit;')
        p(style='font-size: 14px; color: rgb(59, 60, 60); line-height: 1.5em; text-indent: 2em; text-align: justify;')
          span(style='color:inherit')
            span.active.brush(style="color: rgb(121,121,121); font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif; font-size: 15px; line-height: 24px;")
              | 秋夜冷峻云烟，渐次消褪，淡淡的月色，透过密集摇叶的缝隙，洒下斑驳的光点。摇曳着月影的婆娑，忽明忽暗，遥指苍穹，蓝色的天幕上散落着点点寒星。月色在灵动的云层间游弋，忽隐忽现、瞬息万变，呈现出无限的遐想..
