section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
	section(style='width: 100%; display: inline-block;')
		section(style='margin-top: 10px; margin-left: 10px; float: left;')
			section(style='display: inline-block;')
				section(style='float: left; display: inline-block;')
					section(style='width: 2.5em; height: 2.5em; background-color: #76e57b; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; display: table-cell; vertical-align: middle; -webkit-transform: rotate(0deg);')
						section.active(style='margin-right: auto; margin-left: auto; width: 2em; height: 2em; border-top-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-bottom-left-radius: 50%; background-color: rgb(255, 255, 255); line-height: 2em; color: #76e57b; font-size: 18px; text-align: center;')
							span.count(style='color: inherit') 1
					section(style='margin-left: 22px; margin-top: -22px; border-bottom-width: 22px; border-bottom-style: solid; border-bottom-color: #76e57b; border-right-width: 0px; border-right-style: solid; border-right-color: transparent; border-left-width: 18px; border-left-style: solid; border-left-color: transparent; float: left; display: inline-block;')
		section(style='border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color:#76e57b; float: left; display: inline-block;')
			section(style='margin-top: 16px; padding-top: 5px; padding-right: 20px; padding-left: 10px; line-height: 1.5em; font-size: 18px;')
				span.active.brush(style='color:rgb(121,121,121);') 请输入标题