section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
	section(style='position: static; border: 0px none;')
		section.layout(style='border: none; margin: 0.8em auto 0.3em;')
			section.white(style='font-size: 1em; font-weight: bold; text-align: center; text-decoration: inherit; color: rgb(255, 255, 255); border-color: rgb(250, 140, 0); display: inline-block; width: 100%;')
				section.brush(style='padding: 0.5em; line-height: 1.2em; font-size: 1em; background-color:#f58fc6;color:inherit') 新榜编辑器
				section(style='width: 0px; margin-right: auto; margin-left: auto; border-top-width: 0.6em; border-top-style: solid; border-bottom-color:#f58fc6; border-top-color:#f58fc6; height: 10px; border-left-width: 1em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 1em !important; border-right-style: solid !important; border-right-color: transparent !important;')
		section(style='width: 0px; height: 0px; clear: both;')
	p(style='white-space: normal;')
				br