section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
	section(style='margin-top: 10px; margin-bottom: -8px; text-align: center;')
		img(src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452226576335014303.png', style='width:60px; background-color:#f58fc6;', _src='http://img.xdnphb.com/ueditor/edit/upload/image/20160108/1452226576335014303.png')
	section(style='text-align: center;')
		section.white(style='padding: 5px 15px; background-color: #f58fc6; color: rgb(255, 255, 255); display: inline-block; line-height: 1.5em; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; font-size: 18px;')
			span.brush(style='color:inherit') 请输入标题