section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
	section(style='position: static; border: 0px none;')
		section.layout(style='margin-right: auto; margin-left: auto;')
			section(style='border-left-width: 6px; border-right-width: 0px; border-left-style: solid; border-left-color: #fff10c; border-right-color:#fff10c; display: inline-block; float: left; color: inherit; margin-top: 8px; border-bottom-width: 6px !important; border-top-width: 6px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important;')
			section(style='border-left-width: 6px; border-right-width: 0px; border-left-style: solid; border-left-color: #fff10c; border-right-color:#fff10c; display: inline-block; float: left; color: inherit; margin-top: 8px; border-bottom-width: 6px !important; border-top-width: 6px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important;')
			section(style='border-left-width: 20px; border-right-width: 0px; border-left-style: solid; border-left-color: #fff10c; border-right-color: #fff10c; display: inline-block; float: left; color: inherit; border-bottom-width: 15px !important; border-top-width: 15px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important;')
			section
				section(style='display: inline-block; margin-left: 10px; color: inherit; line-height: 2.3em;')
					span.active.brush(style='color:rgb(121,121,121); font-size:18px') 我是一条鱼
		section(style='width: 0px; height: 0px; clear: both;')
	p(style='white-space: normal;')