section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
	section(style='position: static; border: 0px none;')
		section(style='width: 100%;')
			section(style='width: 25%; float: left;')
				section(style='opacity: 0.8; margin-top: 5px; border-bottom-width: 10px; border-bottom-style: solid; border-bottom-color:#57d9ff; border-top-color: #57d9ff; color: inherit; float: left; border-left-width: 6px !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 6px !important; border-right-style: solid !important; border-right-color: transparent !important;')
				section(style='opacity: 0.4; border-right-width: 10px; border-left-width: 0px; border-right-style: solid; border-right-color:#57d9ff; border-left-color: #57d9ff; display: inline-block; float: left; color: inherit; margin-top: 5px; margin-left: 10px; margin-right: 5px; -webkit-transform: rotate(10deg); border-bottom-width: 6px !important; border-top-width: 6px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important;')
				section(style='border-left-width: 20px; border-right-width: 0px; border-left-style: solid; border-left-color: #57d9ff; border-right-color:#57d9ff; display: inline-block; float: left; color: inherit; -webkit-transform: rotate(10deg); border-bottom-width: 10px !important; border-top-width: 15px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important;')
			section(style='width: 50%; text-align: center; float: left; padding-right: 5px; padding-left: 5px;')
				section(style='display: inline-block;')
					span.active(style='font-size:18px;color:rgb(121,121,121)')
						strong
							span.brush 你看到的我是一个标题
			section(style='float: right; width: 25%; text-align: right;')
				section(style='display: inline-block;')
					section(style='opacity: 0.8; margin-top: 5px; border-bottom-width: 10px; border-bottom-style: solid; border-bottom-color: #57d9ff; border-top-color:#57d9ff; color: inherit; float: left; border-left-width: 6px !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 6px !important; border-right-style: solid !important; border-right-color: transparent !important;')
					section(style='opacity: 0.4; border-right-width: 10px; border-left-width: 0px; border-right-style: solid; border-right-color: #57d9ff; border-left-color:#57d9ff; display: inline-block; float: left; color: inherit; margin-top: 5px; margin-left: 10px; margin-right: 5px; -webkit-transform: rotate(10deg); border-bottom-width: 6px !important; border-top-width: 6px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important;')
					section(style='border-left-width: 20px; border-right-width: 0px; border-left-style: solid; border-left-color: #57d9ff; border-right-color:#57d9ff; display: inline-block; float: left; color: inherit; -webkit-transform: rotate(10deg); border-bottom-width: 10px !important; border-top-width: 15px !important; border-top-style: solid !important; border-bottom-style: solid !important; border-top-color: transparent !important; border-bottom-color: transparent !important;')
		section(style='width: 0px; height: 0px; clear: both;')
	p(style='white-space: normal;')