section.RankEditor(data-role="section", style='border: 0px none; padding: 0px;')
	section(style='position: static; border: 0px none;')
		section(style='text-align: center; text-decoration: inherit; color: rgb(255, 255, 255); border-color: rgb(28, 89, 165); display: inline-block;')
			section(style='padding: 10px; line-height: 1.2em; border: 1px solid rgb(255,140,0);')
				p(style='text-align: left; white-space: normal;')
					span(style='color:#000000')
						strong.active(style='color:rgb(121,121,121)')
							span.brush(style='font-size:18px') 在此输入标题
		section(style='width: 0px; height: 0px; clear: both;')
	p(style='white-space: normal;')