section.RankEditor(data-role="section", style='border: 0px none; margin-top: 0.5em; margin-bottom: 0.5em; padding: 0px;')
	section(style='width: 1em; height: 1em; display: inline-block; vertical-align: top; border-top-left-radius: 100%; border-top-right-radius: 100%; border-bottom-right-radius: 100%; border-bottom-left-radius: 100%; margin-top: 0.7em; background-color:#57d9ff;')
	section.active(style='display: inline-block; vertical-align: middle; padding: 3px 5px; margin-right: 5px; margin-left: 5px; border: 1px solid #57d9ff; border-top-left-radius: 0.5em; border-top-right-radius: 0.5em; border-bottom-right-radius: 0.5em; border-bottom-left-radius: 0.5em; font-size: 1.2em; font-family: inherit; text-decoration: inherit; max-width: 90% !important;color:rgb(121,121,121)')
		section.brush 请输入标题
	section(style='width: 0px; height: 0px; clear: both;')